In [1]:
import pandas as pd
import os
import torch
from model.database_util import *

In [2]:
# Base directory name
base_dir = 'job_queries'

# Dec 1:
# query1_ts = '2024-10-08-04.50.20.045775' # - worked
query1_ts = '2024-12-03-20.44.07.528574'

#query1_ts = '2024-10-08-04.48.13.056756'
# 408
#query1_ts = '2024-10-08-10.06.01.048516' - working but not filtered
# query1_ts = '2024-10-08-04.48.39.202520'
#query1_ts = '2024-10-08-04.48.55.567842'
# query1_ts = '2024-10-08-04.51.06.406285' # not working
# query1_ts = '2024-10-08-10.06.01.048516' # worked in 0 notebook, also worked here

In [3]:


# File paths for the query explanation components
file_paths = {
    'operator': f'{base_dir}/EXPLAIN_OPERATOR.csv',
    'stream': f'{base_dir}/EXPLAIN_STREAM.csv',
    'predicate': f'{base_dir}/EXPLAIN_PREDICATE.csv'
}

In [4]:
max_node = 30
rel_pos_max = 20

# Extract the operator ids and types

In [5]:
import pandas as pd
import os

def extract_operator_ids_and_types(explain_operator_path, timestamp):
    """
    Extract rows from a CSV file where the EXPLAIN_TIME column matches a given timestamp.

    Parameters:
        explain_operator_path (str): Path to the CSV file.
        timestamp: The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing the matching rows with EXPLAIN_TIME, OPERATOR_ID, and OPERATOR_TYPE.
    """
    # Check if the file exists
    if not os.path.exists(explain_operator_path):
        raise FileNotFoundError(f"The file '{explain_operator_path}' does not exist.")
    
    # Read the CSV file
    try:
        df = pd.read_csv(explain_operator_path)
    except Exception as e:
        raise ValueError(f"Error reading the file: {e}")

    # Check if the required columns exist
    required_columns = ['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE']
    if not all(col in df.columns for col in required_columns):
        raise KeyError(f"The file must contain the columns: {required_columns}")

    # Filter rows where the EXPLAIN_TIME column matches the timestamp value
    df_ops = df[df['EXPLAIN_TIME'] == timestamp][required_columns]

    # Warn if no rows match the timestamp
    if df_ops.empty:
        print(f"No rows found for timestamp '{timestamp}'.")

    return df_ops


# try:
#     result = extract_operator_ids_and_types(explain_operator_path, query1_ts)
#     print(result)
# except Exception as e:
#     print(f"Error: {e}")

# Extract the Operators accessing objects

In [15]:
import pandas as pd

def extract_stream_table(explain_stream_path, timestamp):
    """
    Process the EXPLAIN_STREAM CSV file to extract relevant rows, concatenate schema and name, and prepare the output.

    Parameters:
        explain_stream_path (str): Path to the EXPLAIN_STREAM CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing EXPLAIN_TIME, OPERATOR_ID, and TABLE columns.
    """
    # Read the CSV file
    df = pd.read_csv(explain_stream_path)

    # Filter for the given EXPLAIN_TIME value and non-NaN OBJECT_NAME
    filtered_df = df.loc[(df['EXPLAIN_TIME'] == timestamp) & (df['OBJECT_NAME'].notna())].copy()

    # Concatenate OBJECT_SCHEMA and OBJECT_NAME to create a new column, removing any extra spaces
    filtered_df['TABLE'] = (
        filtered_df['OBJECT_SCHEMA'].str.strip().fillna('') +
        '.' +
        filtered_df['OBJECT_NAME'].str.strip()
    )

    # Select and rename the TARGET_ID column to OPERATOR_ID
    df_table = filtered_df[['EXPLAIN_TIME', 'SOURCE_ID', 'TARGET_ID', 'TABLE']].copy()
    df_table.rename(columns={'TARGET_ID': 'OPERATOR_ID'}, inplace=True)

    return df_table


# Example usage:
explain_stream_path = f'{base_dir}/EXPLAIN_STREAM.csv'

query1_ts = '2024-12-03-20.44.07.528574'  # Replace with your timestamp
result = extract_stream_table(explain_stream_path, query1_ts)
print(result)

                    EXPLAIN_TIME  SOURCE_ID  OPERATOR_ID  \
6388  2024-12-03-20.44.07.528574         -1            4
6390  2024-12-03-20.44.07.528574         -1            6
6392  2024-12-03-20.44.07.528574         -1            8
6394  2024-12-03-20.44.07.528574         -1           11
6396  2024-12-03-20.44.07.528574         -1           14
6398  2024-12-03-20.44.07.528574         -1           16
6400  2024-12-03-20.44.07.528574         -1           17
6404  2024-12-03-20.44.07.528574         -1           18
6408  2024-12-03-20.44.07.528574         -1           19

                      TABLE
6388            AHNAF.TITLE
6390       AHNAF.MOVIE_INFO
6392     AHNAF.COMPANY_NAME
6394  AHNAF.MOVIE_COMPANIES
6396       AHNAF.MOVIE_LINK
6398    AHNAF.MOVIE_KEYWORD
6400          AHNAF.KEYWORD
6404        AHNAF.LINK_TYPE
6408     AHNAF.COMPANY_TYPE

# Extract local predicates

In [8]:
import pandas as pd

def extract_local_predicates(explain_predicate_path, timestamp):
    """
    Extract and process local predicates (WHERE/HAVING conditions) from the EXPLAIN_PREDICATE CSV file.

    Parameters:
        explain_predicate_path (str): Path to the EXPLAIN_PREDICATE CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame with grouped local predicates (PREDICATE1, PREDICATE2, PREDICATE3) 
                      and their corresponding FILTER_FACTOR columns (FILTER_FACTOR1, FILTER_FACTOR2, FILTER_FACTOR3) 
                      for each EXPLAIN_TIME and OPERATOR_ID.
    """
    # Define the columns to read from the file
    columns_to_read = ['EXPLAIN_TIME', 'OPERATOR_ID', 'HOW_APPLIED', 'PREDICATE_TEXT', 'FILTER_FACTOR']

    # Read the CSV file, selecting only relevant columns
    df = pd.read_csv(explain_predicate_path, usecols=columns_to_read)

    # Strip whitespace from EXPLAIN_TIME and HOW_APPLIED columns
    df['EXPLAIN_TIME'] = df['EXPLAIN_TIME'].str.strip()
    df['HOW_APPLIED'] = df['HOW_APPLIED'].str.strip()

    # Filter rows where EXPLAIN_TIME matches the timestamp and HOW_APPLIED is 'SARG'
    filtered_df = df.loc[(df['EXPLAIN_TIME'] == timestamp) & (df['HOW_APPLIED'] == 'SARG')].copy()

    # Remove only outer parentheses from the PREDICATE_TEXT column
    def remove_outer_parentheses(predicate_text):
        # Check if the text starts and ends with parentheses
        if isinstance(predicate_text, str) and predicate_text.startswith('(') and predicate_text.endswith(')'):
            # Remove only the outermost parentheses
            return predicate_text[1:-1]
        return predicate_text

    filtered_df['PREDICATE_TEXT'] = filtered_df['PREDICATE_TEXT'].apply(remove_outer_parentheses)

    # Select the relevant columns for the result
    df_predicates = filtered_df[['EXPLAIN_TIME', 'OPERATOR_ID', 'PREDICATE_TEXT', 'FILTER_FACTOR']]

    # Group by EXPLAIN_TIME and OPERATOR_ID and apply transformation
    df_local_predicates = df_predicates.groupby(['EXPLAIN_TIME', 'OPERATOR_ID']).agg(
        PREDICATE1=('PREDICATE_TEXT', lambda x: x.iloc[0] if len(x) > 0 else None),
        PREDICATE2=('PREDICATE_TEXT', lambda x: x.iloc[1] if len(x) > 1 else None),
        PREDICATE3=('PREDICATE_TEXT', lambda x: x.iloc[2] if len(x) > 2 else None),
        FILTER_FACTOR1=('FILTER_FACTOR', lambda x: x.iloc[0] if len(x) > 0 else None),
        FILTER_FACTOR2=('FILTER_FACTOR', lambda x: x.iloc[1] if len(x) > 1 else None),
        FILTER_FACTOR3=('FILTER_FACTOR', lambda x: x.iloc[2] if len(x) > 2 else None),
    ).reset_index()

    return df_local_predicates


# Example usage:
# explain_predicate_path = 'SimpleQueriesSQ12c/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-11-28 12:00:00'  # Replace with your timestamp
explain_predicate_path = f'{base_dir}/EXPLAIN_PREDICATE.csv'
result = extract_local_predicates(explain_predicate_path, query1_ts)
print(result)

                 EXPLAIN_TIME  OPERATOR_ID  \
0  2024-12-03-20.44.07.528574            4
1  2024-12-03-20.44.07.528574            6
2  2024-12-03-20.44.07.528574            8
3  2024-12-03-20.44.07.528574           11
4  2024-12-03-20.44.07.528574           17
5  2024-12-03-20.44.07.528574           18
6  2024-12-03-20.44.07.528574           19

                                          PREDICATE1  \
0                         Q1.PRODUCTION_YEAR <= 2020
1  Q4.INFO IN ('Sweden               ', 'Norway  ...
2                           Q9.COUNTRY_CODE = '[us]'
3                                   Q5.NOTE IS NULL
4                          Q7.KEYWORD = 'helicopter'
5                       Q6.LINK LIKE '%featured in%'
6                           Q8.KIND = 'distributors'

                   PREDICATE2 PREDICATE3  FILTER_FACTOR1  FILTER_FACTOR2  \
0  1950 <= Q1.PRODUCTION_YEAR       None        0.971485        0.894801
1                        None       None        0.029517             NaN
2                        None       None        0.359728             NaN
3                        None       None        0.487515             NaN
4                        None       None        0.000007             NaN
5                        None       None        0.072222             NaN
6                        None       None        0.250000             NaN

  FILTER_FACTOR3
0           None
1           None
2           None
3           None
4           None
5           None
6           None

In [10]:
result[['OPERATOR_ID', 'PREDICATE1', 'PREDICATE2', 
       'FILTER_FACTOR1', 'FILTER_FACTOR2']]

,OPERATOR_ID,PREDICATE1,PREDICATE2,FILTER_FACTOR1,FILTER_FACTOR2
0,4,Q1.PRODUCTION_YEAR <= 2020,1950 <= Q1.PRODUCTION_YEAR,0.971485,0.894801
1,6,"Q4.INFO IN ('Sweden ', 'Norway ...",None,0.029517,NaN
2,8,Q9.COUNTRY_CODE = '[us]',None,0.359728,NaN
3,11,Q5.NOTE IS NULL,None,0.487515,NaN
4,17,Q7.KEYWORD = 'helicopter',None,0.000007,NaN
5,18,Q6.LINK LIKE '%featured in%',None,0.072222,NaN
6,19,Q8.KIND = 'distributors',None,0.250000,NaN

In [12]:
pd.set_option('display.max_colwidth', None)

# Extract Join Key

In [13]:
import pandas as pd

def extract_join_keys(explain_predicate_path, timestamp):
    """
    Extract join keys from the EXPLAIN_PREDICATE CSV file where HOW_APPLIED is 'JOIN'.

    Parameters:
        explain_predicate_path (str): Path to the EXPLAIN_PREDICATE CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing EXPLAIN_TIME, OPERATOR_ID, and JOIN_KEY columns.
    """
    # Define the columns to read from the file
    columns_to_read = ['EXPLAIN_TIME', 'OPERATOR_ID', 'HOW_APPLIED', 'PREDICATE_TEXT']

    # Read the CSV file, selecting only relevant columns
    df = pd.read_csv(explain_predicate_path, usecols=columns_to_read)

    # Strip whitespace from EXPLAIN_TIME and HOW_APPLIED columns
    df['EXPLAIN_TIME'] = df['EXPLAIN_TIME'].str.strip()
    df['HOW_APPLIED'] = df['HOW_APPLIED'].str.strip()

    # Filter rows where EXPLAIN_TIME matches the timestamp and HOW_APPLIED is 'JOIN'
    filtered_df = df[(df['EXPLAIN_TIME'] == timestamp) & (df['HOW_APPLIED'] == 'JOIN')].copy()

    # Remove parentheses from the PREDICATE_TEXT column and assign to JOIN_KEY
    filtered_df.loc[:, 'JOIN_KEY'] = filtered_df['PREDICATE_TEXT'].str.replace(r'[\(\)]', '', regex=True)

    # Select the relevant columns for the result
    df_join = filtered_df[['EXPLAIN_TIME', 'OPERATOR_ID', 'JOIN_KEY']]

    # Check if there are matching rows
    if df_join.empty:
        print("No matching rows found.")
        return pd.DataFrame()  # Return an empty DataFrame

    return df_join

# Example usage:
# explain_predicate_path = 'SimpleQueriesSQ12c/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-11-28 12:00:00'  # Replace with your timestamp
# result = extract_join_keys(explain_predicate_path, query1_ts)
# print(result)

# Combining Node features

In [16]:
import pandas as pd

# Define the file paths and timestamp value
# File paths
explain_operator_path = f'{base_dir}/EXPLAIN_OPERATOR.csv'
explain_stream_path = f'{base_dir}/EXPLAIN_STREAM.csv'
explain_predicate_path = f'{base_dir}/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-10-08-04.51.06.406285' # not working

# Use the functions to extract features
df_ops = extract_operator_ids_and_types(explain_operator_path, query1_ts)
df_table = extract_stream_table(explain_stream_path, query1_ts)
df_pred = extract_local_predicates(explain_predicate_path, query1_ts)
df_join = extract_join_keys(explain_predicate_path, query1_ts)

# Define a list of column names
columns = ['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3', 'JOIN_KEY', 'TABLE']

# Create an empty DataFrame with these column names
df = pd.DataFrame(columns=columns)

# Merging the dataframes based on 'EXPLAIN_TIME' and 'OPERATOR_ID'
df= (
    df_ops.merge(df_table, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='left')
    .merge(df_pred, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='left')
    .merge(df_join, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='left')
)

# Adjust display settings for better visualization
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.width', 1000)        # Set display width for compact output

# Display the merged DataFrame
# print("Merged DataFrame:")
# print(df_merged)

# Apply the transformation row by row
# df = df_merged.apply(apply_transformation, axis=1)

# Display the transformed DataFrame
print(df)

                  EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE  SOURCE_ID                  TABLE  \
0   2024-12-03-20.44.07.528574            1        RETURN        NaN                    NaN
1   2024-12-03-20.44.07.528574            2        TQ            NaN                    NaN
2   2024-12-03-20.44.07.528574            3        HSJOIN        NaN                    NaN
3   2024-12-03-20.44.07.528574            4        TBSCAN       -1.0            AHNAF.TITLE
4   2024-12-03-20.44.07.528574            5        HSJOIN        NaN                    NaN
5   2024-12-03-20.44.07.528574            6        TBSCAN       -1.0       AHNAF.MOVIE_INFO
6   2024-12-03-20.44.07.528574            7        HSJOIN        NaN                    NaN
7   2024-12-03-20.44.07.528574            8        TBSCAN       -1.0     AHNAF.COMPANY_NAME
8   2024-12-03-20.44.07.528574            9        HSJOIN        NaN                    NaN
9   2024-12-03-20.44.07.528574           10        HSJOIN        NaN                    NaN
10  2024-12-03-20.44.07.528574           11        TBSCAN       -1.0  AHNAF.MOVIE_COMPANIES
11  2024-12-03-20.44.07.528574           12        HSJOIN        NaN                    NaN
12  2024-12-03-20.44.07.528574           13        HSJOIN        NaN                    NaN
13  2024-12-03-20.44.07.528574           14        TBSCAN       -1.0       AHNAF.MOVIE_LINK
14  2024-12-03-20.44.07.528574           15        HSJOIN        NaN                    NaN
15  2024-12-03-20.44.07.528574           16        TBSCAN       -1.0    AHNAF.MOVIE_KEYWORD
16  2024-12-03-20.44.07.528574           17        TBSCAN       -1.0          AHNAF.KEYWORD
17  2024-12-03-20.44.07.528574           18        TBSCAN       -1.0        AHNAF.LINK_TYPE
18  2024-12-03-20.44.07.528574           19        TBSCAN       -1.0     AHNAF.COMPANY_TYPE

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    PREDICATE1  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Q1.PRODUCTION_YEAR <= 2020
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
5   Q4.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Q9.COUNTRY_CODE = '[us]'
8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          NaN
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Q5.NOTE IS NULL
11                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         NaN

In [17]:
import pandas as pd
import re

# Sample DataFrame provided
# df = pd.DataFrame({
#     'EXPLAIN_TIME': ['2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756'],
#     'OPERATOR_ID': [1, 2, 3, 4],
#     'OPERATOR_TYPE': ['RETURN', 'HSJOIN', 'TBSCAN', 'TBSCAN'],
#     'TABLE': [None, None, 'TPCDS.CUSTOMER', 'TPCDS.DATE_DIM2'],
#     'PREDICATE1': [None, None, None, 'Q2.D_YEAR >= 1958'],
#     'PREDICATE2': [None, None, None, 'Q2.D_MOY = 12'],
#     'PREDICATE3': [None, None, None, None],
#     'JOIN_KEY': [None, 'Q2.D_DATE_SK = Q1.C_FIRST_SHIPTO_DATE_SK', None, None]
# })

# Function to extract the alias from the predicate (before the period)
def extract_alias(predicate):
    if isinstance(predicate, str):
        match = re.search(r'([A-Za-z0-9_]+)\.', predicate)
        if match:
            return match.group(1)  # Return the part before the period (alias)
    return None

# Filter rows where TABLE is not None and at least one PREDICATE column has a value
filtered_df = df[(df['TABLE'].notna()) & (df[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']].notna().any(axis=1))]

# Create a new DataFrame with EXPLAIN_TIME, TABLE, and ALIAS
rows = []
for _, row in filtered_df.iterrows():
    predicates = [row['PREDICATE1'], row['PREDICATE2'], row['PREDICATE3']]
    alias = None
    for predicate in predicates:
        alias = extract_alias(predicate)
        if alias:
            break  # Once an alias is found, no need to check other predicates
    rows.append({'EXPLAIN_TIME': row['EXPLAIN_TIME'], 'TABLE': row['TABLE'], 'ALIAS': alias})

# Create the new dataframe
df_table_alias = pd.DataFrame(rows)

# Display the result
print(df_table_alias)

                 EXPLAIN_TIME                  TABLE ALIAS
0  2024-12-03-20.44.07.528574            AHNAF.TITLE    Q1
1  2024-12-03-20.44.07.528574       AHNAF.MOVIE_INFO    Q4
2  2024-12-03-20.44.07.528574     AHNAF.COMPANY_NAME    Q9
3  2024-12-03-20.44.07.528574  AHNAF.MOVIE_COMPANIES    Q5
4  2024-12-03-20.44.07.528574          AHNAF.KEYWORD    Q7
5  2024-12-03-20.44.07.528574        AHNAF.LINK_TYPE    Q6
6  2024-12-03-20.44.07.528574     AHNAF.COMPANY_TYPE    Q8

# extract optimized statement

In [18]:
if not os.path.isfile('db2.ipynb'):
    os.system('wget https://raw.githubusercontent.com/IBM/db2-jupyter/master/db2.ipynb')

%run db2.ipynb

<>:1708: SyntaxWarning: invalid escape sequence '\s'
<>:2305: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_546271/2299624180.py:1708: SyntaxWarning: invalid escape sequence '\s'
  firstCommand = "(?:^\s*)([a-zA-Z]+)(?:\s+.*|$)"
/tmp/ipykernel_546271/2299624180.py:2305: SyntaxWarning: invalid escape sequence '\?'
  pattern = "\?\*[0-9]+"

Warning: Grid display is unavailable for displaying results in scrollable windows.
         Install itables if you want to enable scrolling of result sets.
Db2 Extensions Loaded. Version: 2024-09-16

In [19]:
from dotenv import dotenv_values

In [20]:
db2creds = dotenv_values('db2con.env')
%sql CONNECT CREDENTIALS db2creds

Connection successful. TESTDB @ localhost

In [22]:
%sql SET CURRENT SCHEMA AHNAF

Command completed.

In [23]:
explain_stmt = %sql select STATEMENT_TEXT from EXPLAIN_STATEMENT where EXPLAIN_TIME = '{query1_ts}' AND EXPLAIN_LEVEL = 'S'

In [25]:
explain_stmt['STATEMENT_TEXT'][0]

'SELECT Q9.NAME AS "COMPANY_NAME", Q6.LINK AS "LINK_TYPE", Q1.TITLE AS "WESTERN_FOLLOW_UP" FROM AHNAF.TITLE AS Q1, AHNAF.MOVIE_LINK AS Q2, AHNAF.MOVIE_KEYWORD AS Q3, AHNAF.MOVIE_INFO AS Q4, AHNAF.MOVIE_COMPANIES AS Q5, AHNAF.LINK_TYPE AS Q6, AHNAF.KEYWORD AS Q7, AHNAF.COMPANY_TYPE AS Q8, AHNAF.COMPANY_NAME AS Q9 WHERE (Q5.MOVIE_ID = Q4.MOVIE_ID) AND (Q3.MOVIE_ID = Q4.MOVIE_ID) AND (Q2.MOVIE_ID = Q4.MOVIE_ID) AND (Q4.MOVIE_ID = Q1.ID) AND (Q5.COMPANY_ID = Q9.ID) AND (Q5.COMPANY_TYPE_ID = Q8.ID) AND (Q3.KEYWORD_ID = Q7.ID) AND (Q6.ID = Q2.LINK_TYPE_ID) AND (Q1.PRODUCTION_YEAR <= 2020) AND (1950 <= Q1.PRODUCTION_YEAR) AND Q5.NOTE IS NULL AND (Q6.LINK LIKE \'%featured in%\') AND (Q7.KEYWORD = \'helicopter\') AND (Q8.KIND = \'distributors\') AND (Q9.COUNTRY_CODE = \'[us]\') AND Q4.INFO IN (\'Sweden               \', \'Norway               \', \'Germany              \', \'Denmark              \', \'Swedish              \', \'Denish               \', \'Norwegian            \', \'German               \', \'USA                  \', \'CANADA               \', \'Netherlands          \', \'Brazil               \', \'UK                   \', \'Belgium              \', \'Finland              \', \'Hungary              \', \'Estonia              \', \'worldwide            \', \'Australia            \', \'Spain                \', \'France               \', \'Japan                \', \'Columbia             \', \'Slovenia             \', \'Israel               \', \'Venezuela            \', \'Nigeria              \', \'Philippines          \', \'New Zealand          \', \'Ireland              \', \'Romania              \', \'Non-USA              \', \'Bulgaria             \', \'Argentina            \', \'Malaysia             \', \'Singapore            \', \'Turkey               \', \'Sri Lanka            \', \'Italy                \', \'Indonesia            \', \'South Korea          \', \'Vietnam              \', \'Slovakia             \', \'Czech Republic       \', \'China                \', \'Portugal             \', \'Greece               \', \'Republic of Macedonia\', \'Serbia               \', \'Jamaica              \', \'Switzerland          \', \'Yugoslavia           \', \'Mexico               \', \'Austria              \', \'Russia               \')'

In [26]:
import re

# Sample SQL text (multiline)
sql_text = explain_stmt['STATEMENT_TEXT'][0]

# Function to extract the FROM clause, handling multiline SQL
def extract_from_clause(sql_text):
    # Extract the FROM clause (up to WHERE, GROUP BY, etc.), handling newlines and extra spaces
    from_clause_match = re.search(r'\bFROM\b\s+(.+?)\s*(\bWHERE\b|\bGROUP BY\b|\bORDER BY\b|$)', sql_text, re.IGNORECASE | re.DOTALL)
    if from_clause_match:
        from_clause = from_clause_match.group(1).strip()
        return from_clause
    return None

# Function to extract table names and their aliases from the FROM clause
def extract_table_aliases(sql_text):
    # Extract the FROM clause
    from_clause = extract_from_clause(sql_text)
    
    if from_clause:
        print(f"Captured FROM clause: {from_clause}")  # Debugging step to print captured FROM clause

        # Find all table names and aliases in the form "table AS alias" or "table alias"
        table_alias_pairs = re.findall(r'([A-Za-z0-9_\.]+)\s+(?:AS\s+)?([A-Za-z0-9_]+)', from_clause, re.IGNORECASE)

        # Flip the dictionary: aliases as keys, table names as values
        alias_table_dict = {pair[1]: pair[0] for pair in table_alias_pairs}
        return alias_table_dict
    return {}

# Extract table aliases (flipped)
alias_table_dict = extract_table_aliases(sql_text)

# Display the extracted alias-table dictionary
print("Extracted alias-table dictionary:", alias_table_dict)

Captured FROM clause: AHNAF.TITLE AS Q1, AHNAF.MOVIE_LINK AS Q2, AHNAF.MOVIE_KEYWORD AS Q3, AHNAF.MOVIE_INFO AS Q4, AHNAF.MOVIE_COMPANIES AS Q5, AHNAF.LINK_TYPE AS Q6, AHNAF.KEYWORD AS Q7, AHNAF.COMPANY_TYPE AS Q8, AHNAF.COMPANY_NAME AS Q9
Extracted alias-table dictionary: {'Q1': 'AHNAF.TITLE', 'Q2': 'AHNAF.MOVIE_LINK', 'Q3': 'AHNAF.MOVIE_KEYWORD', 'Q4': 'AHNAF.MOVIE_INFO', 'Q5': 'AHNAF.MOVIE_COMPANIES', 'Q6': 'AHNAF.LINK_TYPE', 'Q7': 'AHNAF.KEYWORD', 'Q8': 'AHNAF.COMPANY_TYPE', 'Q9': 'AHNAF.COMPANY_NAME'}

In [28]:
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,SOURCE_ID,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY
0,2024-12-03-20.44.07.528574,1,RETURN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-03-20.44.07.528574,2,TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-03-20.44.07.528574,3,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q4.MOVIE_ID = Q1.ID
3,2024-12-03-20.44.07.528574,4,TBSCAN,-1.0,AHNAF.TITLE,Q1.PRODUCTION_YEAR <= 2020,1950 <= Q1.PRODUCTION_YEAR,None,0.971485,0.894801,None,NaN
4,2024-12-03-20.44.07.528574,5,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q5.MOVIE_ID = Q4.MOVIE_ID
5,2024-12-03-20.44.07.528574,6,TBSCAN,-1.0,AHNAF.MOVIE_INFO,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,NaN,None,NaN
6,2024-12-03-20.44.07.528574,7,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q5.COMPANY_ID = Q9.ID
7,2024-12-03-20.44.07.528574,8,TBSCAN,-1.0,AHNAF.COMPANY_NAME,Q9.COUNTRY_CODE = '[us]',None,None,0.359728,NaN,None,NaN
8,2024-12-03-20.44.07.528574,9,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q5.COMPANY_TYPE_ID = Q8.ID
9,2024-12-03-20.44.07.528574,10,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q2.MOVIE_ID = Q5.MOVIE_ID
10,2024-12-03-20.44.07.528574,11,TBSCAN,-1.0,AHNAF.MOVIE_COMPANIES,Q5.NOTE IS NULL,None,None,0.487515,NaN,None,NaN
11,2024-12-03-20.44.07.528574,12,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q6.ID = Q2.LINK_TYPE_ID
12,2024-12-03-20.44.07.528574,13,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q2.MOVIE_ID = Q3.MOVIE_ID
13,2024-12-03-20.44.07.528574,14,TBSCAN,-1.0,AHNAF.MOVIE_LINK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-12-03-20.44.07.528574,15,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q3.KEYWORD_ID = Q7.ID
15,2024-12-03-20.44.07.528574,16,TBSCAN,-1.0,AHNAF.MOVIE_KEYWORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-12-03-20.44.07.528574,17,TBSCAN,-1.0,AHNAF.KEYWORD,Q7.KEYWORD = 'helicopter',None,None,0.000007,NaN,None,NaN
17,2024-12-03-20.44.07.528574,18,TBSCAN,-1.0,AHNAF.LINK_TYPE,Q6.LINK LIKE '%featured in%',None,None,0.072222,NaN,None,NaN
18,2024-12-03-20.44.07.528574,19,TBSCAN,-1.0,AHNAF.COMPANY_TYPE,Q8.KIND = 'distributors',None,None,0.250000,NaN,None,NaN

In [29]:
pd.set_option('display.max_colwidth', None)

In [30]:
import pandas as pd
import re

# # Sample alias-table dictionary extracted from SQL
# alias_table_dict = {
#     'Q1': 'TPCDS.CUSTOMER',
#     'Q2': 'TPCDS.DATE_DIM2'
# }

# Function to replace all aliases in the predicate with the corresponding table names using alias_table_dict
def replace_alias_with_table(predicate, alias_table_dict):
    if isinstance(predicate, str):
        # Replace all aliases in the string with the corresponding table names
        for alias, table_name in alias_table_dict.items():
            predicate = re.sub(fr'\b{alias}\b\.', f'{table_name}.', predicate)
    return predicate

# Apply the replacement to each predicate column
for index, row in df.iterrows():
    df.at[index, 'PREDICATE1'] = replace_alias_with_table(row['PREDICATE1'], alias_table_dict)
    df.at[index, 'PREDICATE2'] = replace_alias_with_table(row['PREDICATE2'], alias_table_dict)
    df.at[index, 'PREDICATE3'] = replace_alias_with_table(row['PREDICATE3'], alias_table_dict)
    df.at[index, 'JOIN_KEY'] = replace_alias_with_table(row['JOIN_KEY'], alias_table_dict)

# Display the updated DataFrame
print(df)

                  EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE  SOURCE_ID                  TABLE  \
0   2024-12-03-20.44.07.528574            1        RETURN        NaN                    NaN
1   2024-12-03-20.44.07.528574            2        TQ            NaN                    NaN
2   2024-12-03-20.44.07.528574            3        HSJOIN        NaN                    NaN
3   2024-12-03-20.44.07.528574            4        TBSCAN       -1.0            AHNAF.TITLE
4   2024-12-03-20.44.07.528574            5        HSJOIN        NaN                    NaN
5   2024-12-03-20.44.07.528574            6        TBSCAN       -1.0       AHNAF.MOVIE_INFO
6   2024-12-03-20.44.07.528574            7        HSJOIN        NaN                    NaN
7   2024-12-03-20.44.07.528574            8        TBSCAN       -1.0     AHNAF.COMPANY_NAME
8   2024-12-03-20.44.07.528574            9        HSJOIN        NaN                    NaN
9   2024-12-03-20.44.07.528574           10        HSJOIN        NaN                    NaN
10  2024-12-03-20.44.07.528574           11        TBSCAN       -1.0  AHNAF.MOVIE_COMPANIES
11  2024-12-03-20.44.07.528574           12        HSJOIN        NaN                    NaN
12  2024-12-03-20.44.07.528574           13        HSJOIN        NaN                    NaN
13  2024-12-03-20.44.07.528574           14        TBSCAN       -1.0       AHNAF.MOVIE_LINK
14  2024-12-03-20.44.07.528574           15        HSJOIN        NaN                    NaN
15  2024-12-03-20.44.07.528574           16        TBSCAN       -1.0    AHNAF.MOVIE_KEYWORD
16  2024-12-03-20.44.07.528574           17        TBSCAN       -1.0          AHNAF.KEYWORD
17  2024-12-03-20.44.07.528574           18        TBSCAN       -1.0        AHNAF.LINK_TYPE
18  2024-12-03-20.44.07.528574           19        TBSCAN       -1.0     AHNAF.COMPANY_TYPE

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  PREDICATE1  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        AHNAF.TITLE.PRODUCTION_YEAR <= 2020
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
5   AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]'
8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       AHNAF.MOVIE_COMPANIES.NOTE IS NULL

In [31]:
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,SOURCE_ID,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY
0,2024-12-03-20.44.07.528574,1,RETURN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-03-20.44.07.528574,2,TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-03-20.44.07.528574,3,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_INFO.MOVIE_ID = AHNAF.TITLE.ID
3,2024-12-03-20.44.07.528574,4,TBSCAN,-1.0,AHNAF.TITLE,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,1950 <= AHNAF.TITLE.PRODUCTION_YEAR,None,0.971485,0.894801,None,NaN
4,2024-12-03-20.44.07.528574,5,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID
5,2024-12-03-20.44.07.528574,6,TBSCAN,-1.0,AHNAF.MOVIE_INFO,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,NaN,None,NaN
6,2024-12-03-20.44.07.528574,7,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID
7,2024-12-03-20.44.07.528574,8,TBSCAN,-1.0,AHNAF.COMPANY_NAME,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]',None,None,0.359728,NaN,None,NaN
8,2024-12-03-20.44.07.528574,9,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID
9,2024-12-03-20.44.07.528574,10,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID
10,2024-12-03-20.44.07.528574,11,TBSCAN,-1.0,AHNAF.MOVIE_COMPANIES,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,NaN,None,NaN
11,2024-12-03-20.44.07.528574,12,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID
12,2024-12-03-20.44.07.528574,13,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID
13,2024-12-03-20.44.07.528574,14,TBSCAN,-1.0,AHNAF.MOVIE_LINK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-12-03-20.44.07.528574,15,HSJOIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID
15,2024-12-03-20.44.07.528574,16,TBSCAN,-1.0,AHNAF.MOVIE_KEYWORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-12-03-20.44.07.528574,17,TBSCAN,-1.0,AHNAF.KEYWORD,AHNAF.KEYWORD.KEYWORD = 'helicopter',None,None,0.000007,NaN,None,NaN
17,2024-12-03-20.44.07.528574,18,TBSCAN,-1.0,AHNAF.LINK_TYPE,AHNAF.LINK_TYPE.LINK LIKE '%featured in%',None,None,0.072222,NaN,None,NaN
18,2024-12-03-20.44.07.528574,19,TBSCAN,-1.0,AHNAF.COMPANY_TYPE,AHNAF.COMPANY_TYPE.KIND = 'distributors',None,None,0.250000,NaN,None,NaN

# Create a dictionary of column distributions

In [26]:
hist = {}

In [27]:
# Iterating through the dataframe and checking the values in PREDICATE1, PREDICATE2, and PREDICATE3
for index, row in df.iterrows():
    if row['PREDICATE1'] is not None:
        print(f"Row {index}, PREDICATE1: {row['PREDICATE1']}")
    if row['PREDICATE2'] is not None:
        print(f"Row {index}, PREDICATE2: {row['PREDICATE2']}")
    if row['PREDICATE3'] is not None:
        print(f"Row {index}, PREDICATE3: {row['PREDICATE3']}")

Row 0, PREDICATE1: nan
Row 0, PREDICATE2: nan
Row 0, PREDICATE3: nan
Row 1, PREDICATE1: nan
Row 1, PREDICATE2: nan
Row 1, PREDICATE3: nan
Row 2, PREDICATE1: nan
Row 2, PREDICATE2: nan
Row 2, PREDICATE3: nan
Row 3, PREDICATE1: AHNAF.TITLE.PRODUCTION_YEAR <= 2020
Row 3, PREDICATE2: 1950 <= AHNAF.TITLE.PRODUCTION_YEAR
Row 4, PREDICATE1: nan
Row 4, PREDICATE2: nan
Row 4, PREDICATE3: nan
Row 5, PREDICATE1: AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
Row 6, PREDICATE1: nan
Row 6, PREDICATE2: nan
Row 6, PREDICATE3: nan
Row 7, PREDICATE1: AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]'
Row 8, PREDICATE1: nan
Row 8, PREDICATE2: nan
Row 8, PREDICATE3: nan
Row 9, PREDICATE1: nan
Row 9, PREDICATE2: nan
Row 9, PREDICATE3: nan
Row 10, PREDICATE1: AHNAF.MOVIE_COMPANIES.NOTE IS NULL
Row 11, PREDICATE1: nan
Row 11, PREDICATE2: nan
Row 11, PREDICATE3: nan
Row 12, PREDICATE1: nan
Row 12, PREDICATE2: nan
Row 12, PREDICATE3: nan
Row 13, PREDICATE1: nan
Row 13, PREDICATE2: nan
Row 13, PREDICATE3: nan
Row 14, PREDICATE1: nan
Row 14, PREDICATE2: nan
Row 14, PREDICATE3: nan
Row 15, PREDICATE1: nan
Row 15, PREDICATE2: nan
Row 15, PREDICATE3: nan
Row 16, PREDICATE1: AHNAF.KEYWORD.KEYWORD = 'helicopter'
Row 17, PREDICATE1: AHNAF.LINK_TYPE.LINK LIKE '%featured in%'
Row 18, PREDICATE1: AHNAF.COMPANY_TYPE.KIND = 'distributors'

In [28]:
df[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']]

,PREDICATE1,PREDICATE2,PREDICATE3
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,1950 <= AHNAF.TITLE.PRODUCTION_YEAR,None
4,NaN,NaN,NaN
5,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None
6,NaN,NaN,NaN
7,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]',None,None
8,NaN,NaN,NaN
9,NaN,NaN,NaN
10,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None
11,NaN,NaN,NaN
12,NaN,NaN,NaN
13,NaN,NaN,NaN
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,AHNAF.KEYWORD.KEYWORD = 'helicopter',None,None
17,AHNAF.LINK_TYPE.LINK LIKE '%featured in%',None,None
18,AHNAF.COMPANY_TYPE.KIND = 'distributors',None,None

In [29]:
df.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY'], dtype='object')

# Parse predicate text for extracting (col, op, val) and storing them in a new column

In [44]:
import pandas as pd
import re

# Function to parse a single predicate
def parse_predicate(predicate):
    print('parse_predicate: ', predicate)
    if predicate is None or pd.isna(predicate):
        return None
    # Match basic predicate (col, op, val)
    basic_pattern = r'(?P<col>[\w\.]+)\s*(?P<op><=|>=|<|>|=|!=|LIKE)\s*(?P<val>.+)'
    # Match IN predicate
    in_pattern = r'(?P<col>[\w\.]+)\s+IN\s+\((?P<val>.+?)\)'

    # Try to match basic predicate
    match = re.match(basic_pattern, predicate.strip())
    if match:
        col = match.group('col')
        op = match.group('op')
        val = match.group('val')
        return (col, op, val)

    # Try to match IN predicate
    match = re.match(in_pattern, predicate.strip(), flags=re.IGNORECASE)
    if match:
        col = match.group('col')
        op = 'IN'
        val = match.group('val')
       
        # Split by commas and clean spaces inside quotes
        # Split by commas and clean spaces inside quotes
        val_list = [
            f"'{v.strip().strip('\'').strip()}'" if v.strip().startswith("'") else v.strip()
            for v in val.split(',')
        ]
        
        return (col, op, val_list)

    return None

# Create PARSED_PREDICATE columns dynamically
for i in range(1, 4):  # Assuming PREDICATE1, PREDICATE2, PREDICATE3
    predicate_col = f'PREDICATE{i}'
    parsed_col = f'PARSED_PREDICATE{i}'
    df[parsed_col] = df[predicate_col].apply(parse_predicate)

# Display the result
#import ace_tools as tools; tools.display_dataframe_to_user(name="Parsed Predicates DataFrame with Dynamic Parsing", dataframe=df)

parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  AHNAF.TITLE.PRODUCTION_YEAR <= 2020
parse_predicate:  nan
parse_predicate:  AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
parse_predicate:  nan
parse_predicate:  AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]'
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  AHNAF.MOVIE_COMPANIES.NOTE IS NULL
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  AHNAF.KEYWORD.KEYWORD = 'helicopter'
parse_predicate:  AHNAF.LINK_TYPE.LINK LIKE '%featured in%'
parse_predicate:  AHNAF.COMPANY_TYPE.KIND = 'distributors'
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  1950 <= AHNAF.TITLE.PRODUCTION_YEAR
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  None
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  nan
parse_predicate:  None
parse_predicate:  None
parse_predicate:  None

In [45]:
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,JOIN_KEY,PARSED_PREDICATE1,PARSED_PREDICATE2,PARSED_PREDICATE3
0,2024-12-03-20.44.07.528574,1,RETURN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,2024-12-03-20.44.07.528574,2,TQ,NaN,NaN,NaN,NaN,NaN,None,None,None
2,2024-12-03-20.44.07.528574,3,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_INFO.MOVIE_ID = AHNAF.TITLE.ID,None,None,None
3,2024-12-03-20.44.07.528574,4,TBSCAN,AHNAF.TITLE,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,1950 <= AHNAF.TITLE.PRODUCTION_YEAR,None,NaN,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(1950, <=, AHNAF.TITLE.PRODUCTION_YEAR)",None
4,2024-12-03-20.44.07.528574,5,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,None,None,None
5,2024-12-03-20.44.07.528574,6,TBSCAN,AHNAF.MOVIE_INFO,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,NaN,"(AHNAF.MOVIE_INFO.INFO, IN, ['Sweden', 'Norway', 'Germany', 'Denmark', 'Swedish', 'Denish', 'Norwegian', 'German', 'USA', 'CANADA', 'Netherlands', 'Brazil', 'UK', 'Belgium', 'Finland', 'Hungary', 'Estonia', 'worldwide', 'Australia', 'Spain', 'France', 'Japan', 'Columbia', 'Slovenia', 'Israel', 'Venezuela', 'Nigeria', 'Philippines', 'New Zealand', 'Ireland', 'Romania', 'Non-USA', 'Bulgaria', 'Argentina', 'Malaysia', 'Singapore', 'Turkey', 'Sri Lanka', 'Italy', 'Indonesia', 'South Korea', 'Vietnam', 'Slovakia', 'Czech Republic', 'China', 'Portugal', 'Greece', 'Republic of Macedonia', 'Serbia', 'Jamaica', 'Switzerland', 'Yugoslavia', 'Mexico', 'Austria', 'Russia'])",None,None
6,2024-12-03-20.44.07.528574,7,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,None,None,None
7,2024-12-03-20.44.07.528574,8,TBSCAN,AHNAF.COMPANY_NAME,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[us]',None,None,NaN,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[us]')",None,None
8,2024-12-03-20.44.07.528574,9,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,None,None,None
9,2024-12-03-20.44.07.528574,10,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,None,None,None
10,2024-12-03-20.44.07.528574,11,TBSCAN,AHNAF.MOVIE_COMPANIES,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,NaN,None,None,None
11,2024-12-03-20.44.07.528574,12,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,None,None,None
12,2024-12-03-20.44.07.528574,13,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,None,None,None
13,2024-12-03-20.44.07.528574,14,TBSCAN,AHNAF.MOVIE_LINK,NaN,NaN,NaN,NaN,None,None,None
14,2024-12-03-20.44.07.528574,15,HSJOIN,NaN,NaN,NaN,NaN,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,None,None,None
15,2024-12-03-20.44.07.528574,16,TBSCAN,AHNAF.MOVIE_KEYWORD,NaN,NaN,NaN,NaN,None,None,None
16,2024-12-03-20.44.07.528574,17,TBSCAN,AHNAF.KEYWORD,AHNAF.KEYWORD.KEYWORD = 'helicopter',None,None,NaN,"(AHNAF.KEYWORD.KEYWORD, =, 'helicopter')",None,None
17,2024-12-03-20.44.07.528574,18,TBSCAN,AHNAF.LINK_TYPE,AHNAF.LINK_TYPE.LINK LIKE '%featured in%',None,None,NaN,"(AHNAF.LINK_TYPE.LINK, LIKE, '%featured in%')",None,None
18,2024-12-03-20.44.07.528574,19,TBSCAN,AHNAF.COMPANY_TYPE,AHNAF.COMPANY_TYPE.KIND = 'distributors',None,None,NaN,"(AHNAF.COMPANY_TYPE.KIND, =, 'distributors')",None,None

In [205]:
import re
import pandas as pd

# Function to parse predicate and extract the column
def parse_predicate_column(predicate):
    # Regular expression to match the format <column> <operator> <value>
    if isinstance(predicate, str):
        match = re.match(r'(\S+)\s*(>=|<=|>|<|=|!=)\s*(.*)', predicate)
        if match:
            column, _, _ = match.groups()
            return column
    return None

# Function to generate SQL queries for non-None predicates
def generate_sql_queries(df):
    queries = []
    for index, row in df.iterrows():
        table = row['TABLE']
        if table:
            # Check each predicate column (PREDICATE1, PREDICATE2, PREDICATE3)
            for predicate_col in ['PREDICATE1', 'PREDICATE2', 'PREDICATE3']:
                predicate = row[predicate_col]
                if isinstance(predicate, str):  # Ensure the predicate is a string
                    column = parse_predicate_column(predicate)
                    if column:
                        # Generate SQL query with ORDER BY to ensure sorting in ascending order
                        query = f"SELECT {column} FROM {table} ORDER BY {column} ASC;"
                        queries.append(query)
                        print(f"Generated query: {query}")
    return queries

# # Example DataFrame
# data = {
#     'TABLE': ['table1', 'table2', None],
#     'PREDICATE1': ['col1 >= 10', None, 'col3 < 5'],
#     'PREDICATE2': ['col2 <= 20', 'col4 != 100', None],
#     'PREDICATE3': [None, 'col5 = 50', 'col6 > 15']
# }

# df = pd.DataFrame(data)

# Call the function to generate and print the queries
sql_queries = generate_sql_queries(df)

Generated query: SELECT TPCDS.WEB_SALES.WS_ITEM_SK FROM TPCDS.WEB_SALES ORDER BY TPCDS.WEB_SALES.WS_ITEM_SK ASC;
Generated query: SELECT TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX FROM TPCDS.WEB_SALES ORDER BY TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX ASC;

In [206]:
# Dictionary to store the results
results_dict = {}

# List of SQL queries generated from the earlier steps
# sql_queries = [
#     "SELECT TPCDS.DATE_DIM2.D_YEAR FROM TPCDS.DATE_DIM2;",
#     "SELECT TPCDS.DATE_DIM2.D_MOY FROM TPCDS.DATE_DIM2;"
# ]

# Iterate through each query
for query in sql_queries:
    # Running the SQL query using Db2 magic command and getting the result into a pandas dataframe
    result_df = %sql {query}
    
    # Extracting the column name from the query (the first column in SELECT)
    full_column_name = query.split()[1]  # This is like 'TPCDS.DATE_DIM2.D_YEAR'
    
    # The actual column name may be simplified (e.g., 'D_YEAR'). Get it from the result_df columns.
    # We assume that the first column in result_df corresponds to the selected column.
    actual_column_name = result_df.columns[0]  # Take the first column of the dataframe

    # Converting the dataframe column into a list
    result_list = result_df[actual_column_name].tolist()
    
    # Adding the result list to the dictionary with the full column name as the key
    results_dict[full_column_name] = result_list

# Print the resulting dictionary
#print(results_dict)

In [207]:
results_dict.keys()

dict_keys(['TPCDS.WEB_SALES.WS_ITEM_SK', 'TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX'])

In [208]:
import numpy as np
import pandas as pd

# Dictionary to store the bin boundaries for each column
bin_boundaries_dict = {}

# Iterate over each key (column name) and the associated list of values in the dictionary
for column, values_list in results_dict.items():
    if len(values_list) > 0:
        # Convert the list of values into a numpy array, ignoring NA values
        values_array = np.array([v for v in values_list if pd.notna(v)], dtype=float)
        
        if len(values_array) == 0:
            print(f"Column {column} has no valid numeric data.")
            continue
        
        # Increase the maximum value by 0.001 for exclusive upper boundary
        max_value = values_array.max() + 0.001
        values_array[values_array.argmax()] = max_value
        
        # Calculate the bin boundaries using quantiles (50 equal-sized bins)
        bin_edges = np.quantile(values_array, np.linspace(0, 1, 51))  # 50 bins (51 edges)
        
        # Store the bin boundaries in the dictionary for future retrieval
        bin_boundaries_dict[column] = bin_edges
        
        # Display the bin boundaries
        print(f"Column: {column}")
        print(f"Bin boundaries: {bin_edges}\n")

# To retrieve bin boundaries later
# For example, to retrieve the bin boundaries for 'TPCDS.DATE_DIM2.D_YEAR':
#retrieved_boundaries = bin_boundaries_dict['TPCDS.DATE_DIM2.D_YEAR']
#print(f"Retrieved bin boundaries for TPCDS.DATE_DIM2.D_YEAR: {retrieved_boundaries}")

Column: TPCDS.WEB_SALES.WS_ITEM_SK
Bin boundaries: [1.0000000e+00 3.6100000e+02 7.2300000e+02 1.0840000e+03 1.4400000e+03
 1.7980000e+03 2.1579600e+03 2.5220000e+03 2.8810000e+03 3.2380000e+03
 3.5960000e+03 3.9580000e+03 4.3180000e+03 4.6790000e+03 5.0390000e+03
 5.4010000e+03 5.7640000e+03 6.1180000e+03 6.4780000e+03 6.8370000e+03
 7.2010000e+03 7.5610000e+03 7.9230000e+03 8.2830000e+03 8.6430000e+03
 9.0040000e+03 9.3670000e+03 9.7310000e+03 1.0093000e+04 1.0456000e+04
 1.0819000e+04 1.1175000e+04 1.1535000e+04 1.1898000e+04 1.2258000e+04
 1.2618000e+04 1.2975000e+04 1.3336000e+04 1.3695000e+04 1.4054000e+04
 1.4412000e+04 1.4767000e+04 1.5127000e+04 1.5485000e+04 1.5846000e+04
 1.6202000e+04 1.6565000e+04 1.6928000e+04 1.7282000e+04 1.7643000e+04
 1.8000001e+04]

Column: TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX
Bin boundaries: [0.0000000e+00 5.5316000e+00 1.9970000e+01 3.6550000e+01 5.5570000e+01
 7.6520000e+01 9.9850000e+01 1.2535000e+02 1.5364280e+02 1.8466440e+02
 2.1852000e+02 2.5543760e+02 2.9524000e+02 3.3798080e+02 3.8372000e+02
 4.3346400e+02 4.8638000e+02 5.4406000e+02 6.0499000e+02 6.6967040e+02
 7.3958000e+02 8.1455360e+02 8.9455000e+02 9.8115000e+02 1.0719284e+03
 1.1702400e+03 1.2745216e+03 1.3874100e+03 1.5060400e+03 1.6349000e+03
 1.7725500e+03 1.9240200e+03 2.0829900e+03 2.2534500e+03 2.4387900e+03
 2.6409880e+03 2.8601004e+03 3.1002492e+03 3.3637616e+03 3.6556724e+03
 3.9827160e+03 4.3431336e+03 4.7612064e+03 5.2306492e+03 5.7868516e+03
 6.4514500e+03 7.2674872e+03 8.3304536e+03 9.8366768e+03 1.2319020e+04
 3.0821431e+04]

# Retrieve the bin boundaries for each non None predicate

In [209]:
import pandas as pd
import re

# Example dataframe
# data = {
#     'EXPLAIN_TIME': ['2024-10-08-04.48.13.056756']*4,
#     'OPERATOR_ID': [1, 2, 3, 4],
#     'OPERATOR_TYPE': ['RETURN', 'HSJOIN', 'TBSCAN', 'TBSCAN'],
#     'TABLE': [None, None, 'TPCDS.CUSTOMER', 'TPCDS.DATE_DIM2'],
#     'PREDICATE1': [None, None, None, 'TPCDS.DATE_DIM2.D_YEAR >= 1958'],
#     'PREDICATE2': [None, None, None, 'TPCDS.DATE_DIM2.D_MOY = 12'],
#     'PREDICATE3': [None, None, None, None],
#     'JOIN_KEY': [None, 'TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.CUSTOMER.C_FIRST_SHIPTO_DATE_SK', None, None]
# }

# df = pd.DataFrame(data)

# Define a pattern to extract the column part from the predicate
pattern = r'([A-Z0-9_]+\.[A-Z0-9_]+\.[A-Z0-9_]+)'

# Iterate over each row and check PREDICATE1, PREDICATE2, PREDICATE3
for index, row in df.iterrows():
    for col in ['PREDICATE1', 'PREDICATE2', 'PREDICATE3']:
        predicate = row[col]
        if isinstance(predicate, str):
            # Extract the column part from the predicate
            match = re.search(pattern, predicate)
            if match:
                column_name = match.group(1)
                # Retrieve bin boundaries from the dictionary
                if column_name in bin_boundaries_dict:
                    bin_boundaries = bin_boundaries_dict[column_name]
                    print(f"Predicate: {predicate}")
                    print(f"Column: {column_name}")
                    print(f"Bin boundaries: {bin_boundaries}\n")

Predicate: TPCDS.WEB_SALES.WS_ITEM_SK >= 16111
Column: TPCDS.WEB_SALES.WS_ITEM_SK
Bin boundaries: [1.0000000e+00 3.6100000e+02 7.2300000e+02 1.0840000e+03 1.4400000e+03
 1.7980000e+03 2.1579600e+03 2.5220000e+03 2.8810000e+03 3.2380000e+03
 3.5960000e+03 3.9580000e+03 4.3180000e+03 4.6790000e+03 5.0390000e+03
 5.4010000e+03 5.7640000e+03 6.1180000e+03 6.4780000e+03 6.8370000e+03
 7.2010000e+03 7.5610000e+03 7.9230000e+03 8.2830000e+03 8.6430000e+03
 9.0040000e+03 9.3670000e+03 9.7310000e+03 1.0093000e+04 1.0456000e+04
 1.0819000e+04 1.1175000e+04 1.1535000e+04 1.1898000e+04 1.2258000e+04
 1.2618000e+04 1.2975000e+04 1.3336000e+04 1.3695000e+04 1.4054000e+04
 1.4412000e+04 1.4767000e+04 1.5127000e+04 1.5485000e+04 1.5846000e+04
 1.6202000e+04 1.6565000e+04 1.6928000e+04 1.7282000e+04 1.7643000e+04
 1.8000001e+04]

Predicate: TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48
Column: TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX
Bin boundaries: [0.0000000e+00 5.5316000e+00 1.9970000e+01 3.6550000e+01 5.5570000e+01
 7.6520000e+01 9.9850000e+01 1.2535000e+02 1.5364280e+02 1.8466440e+02
 2.1852000e+02 2.5543760e+02 2.9524000e+02 3.3798080e+02 3.8372000e+02
 4.3346400e+02 4.8638000e+02 5.4406000e+02 6.0499000e+02 6.6967040e+02
 7.3958000e+02 8.1455360e+02 8.9455000e+02 9.8115000e+02 1.0719284e+03
 1.1702400e+03 1.2745216e+03 1.3874100e+03 1.5060400e+03 1.6349000e+03
 1.7725500e+03 1.9240200e+03 2.0829900e+03 2.2534500e+03 2.4387900e+03
 2.6409880e+03 2.8601004e+03 3.1002492e+03 3.3637616e+03 3.6556724e+03
 3.9827160e+03 4.3431336e+03 4.7612064e+03 5.2306492e+03 5.7868516e+03
 6.4514500e+03 7.2674872e+03 8.3304536e+03 9.8366768e+03 1.2319020e+04
 3.0821431e+04]

# computing fraction

In [210]:
import re
import numpy as np

# Initialize the dictionary to store the results
bin_coverage_dict = {}

# Function to extract the operator and value from a predicate
def extract_value(predicate):
    match = re.search(r'([<>]=?|=)\s*(\d+)', predicate)
    if match:
        operator, value = match.groups()
        return operator, int(value)
    return None, None

# Function to check which bins are covered by the predicate
def check_bins_coverage(operator, value, bin_edges):
    bin_coverage = []

    for i in range(len(bin_edges) - 1):
        bin_start = bin_edges[i]
        bin_end = bin_edges[i + 1]
        bin_range = bin_end - bin_start  # The width of the bin

        # Handle '>='
        if operator == '>=':
            if value <= bin_start:
                bin_coverage.append(1)  # Bin is entirely covered
            elif value > bin_end:
                bin_coverage.append(0)  # No coverage
            else:
                # Partial coverage - fraction of bin covered
                covered_fraction = (bin_end - value) / bin_range
                bin_coverage.append(covered_fraction)

        # Handle '>'
        elif operator == '>':
            if value < bin_start:
                bin_coverage.append(1)  # Bin is entirely covered
            elif value >= bin_end:
                bin_coverage.append(0)  # No coverage
            else:
                covered_fraction = (bin_end - value) / bin_range
                bin_coverage.append(covered_fraction)

        # Handle '<='
        elif operator == '<=':
            if value >= bin_end:
                bin_coverage.append(1)  # Bin is entirely covered
            elif value < bin_start:
                bin_coverage.append(0)  # No coverage
            else:
                covered_fraction = (value - bin_start) / bin_range
                bin_coverage.append(covered_fraction)

        # Handle '<'
        elif operator == '<':
            if value > bin_end:
                bin_coverage.append(1)  # Bin is entirely covered
            elif value <= bin_start:
                bin_coverage.append(0)  # No coverage
            else:
                covered_fraction = (value - bin_start) / bin_range
                bin_coverage.append(covered_fraction)

        # Handle '='
        elif operator == '=':
            if bin_start <= value < bin_end:
                bin_coverage.append(1)  # Exact match within the bin
            else:
                bin_coverage.append(0)

    return bin_coverage

# Iterate over each row and check PREDICATE1, PREDICATE2, PREDICATE3
for index, row in df.iterrows():
    for col in ['PREDICATE1', 'PREDICATE2', 'PREDICATE3']:
        predicate = row[col]
        if isinstance(predicate, str):
            # Extract the column part from the predicate
            match = re.search(pattern, predicate)
            if match:
                column_name = match.group(1)

                # Retrieve bin boundaries from the dictionary
                if column_name in bin_boundaries_dict:
                    bin_edges = bin_boundaries_dict[column_name]

                    # Extract the operator and value from the predicate
                    operator, value = extract_value(predicate)

                    if operator and value is not None:
                        # Check which bins are covered
                        bin_coverage = check_bins_coverage(operator, value, bin_edges)

                        # Store the result in the dictionary with the predicate as the key
                        bin_coverage_dict[predicate] = bin_coverage

                        print(f"Predicate: {predicate}")
                        print(f"Column: {column_name}")
                        print(f"Bin boundaries: {bin_edges}")
                        print(f"Bin coverage: {bin_coverage}\n")

# Now you can access the results in bin_coverage_dict
print(bin_coverage_dict)

Predicate: TPCDS.WEB_SALES.WS_ITEM_SK >= 16111
Column: TPCDS.WEB_SALES.WS_ITEM_SK
Bin boundaries: [1.0000000e+00 3.6100000e+02 7.2300000e+02 1.0840000e+03 1.4400000e+03
 1.7980000e+03 2.1579600e+03 2.5220000e+03 2.8810000e+03 3.2380000e+03
 3.5960000e+03 3.9580000e+03 4.3180000e+03 4.6790000e+03 5.0390000e+03
 5.4010000e+03 5.7640000e+03 6.1180000e+03 6.4780000e+03 6.8370000e+03
 7.2010000e+03 7.5610000e+03 7.9230000e+03 8.2830000e+03 8.6430000e+03
 9.0040000e+03 9.3670000e+03 9.7310000e+03 1.0093000e+04 1.0456000e+04
 1.0819000e+04 1.1175000e+04 1.1535000e+04 1.1898000e+04 1.2258000e+04
 1.2618000e+04 1.2975000e+04 1.3336000e+04 1.3695000e+04 1.4054000e+04
 1.4412000e+04 1.4767000e+04 1.5127000e+04 1.5485000e+04 1.5846000e+04
 1.6202000e+04 1.6565000e+04 1.6928000e+04 1.7282000e+04 1.7643000e+04
 1.8000001e+04]
Bin coverage: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.2556179775280899, 1, 1, 1, 1, 1]

{'TPCDS.WEB_SALES.WS_ITEM_SK >= 16111': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.2556179775280899, 1, 1, 1, 1, 1]}

# Calculating Tree Node heights

In [211]:
df

                 EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY
0  2024-10-08-04.52.21.704464            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
1  2024-10-08-04.52.21.704464            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK
2  2024-10-08-04.52.21.704464            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN
3  2024-10-08-04.52.21.704464            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN
4  2024-10-08-04.52.21.704464            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
5  2024-10-08-04.52.21.704464            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN
6  2024-10-08-04.52.21.704464            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN

In [212]:
# Read the CSV file
file_path = 'SimpleQueriesSQ12c/EXPLAIN_STREAM.csv'
df_stream = pd.read_csv(file_path)

# Filter for the given EXPLAIN_TIME value and non-NaN OBJECT_NAME
df_stream = df_stream.loc[(df_stream['EXPLAIN_TIME'] == query1_ts)].copy()

In [213]:
df_stream.columns

Index(['EXPLAIN_REQUESTER', 'EXPLAIN_TIME', 'SOURCE_NAME', 'SOURCE_SCHEMA', 'SOURCE_VERSION', 'EXPLAIN_LEVEL', 'STMTNO', 'SECTNO', 'STREAM_ID', 'SOURCE_TYPE', 'SOURCE_ID', 'TARGET_TYPE', 'TARGET_ID', 'OBJECT_SCHEMA', 'OBJECT_NAME', 'STREAM_COUNT', 'COLUMN_COUNT', 'PREDICATE_ID', 'COLUMN_NAMES', 'PMID', 'SINGLE_NODE', 'PARTITION_COLUMNS', 'SEQUENCE_SIZES', 'OBJECT_TENANTID'], dtype='object')

In [214]:
df_stream = df_stream[['SOURCE_ID', 'TARGET_ID']]

In [215]:
df_stream.head()

     SOURCE_ID  TARGET_ID
569         -1          3
570          3          2
571         -1          7
572          7          6
573          6          5

In [216]:
df_stream

     SOURCE_ID  TARGET_ID
569         -1          3
570          3          2
571         -1          7
572          7          6
573          6          5
574          5          4
575         -1          4
576          4          2
577          2          1

In [217]:

import pandas as pd
import numpy as np

# Step 1: Generate the adjacency matrix (from previous code)
# data = {
#     'SOURCE_ID': [-1, 3, -1, 4, 2],
#     'TARGET_ID': [3, 2, 4, 2, 1]
# }
# df = pd.DataFrame(data)

# Extract all unique nodes from SOURCE_ID and TARGET_ID
node_ids = set(df_stream['SOURCE_ID']).union(set(df_stream['TARGET_ID'])) - {-1}
node_ids = sorted(node_ids)

# Map node ids to indices for the adjacency matrix
node_to_index = {node: idx for idx, node in enumerate(node_ids)}

# Initialize the adjacency matrix with zeros
n = len(node_ids)
adj_matrix = np.zeros((n, n), dtype=int)

# Fill the adjacency matrix based on the parent-child relationships
for _, row in df_stream.iterrows():
    source = row['SOURCE_ID']
    target = row['TARGET_ID']
    
    if source != -1:
        parent_idx = node_to_index[target]
        child_idx = node_to_index[source]
        adj_matrix[parent_idx][child_idx] = 1

# Convert to DataFrame for better display
adj_matrix_df = pd.DataFrame(adj_matrix, index=node_ids, columns=node_ids)
print("Adjacency Matrix:")
print(adj_matrix_df)

Adjacency Matrix:
   1  2  3  4  5  6  7
1  0  1  0  0  0  0  0
2  0  0  1  1  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0
5  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1
7  0  0  0  0  0  0  0

In [218]:
# Reset the index of the adjacency matrix to be 0-based
adj_matrix_df.index = adj_matrix_df.index - 1  # Convert row indices to 0-based
adj_matrix_df.columns = adj_matrix_df.columns - 1  # Convert column indices to 0-based

print("Adjacency Matrix with 0-Based Index:")
print(adj_matrix_df)

Adjacency Matrix with 0-Based Index:
   0  1  2  3  4  5  6
0  0  1  0  0  0  0  0
1  0  0  1  1  0  0  0
2  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0
4  0  0  0  0  0  1  0
5  0  0  0  0  0  0  1
6  0  0  0  0  0  0  0

# Find the BFS sequence

In [219]:
import numpy as np
from collections import deque

def bfs_from_adj_matrix(adj_matrix, start_node):
    """
    Perform BFS on a graph represented by an adjacency matrix.

    Args:
        adj_matrix (np.ndarray): Adjacency matrix of the graph.
        start_node (int): Starting node for BFS.

    Returns:
        list: List of nodes in the order they are visited.
    """
    num_nodes = adj_matrix.shape[0]  # Number of nodes
    visited = [False] * num_nodes    # Track visited nodes
    queue = deque([start_node])      # Initialize queue with the start node
    visited[start_node] = True       # Mark the start node as visited

    bfs_order = []  # List to store BFS traversal order

    while queue:
        node = queue.popleft()       # Dequeue the next node
        bfs_order.append(node)       # Record the visited node

        # Check all neighbors (columns in the row of this node)
        for neighbor, is_connected in enumerate(adj_matrix[node]):
            if is_connected and not visited[neighbor]:  # If connected and not visited
                queue.append(neighbor)                  # Enqueue the neighbor
                visited[neighbor] = True                # Mark as visited

    return bfs_order

# Convert adj_matrix_df to NumPy array
adj_matrix_np = adj_matrix_df.values

# Perform BFS starting from node 0
bfs_order = bfs_from_adj_matrix(adj_matrix_np, start_node=0)
print("BFS Row Index Order:", bfs_order)

BFS Row Index Order: [0, 1, 2, 3, 4, 5, 6]

In [220]:
# Convert 0-based indexed adjacency matrix to adj_list
adj_list = []

# Iterate over the adjacency matrix
for parent_idx, row in enumerate(adj_matrix):  # parent_idx is the row index
    for child_idx, is_child in enumerate(row):  # child_idx is the column index
        if is_child:  # If there's a connection (value is 1)
            adj_list.append((parent_idx, child_idx))  # Use 0-based indices directly

adj_list_tensor = torch.LongTensor(np.array(adj_list))

print("Adjacency List:")
print(adj_list_tensor)

Adjacency List:
tensor([[0, 1],
        [1, 2],
        [1, 3],
        [3, 4],
        [4, 5],
        [5, 6]])

In [221]:
# Step 1: Perform BFS to get the order of nodes
bfs_order = bfs_from_adj_matrix(adj_matrix, start_node=0)  # Adjust start_node as needed

# Step 2: Create a mapping from BFS order to indices for sorting
bfs_index_map = {node: i for i, node in enumerate(bfs_order)}

# Step 3: Reorder adj_list based on BFS order
adj_list = [
    (parent, child)
    for parent in bfs_order
    for child, is_child in enumerate(adj_matrix[parent])
    if is_child  # Keep only valid edges
]

# Step 4: Convert to tensor if needed
adj_list_tensor = torch.LongTensor(np.array(adj_list))

print("Reordered Adjacency List:")
print(adj_list_tensor)

Reordered Adjacency List:
tensor([[0, 1],
        [1, 2],
        [1, 3],
        [3, 4],
        [4, 5],
        [5, 6]])

In [222]:
edge_index = adj_list_tensor.t()

In [223]:
edge_index

tensor([[0, 1, 1, 3, 4, 5],
        [1, 2, 3, 4, 5, 6]])

In [224]:
from model.database_util import floyd_warshall_rewrite

In [225]:
df

                 EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY
0  2024-10-08-04.52.21.704464            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
1  2024-10-08-04.52.21.704464            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK
2  2024-10-08-04.52.21.704464            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN
3  2024-10-08-04.52.21.704464            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN
4  2024-10-08-04.52.21.704464            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
5  2024-10-08-04.52.21.704464            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN
6  2024-10-08-04.52.21.704464            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN

In [226]:
bfs_order

[0, 1, 2, 3, 4, 5, 6]

In [227]:
# Reorder the DataFrame rows based on BFS order
df = df.iloc[bfs_order].reset_index(drop=True)

df

                 EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY
0  2024-10-08-04.52.21.704464            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
1  2024-10-08-04.52.21.704464            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK
2  2024-10-08-04.52.21.704464            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN
3  2024-10-08-04.52.21.704464            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN
4  2024-10-08-04.52.21.704464            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN
5  2024-10-08-04.52.21.704464            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN
6  2024-10-08-04.52.21.704464            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN

In [228]:
df.shape
N = df.shape[0]

In [229]:
if len(edge_index) == 0:
            shortest_path_result = np.array([[0]])
            path = np.array([[0]])
            adj = torch.tensor([[0]]).bool()
else:
            adj = torch.zeros([N,N], dtype=torch.bool)
            adj[edge_index[0,:], edge_index[1,:]] = True
            
            shortest_path_result = floyd_warshall_rewrite(adj.numpy())
        
rel_pos = torch.from_numpy((shortest_path_result)).long()

In [230]:
rel_pos

tensor([[ 0,  1,  2,  2,  3,  4,  5],
        [60,  0,  1,  1,  2,  3,  4],
        [60, 60,  0, 60, 60, 60, 60],
        [60, 60, 60,  0,  1,  2,  3],
        [60, 60, 60, 60,  0,  1,  2],
        [60, 60, 60, 60, 60,  0,  1],
        [60, 60, 60, 60, 60, 60,  0]])

In [231]:
def pad_attn_bias_unsqueeze(x, padlen):
    xlen = x.size(0)
    if xlen < padlen:
        new_x = x.new_zeros([padlen, padlen], dtype=x.dtype).fill_(float('-inf'))
        new_x[:xlen, :xlen] = x
        new_x[xlen:, :xlen] = 0
        x = new_x
    return x.unsqueeze(0)

In [232]:
attn_bias = torch.zeros([N+1,N+1], dtype=torch.float)
attn_bias[1:, 1:][rel_pos >= rel_pos_max] = float('-inf')

In [233]:
attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)

In [234]:
def pad_rel_pos_unsqueeze(x, padlen):
    x = x + 1
    xlen = x.size(0)
    if xlen < padlen:
        new_x = x.new_zeros([padlen, padlen], dtype=x.dtype)
        new_x[:xlen, :xlen] = x
        x = new_x
    return x.unsqueeze(0)

In [235]:
rel_pos.shape

torch.Size([7, 7])

In [236]:
rel_pos

tensor([[ 0,  1,  2,  2,  3,  4,  5],
        [60,  0,  1,  1,  2,  3,  4],
        [60, 60,  0, 60, 60, 60, 60],
        [60, 60, 60,  0,  1,  2,  3],
        [60, 60, 60, 60,  0,  1,  2],
        [60, 60, 60, 60, 60,  0,  1],
        [60, 60, 60, 60, 60, 60,  0]])

# creating attn_bias tensor

In [237]:
attn_bias = torch.zeros([N+1,N+1], dtype=torch.float)
attn_bias[1:, 1:][rel_pos >= rel_pos_max] = float('-inf')
#attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)

In [238]:
attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)
rel_pos = pad_rel_pos_unsqueeze(rel_pos, max_node)

In [239]:
attn_bias.shape

torch.Size([1, 31, 31])

In [240]:
rel_pos.shape

torch.Size([1, 30, 30])

# Computing longest path for each node

In [241]:
# Step 6: Define a function to compute the longest path from a node to a leaf
def longest_path_from_node(node_idx, adj_matrix, memo):
    # If this node's longest path is already computed, return the cached result
    if node_idx in memo:
        return memo[node_idx]
    
    # If the node is a leaf node (no outgoing edges)
    if np.sum(adj_matrix[node_idx]) == 0:
        memo[node_idx] = 0  # Longest path from a leaf is 0
        return 0
    
    # Otherwise, recursively calculate the longest path from this node to a leaf
    max_length = 0
    for child_idx in range(len(adj_matrix)):
        if adj_matrix[node_idx][child_idx] == 1:  # There's a connection to this child
            max_length = max(max_length, 1 + longest_path_from_node(child_idx, adj_matrix, memo))
    
    memo[node_idx] = max_length  # Memoize the result
    return memo[node_idx]

memo = {}
longest_paths = {}

for node in node_ids:
    node_idx = node_to_index[node]
    longest_paths[node] = longest_path_from_node(node_idx, adj_matrix, memo) + 1

# Step 8: Display the longest path for each node
print("\nLongest Path from Each Node to a Leaf:")
for node, length in longest_paths.items():
    print(f"Node {node}: Longest path = {length}")

Longest Path from Each Node to a Leaf:
Node 1: Longest path = 6
Node 2: Longest path = 5
Node 3: Longest path = 1
Node 4: Longest path = 4
Node 5: Longest path = 3
Node 6: Longest path = 2
Node 7: Longest path = 1

In [242]:
type(longest_paths)

dict

In [243]:
longest_paths.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [244]:
# Add a new column 'height' based on the matching OPERATOR_ID
df['height'] = df['OPERATOR_ID'].map(longest_paths)

In [245]:
df.shape

(7, 9)

In [246]:
df

                 EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height
0  2024-10-08-04.52.21.704464            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       6
1  2024-10-08-04.52.21.704464            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5
2  2024-10-08-04.52.21.704464            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1
3  2024-10-08-04.52.21.704464            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4
4  2024-10-08-04.52.21.704464            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       3
5  2024-10-08-04.52.21.704464            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN       2
6  2024-10-08-04.52.21.704464            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN       1

# Creating a tensor of heights

In [247]:
heights = df['height'].values

In [248]:
heights

array([6, 5, 1, 4, 3, 2, 1])

In [249]:
heights = pad_1d_unsqueeze(torch.LongTensor(heights), max_node)

In [250]:
heights

tensor([[7, 6, 2, 5, 4, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0]])

In [251]:
heights.shape

torch.Size([1, 30])

In [252]:
N

7

In [253]:
heights

tensor([[7, 6, 2, 5, 4, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0]])

# Look up the `SORT_SHRHEAP_TOP` from the activity files

In [254]:
### Step 1: look up the `APPL_ID`, 'ACTIVITY_ID', 'UOW_ID'
# Define the file path and the timestamp value
file_path = 'SimpleQueriesSQ12c/success.csv'  # Replace with your CSV file path

# Read the CSV file, selecting only relevant columns
column_headers = ['QUERYID', 'APPL_ID', 'UOW_ID', 'ACTIVITY_ID', 'EXPLAIN_TIME', 'QUERY']
df_success = pd.read_csv(file_path, header=None)

df_success.columns = column_headers

In [255]:
df_success.shape

(6957, 6)

In [256]:
df_query1 = df_success[df_success['EXPLAIN_TIME'] == query1_ts]

In [257]:
df_query1

   QUERYID                      APPL_ID  UOW_ID  ACTIVITY_ID                EXPLAIN_TIME                                                                                                                                                                                                                                                                    QUERY
81      83  *LOCAL.shaikhq.241008114819   656.0          1.0  2024-10-08-04.52.21.704464  SELECT TPCDS.WEB_SALES.WS_EXT_TAX , TPCDS.DATE_DIM2.D_DOM FROM TPCDS.WEB_SALES INNER JOIN TPCDS.DATE_DIM2 ON TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK WHERE TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48 AND TPCDS.WEB_SALES.WS_ITEM_SK >= 16111

In [258]:
query1_APPL_ID = df_query1['APPL_ID'].values[0]
query1_UOW_ID = int(df_query1['UOW_ID'].values[0])
query1_ACTIVITY_ID = int(df_query1['ACTIVITY_ID'].values[0])

In [259]:
query1_APPL_ID

'*LOCAL.shaikhq.241008114819'

In [260]:
query1_UOW_ID

656

In [261]:
query1_ACTIVITY_ID

1

In [262]:
# Now read the ACTIVITY_DB2ACTIVITIES.csv file

file_path = 'SimpleQueriesSQ12c/ACTIVITY_DB2ACTIVITIES.csv'  # Replace with your CSV file path

# Read the CSV file, selecting only relevant columns
columns_to_read = ['APPL_ID', 'UOW_ID', 'ACTIVITY_ID', 'SORT_SHRHEAP_TOP']
df_activity = pd.read_csv(file_path, usecols=columns_to_read, encoding='ISO-8859-1')

df_activity_query1 = df_activity[(df_activity['APPL_ID'] == query1_APPL_ID) & 
                                  (df_activity['UOW_ID'] == query1_UOW_ID) &
                                 (df_activity['ACTIVITY_ID'] == query1_ACTIVITY_ID)]

In [263]:
df_activity_query1.shape

(0, 4)

In [264]:
df_activity_view = %sql SELECT * FROM ACTIVITY_VIEW;

In [265]:
df_activity_view.columns

Index(['ACTIVITY_ID', 'APPL_ID', 'UOW_ID', 'SORT_SHRHEAP_TOP', 'STMT_TEXT'], dtype='object')

In [266]:
df_success.columns

Index(['QUERYID', 'APPL_ID', 'UOW_ID', 'ACTIVITY_ID', 'EXPLAIN_TIME', 'QUERY'], dtype='object')

In [267]:
df_success.shape

(6957, 6)

In [268]:
df_activity_view.shape

(3229, 5)

In [269]:
output_df = pd.merge(
    df_success,
    df_activity_view,
    left_on=['ACTIVITY_ID', 'APPL_ID', 'UOW_ID', 'QUERY'],
    right_on=['ACTIVITY_ID', 'APPL_ID', 'UOW_ID', 'STMT_TEXT'],
    how='inner'
)

In [270]:
output_df.shape

(2536, 8)

In [271]:
output_df = output_df[['QUERYID', 'EXPLAIN_TIME', 'QUERY', 'SORT_SHRHEAP_TOP']]

In [272]:
output_df.shape

(2536, 4)

In [273]:
output_df.to_csv("query_list.csv")

In [274]:
# output_df.sample(10)

In [275]:
output_df[output_df['EXPLAIN_TIME'] == query1_ts]

   QUERYID                EXPLAIN_TIME                                                                                                                                                                                                                                                                    QUERY  SORT_SHRHEAP_TOP
30      83  2024-10-08-04.52.21.704464  SELECT TPCDS.WEB_SALES.WS_EXT_TAX , TPCDS.DATE_DIM2.D_DOM FROM TPCDS.WEB_SALES INNER JOIN TPCDS.DATE_DIM2 ON TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK WHERE TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48 AND TPCDS.WEB_SALES.WS_ITEM_SK >= 16111               632

## List the final set of dataframes, which I will convert to tensors

In [276]:
# get the SORT_SHRHEAP_TOP
raw_costs = output_df[output_df['EXPLAIN_TIME'] == query1_ts]['SORT_SHRHEAP_TOP'].values.tolist()
QUERYID = output_df[output_df['EXPLAIN_TIME'] == query1_ts]['QUERYID'].values[0]

print(raw_costs)

[632]

In [277]:
type(raw_costs)

list

In [278]:
import torch
from model.util import Normalizer

# cost_norm = Normalizer(1, 100)
# cost_norm = Normalizer(-3.61192, 12.290855)
#cost_norm = Normalizer(5, 2611)
cost_norm = Normalizer(1.609, 7.865)
cost_labels = torch.from_numpy(cost_norm.normalize_labels(raw_costs))

In [279]:
cost_labels

tensor([0.7736], dtype=torch.float64)

In [280]:
QUERYID

'83'

In [281]:
# get the node features
df

                 EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height
0  2024-10-08-04.52.21.704464            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       6
1  2024-10-08-04.52.21.704464            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5
2  2024-10-08-04.52.21.704464            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1
3  2024-10-08-04.52.21.704464            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4
4  2024-10-08-04.52.21.704464            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       3
5  2024-10-08-04.52.21.704464            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN       2
6  2024-10-08-04.52.21.704464            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN       1

In [282]:
df.shape

(7, 9)

In [283]:
df.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height'], dtype='object')

In [284]:
df_node_feat = df[['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height']]

In [285]:
df_node_feat

   OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height
0            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       6
1            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5
2            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1
3            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4
4            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       3
5            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN       2
6            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN       1

In [286]:
# Generate the bitmap indicating NaN (0) or non-NaN (1) in PREDICATE1, PREDICATE2, and PREDICATE3
bitmap = df_node_feat[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']].notna().astype(int).values.tolist()

# Display the bitmap
print(bitmap)

df_node_feat['PREDICATE_MASK'] = bitmap

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [1, 1, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [287]:
df_node_feat

   OPERATOR_ID OPERATOR_TYPE                      TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height PREDICATE_MASK
0            1        RETURN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       6      [0, 0, 0]
1            2        HSJOIN                        NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5      [0, 0, 0]
2            3        TBSCAN            TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1      [0, 0, 0]
3            4        FETCH             TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4      [1, 1, 0]
4            5        RIDSCN                        NaN                                  NaN                                               NaN         NaN                                                          NaN       3      [0, 0, 0]
5            6        SORT                          NaN                                  NaN                                               NaN         NaN                                                          NaN       2      [0, 0, 0]
6            7        IXSCAN  SYSIBM.SQL240509064049930                                  NaN                                               NaN         NaN                                                          NaN       1      [0, 0, 0]

In [288]:
# Gather all non-NaN values from PREDICATE1, PREDICATE2, and PREDICATE3 columns
non_nan_predicates = df_node_feat[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']].stack().dropna().tolist()

# Display the gathered non-NaN predicate values
print(non_nan_predicates)

['TPCDS.WEB_SALES.WS_ITEM_SK >= 16111', 'TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48']

In [289]:
# Transform and combine each predicate into a single quoted string with [SEP]
transformed_predicates = [
    f"'col: {parts[0]} [SEP] op: {parts[1]} [SEP] val: {parts[2]}'"
    for predicate in predicates
    if isinstance(predicate, str)  # Ensure it's a string
    for parts in [predicate.split(' ', 2)]
]

# Display the transformed predicates
for transformed in transformed_predicates:
    print(transformed)

'col: Q1.WS_ITEM_SK [SEP] op: >= [SEP] val: 16111'
'col: Q1.WS_NET_PAID_INC_TAX [SEP] op: <= [SEP] val: +00183.48'

In [290]:
from sentence_transformers import SentenceTransformer

# Load the pre-trained embedding model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Original predicates
predicates = ['TPCDS.DATE_DIM2.D_DOM <= 31', 'TPCDS.DATE_DIM2.D_SAME_DAY_LQ >= 2414988']

# Generate embeddings for each predicate
embeddings = model.encode(predicates)

# Create a dictionary where the original string is the key, and the embedding is the value
predicate_embedding_dict = {predicate: embedding for predicate, embedding in zip(predicates, embeddings)}

# Display the dictionary
for predicate, embedding in predicate_embedding_dict.items():
    print(f"Predicate: {predicate}")
    print(f"Embedding: {embedding}")
    print(f"Shape: {embedding.shape}")
    print()

Predicate: TPCDS.DATE_DIM2.D_DOM <= 31
Embedding: [ 5.68409041e-02  3.00318245e-02  2.42162403e-02  2.12519094e-02
 -1.58383953e-03 -2.48856619e-02 -7.23423511e-02  4.81826700e-02
  1.32549116e-02  5.29146753e-02  5.97863160e-02 -4.96302657e-02
 -5.22931628e-02 -5.83586618e-02 -3.75243872e-02 -5.78090269e-03
 -5.04243895e-02 -9.57685895e-03  1.07128389e-01  5.30022494e-02
 -7.80352717e-03 -1.60809234e-02 -2.30016652e-02  6.48317263e-02
 -2.53171846e-02  3.90802249e-02  3.76865454e-02 -5.04741035e-02
  2.67909542e-02  3.89553756e-02 -4.15233262e-02  3.67712006e-02
 -5.25134690e-02  4.03491072e-02  2.97929160e-02  3.70051451e-02
 -6.39251843e-02  6.46820962e-02 -1.71961784e-02 -3.37731913e-02
  3.25575471e-02 -6.00705072e-02  6.06203601e-02 -1.85770988e-02
 -4.40071262e-02  1.28346933e-02 -1.52654620e-02  2.59828521e-03
 -1.62462294e-02 -9.70714632e-03  6.12187141e-05  2.49067452e-02
 -7.18900096e-03 -2.00947206e-02 -4.07133065e-02  2.63743121e-02
 -1.39704207e-02 -3.80217377e-03  5.84956221e-02 -1.22230416e-02
  1.40028717e-02 -2.26586740e-02  8.54634643e-02 -1.36643210e-02
  3.30856629e-02 -7.90606886e-02 -1.64710786e-02  3.37780863e-02
 -4.79986705e-02  6.10033097e-03 -7.52748996e-02  5.35506532e-02
  2.04849034e-03  2.36741304e-02  3.51559259e-02  1.94532219e-02
 -3.75267826e-02 -4.03334424e-02  9.63982344e-02 -1.30528182e-01
 -2.56488975e-02 -2.05720440e-02 -2.68241912e-02  2.51668785e-02
  8.09421763e-02 -1.79411098e-02  3.18118855e-02  8.16868842e-02
  6.35871245e-03 -5.13489135e-02  6.04718328e-02  7.20128790e-02
 -4.59877513e-02  8.13024938e-02 -3.24369632e-02 -4.69512157e-02
  6.00082390e-02  5.20755611e-02  4.07935083e-02 -1.27968437e-03
 -7.59759322e-02  5.96260279e-02 -1.74361914e-01  7.58247226e-02
 -1.91190653e-02 -4.90077063e-02 -6.79774676e-03 -3.71340252e-02
  5.35672717e-03 -6.02135472e-02 -9.49416368e-04  6.24804050e-02
  1.57913833e-03 -8.32216814e-02  8.12501907e-02 -4.96170707e-02
 -1.30518312e-02  3.93320248e-02  8.51524994e-02 -1.25014976e-01
  5.28888404e-03  1.54056540e-02 -3.53072397e-02 -2.72058584e-02
 -4.44567464e-02 -6.18809015e-02  8.66976380e-02  5.68419615e-34
  3.03349178e-02 -4.78938073e-02 -5.78094348e-02  8.51470977e-02
  2.50965618e-02  5.55821322e-02  1.72303673e-02 -2.48906314e-02
 -6.05534576e-02  6.47626221e-02 -6.25865012e-02 -1.29062623e-01
  1.25823058e-02 -1.21721141e-01 -7.13627459e-03  6.23313002e-02
  4.45117839e-05  9.00071934e-02  6.49886653e-02 -6.16908632e-02
  1.14414813e-02 -5.09968698e-02  2.36147102e-02  7.88523164e-03
  3.33058946e-02 -5.67610711e-02 -1.10035568e-01 -1.12613272e-02
 -7.43275415e-03 -1.64713487e-02 -1.33886216e-02 -1.66171584e-02
 -1.41982385e-03  3.75026241e-02  1.24742880e-01 -1.78445727e-02
  3.79549526e-02  6.74060956e-02  2.04661232e-03  8.39425623e-03
 -5.13386913e-02 -2.19855644e-02  6.38543740e-02 -1.27894133e-01
 -3.72551978e-02  3.77782923e-03  3.19814794e-02  5.65572269e-03
  1.24055473e-02  5.97536899e-02 -3.74947712e-02  8.63393676e-03
  1.87043119e-02 -3.86252627e-02 -6.98758289e-02 -5.50644994e-02
 -7.83970099e-05 -1.75449140e-02  6.01582676e-02  3.96312177e-02
  6.54449388e-02  4.58583198e-02 -1.41084558e-04 -9.73344892e-02
 -2.88979337e-03  1.13579407e-02  5.00277691e-02 -2.59773619e-03
 -6.01914106e-03  4.50620279e-02  2.89433710e-02  4.52079959e-02
  5.97639270e-02 -7.97625706e-02  4.29719985e-02 -9.06489268e-02
  4.79035862e-02 -6.96872622e-02  4.80699539e-02 -4.44699861e-02
 -9.48615279e-03 -1.02861067e-02 -1.61052831e-02 -3.83164659e-02
  6.84959069e-02 -2.13334635e-02 -5.94248474e-02  5.34938462e-02
  3.42433490e-02 -2.13263258e-02 -2.01574583e-02 -9.86491293e-02
  1.77369697e-03  7.37317000e-03  8.04286823e-02 -1.15796305e-33
  1.58050526e-02  3.93339582e-02 -4.11987454e-02 -4.90894020e-02
 -3.04368651e-03 -3.98277678e-02 -2.33791471e-02  5.19418046e-02
 -7.38655159e-04 -1.01611707e-02  1.34550169e-01 -5.79430982e-02
 -1.10764980e-01  3.93732525e-02  4.17491943e-02  4.22182344e-02
 -3.11855897e-02 -3.09916865e-02 -4.89575565e-02 -6.60670772e-02
 -7.84486253e-03  7.83182587e-03 -6.14092574e-02  8.60823318e-02
 -3.21726175e-03  6.35841265e-02  7.23014995e-02  3.36422473e-02
 -2.88088084e-03 -3.05907447e-02 -1.75234005e-02  1.64690474e-03
 -5.13214357e-02  1.23377405e-01 -1.19542042e-02 -1.00394646e-02
  1.35860937e-02 -8.87660757e-02  3.65553163e-02  1.01804947e-02
 -4.35130298e-02  1.94786116e-02 -4.71284203e-02 -2.83737876e-03
 -2.46817712e-02  5.99960350e-02  7.67839774e-02  7.10134432e-02
  1.17637463e-01 -1.92679337e-03 -8.28029495e-03 -4.18953523e-02
  7.28195086e-02  1.62236076e-02 -4.30168910e-03 -1.44355302e-03
  3.25192208e-03  3.03441174e-02  4.51954193e-02 -1.03870407e-01
 -8.12567864e-03  3.20264287e-02  1.37945237e-02 -2.84148660e-02
 -3.85095477e-02  1.32391360e-02 -9.87349916e-03  5.05546108e-02
 -3.84124890e-02  1.15110248e-03 -3.84448003e-03  9.16177407e-03
 -8.37086067e-02 -7.69719034e-02 -5.65174557e-02 -6.96095675e-02
  5.18254302e-02  9.87654701e-02  5.64637110e-02  2.17914600e-02
 -1.08132483e-02  8.06826279e-02  5.51770143e-02  4.99826437e-03
 -6.52435496e-02  2.74688564e-02 -3.83674763e-02  5.73348254e-03
 -4.11378480e-02 -5.59998304e-02 -4.22056541e-02  1.31603638e-02
  3.83371785e-02  7.14295506e-02  3.86401415e-02 -2.07964863e-08
 -9.24645066e-02 -2.77235475e-03 -6.56276345e-02 -3.77647430e-02
  1.61342658e-02 -5.32017685e-02 -2.22816747e-02  1.09755188e-01
  8.01797137e-02  1.73425917e-02  1.15849927e-01 -3.42521891e-02
  3.67005095e-02 -6.44661561e-02  4.37026434e-02 -3.36930417e-02
 -1.34735510e-01 -4.20340002e-02 -8.99830461e-03 -9.52581763e-02
  3.68398875e-02 -1.18511766e-01  9.77043882e-02 -4.05997857e-02
 -1.23585900e-02  2.00513029e-03 -2.77904198e-02  5.13301082e-02
  5.09507358e-02 -1.64275300e-02  5.90332262e-02  1.12587726e-02
  3.91689129e-02  1.67289451e-02  4.14124876e-02  1.54118789e-02
 -1.55583089e-02  1.37358299e-02 -6.39958829e-02 -2.40616966e-02
 -3.83815840e-02  4.53109816e-02 -5.25534302e-02  3.53646874e-02
  8.04238692e-02  2.95901857e-03 -8.61954596e-03  4.33072895e-02
 -1.01194503e-02 -2.03252137e-02 -4.19498757e-02  7.29974732e-02
  3.40215527e-02  5.74763678e-02 -6.32945299e-02 -5.80474250e-02
 -9.84980725e-03  7.46034160e-02 -3.57453190e-02 -1.45165296e-02
 -5.33615053e-02 -1.02264872e-02  7.27468962e-03 -4.15510237e-02]
Shape: (384,)

Predicate: TPCDS.DATE_DIM2.D_SAME_DAY_LQ >= 2414988
Embedding: [-1.74749028e-02  1.38958432e-02  5.05978763e-02  6.21010438e-02
 -4.67351712e-02 -2.30273064e-02 -1.44889029e-02  1.73211750e-02
  4.03792365e-03 -5.98239072e-04  9.31100547e-02 -8.24838132e-02
 -4.60428596e-02 -1.96845774e-02 -3.06587163e-02  9.72115435e-03
 -9.95525718e-02 -3.92972268e-02  1.38341952e-02  4.57882285e-02
 -1.02551281e-03 -4.96563176e-03 -8.41936469e-02  7.30500966e-02
  3.08559891e-02  1.09192096e-02  2.68245246e-02 -2.93175764e-02
  1.46151977e-02 -2.03116778e-02 -1.92212574e-02  1.01270102e-01
 -8.63594562e-02  3.38392593e-02  5.43389656e-02 -5.12234829e-02
 -5.94785064e-03  4.49587069e-02  3.37322801e-02 -2.44705025e-02
  2.41720714e-02 -4.44049686e-02  1.06479421e-01  1.12824840e-02
 -4.13294509e-02  3.33251692e-02  1.03015304e-02  6.65009096e-02
  1.18897092e-02  1.94407459e-02 -2.34285556e-02  2.11499874e-02
 -2.04566438e-02 -5.46418503e-02  2.26591178e-03  5.83210513e-02
  2.21321005e-02  2.22563203e-02  3.37202288e-02 -1.25591857e-02
 -1.42884429e-03  7.36064464e-02  7.45578632e-02 -1.66035835e-02
  4.28686216e-02 -5.83462119e-02 -1.13707455e-02 -9.92160384e-03
 -2.04849988e-02 -3.23223136e-02 -9.28860009e-02  5.18493243e-02
 -1.87947210e-02  5.34265582e-03 -1.50277570e-03  7.20547289e-02
 -5.35874292e-02 -8.75718333e-03  6.20223507e-02 -8.38488340e-02
 -3.66853923e-02 -3.08106150e-02 -4.13837209e-02  2.47661117e-02
  6.04402125e-02 -9.10449028e-02  1.01941973e-02  1.26403108e-01
  5.08170426e-02 -8.51683319e-02  8.61651376e-02  4.07173187e-02
 -2.67397799e-02  3.75563800e-02 -4.95639667e-02 -3.06307953e-02
 -6.20986056e-03  9.99696702e-02  6.95607588e-02  4.65694107e-02
 -6.29410520e-03  6.24998547e-02 -1.60202771e-01  1.27818435e-01
 -8.75527691e-03 -2.57705022e-02  9.76751186e-03 -3.77781242e-02
 -4.07904200e-02 -1.39076024e-01  2.25766283e-02  5.92931323e-02
  8.78988057e-02 -1.99878681e-02  9.34900641e-02 -1.18467584e-02
  2.40521468e-02  9.06518772e-02  5.99913597e-02 -9.43663791e-02
  3.62511771e-03 -6.65543368e-03  1.26381172e-02 -1.19201532e-02
 -1.00406915e-01 -2.43239142e-02  3.74556817e-02  2.22124351e-33
  2.79353112e-02 -3.74680683e-02  4.71889675e-02  6.36075996e-03
  1.03930756e-02  1.20045114e-02  2.86979880e-03 -2.87515149e-02
 -6.51361942e-02  4.25186828e-02 -9.18602198e-02 -9.02826563e-02
  1.34191727e-02 -1.06119223e-01 -8.06693882e-02  3.47387679e-02
 -4.85495999e-02  9.36378092e-02  3.22344974e-02 -5.49628865e-03
  4.55615632e-02 -4.83555160e-02 -1.76061213e-03  1.08515350e-02
  7.24915266e-02 -2.28234977e-02 -4.70902435e-02 -2.71035265e-02
  3.22104879e-02 -2.63146739e-02  4.01062220e-02 -1.56128369e-02
  9.15650930e-03  5.96884601e-02  8.83245915e-02 -4.62905504e-03
  7.08349720e-02  2.18479317e-02  2.44786236e-02 -4.98026013e-02
  2.66015586e-02  7.01228762e-03  4.03708108e-02 -1.32000938e-01
 -4.47682403e-02  2.03016587e-03 -2.65992293e-03 -3.48151438e-02
  3.20197791e-02  6.04468808e-02 -3.54648288e-03 -2.97025107e-02
 -9.60653834e-03 -5.70626222e-02 -4.19490859e-02 -8.30070525e-02
  2.15350669e-02 -2.03713588e-02  1.09906986e-01  8.39087069e-02
  7.78627768e-02  2.30804421e-02 -5.10042571e-02 -1.13588326e-01
 -1.63873509e-02  3.57962139e-02  9.53847468e-02 -4.65227403e-02
  8.79321340e-03  1.67833585e-02  7.33065531e-02 -3.35924774e-02
  7.51809329e-02 -1.24999799e-01  3.41709591e-02 -1.51094109e-01
  3.81531604e-02 -1.53670404e-02  6.09663920e-03 -1.48725156e-02
 -6.20010868e-02  2.62992773e-02 -1.79361086e-02 -4.87182401e-02
  1.06184557e-02 -4.83635850e-02 -8.13863147e-03  6.97247386e-02
  8.89620464e-03 -2.48118229e-02 -2.77689137e-02 -2.70608161e-02
  2.29342580e-02  2.42632478e-02  8.66048187e-02 -1.63470324e-33
 -1.41678285e-02  1.72607694e-02 -3.16723026e-02 -4.49024849e-02
 -8.50775279e-04 -6.73145056e-02 -9.58201289e-03  2.16618329e-02
  4.30525504e-02  1.00810407e-02  1.07410960e-01 -3.95955928e-02
 -9.68286023e-02 -1.31110987e-02  6.39121234e-02 -4.73654177e-03
  3.94524634e-02 -6.10370131e-04 -5.09017073e-02  1.39306169e-02
 -3.35664041e-02  4.38763164e-02 -2.38122381e-02  4.68632281e-02
  5.86036071e-02  5.41339777e-02  4.97928746e-02 -1.31280934e-02
  7.27943005e-03 -2.22146530e-02 -4.17321436e-02 -5.24013862e-02
 -5.61824404e-02  8.64021778e-02 -1.38297528e-02 -8.41041002e-03
  3.46992463e-02 -9.00554731e-02  4.02952209e-02  6.11978630e-03
 -5.50135002e-02  1.55245587e-02 -3.68919596e-02 -7.99229019e-05
 -1.17948083e-02  1.08102791e-01  2.47915238e-02  1.43085076e-02
  1.10631473e-01 -7.31324137e-04  3.45808156e-02  2.48205774e-02
  5.11281416e-02  6.04722761e-02  3.26288640e-02  4.84602861e-02
  3.51505056e-02  2.19554771e-02 -3.22970143e-03 -9.53907296e-02
 -3.60142300e-03 -2.39951238e-02 -5.75337298e-02 -4.57331203e-02
 -3.80793922e-02  4.06750804e-03 -1.48092229e-02  3.20223682e-02
  1.15956552e-02 -4.77963760e-02 -3.63008864e-02 -3.11890170e-02
 -4.31447439e-02 -6.49522692e-02 -8.98391083e-02 -2.20596511e-02
  1.46159977e-02  8.33004415e-02  4.93963063e-02  4.03221287e-02
 -7.06710145e-02  3.57258394e-02  6.58267662e-02  2.50933450e-02
 -1.05814807e-01 -4.26764647e-03  9.73192416e-03  1.86648034e-02
 -5.10968864e-02  2.28268839e-02 -5.64912632e-02 -2.50673015e-02
  2.03443691e-02  3.81083190e-02  4.37468812e-02 -2.67570854e-08
 -4.05330732e-02 -1.79818701e-02 -5.50943464e-02  8.75014439e-03
  3.76306027e-02 -9.24887732e-02 -1.81770250e-02  8.25894773e-02
  7.05048069e-02  5.03499545e-02  1.02554925e-01 -7.39599764e-02
 -1.76934171e-02 -5.52794933e-02  8.32217652e-03 -3.91102619e-02
 -1.56059027e-01 -2.89922841e-02  2.33984999e-02 -3.28015313e-02
  4.38597836e-02 -6.97264448e-02  7.33511597e-02 -7.01704472e-02
 -3.87365334e-02  4.30428386e-02 -1.10844560e-02  6.68123662e-02
  6.44747540e-02  2.88230577e-03  6.29534647e-02 -1.60248969e-02
  1.20080216e-02 -4.91088778e-02  4.88399202e-03 -3.81672718e-02
 -4.30367365e-02  2.39225309e-02 -2.36069188e-02 -4.11375472e-03
 -3.09979394e-02  5.39066866e-02 -1.53210517e-02  4.16104831e-02
  8.38105530e-02 -5.56123909e-03 -2.79044509e-02 -1.45468470e-02
 -3.62381190e-02  2.02719332e-03 -1.34677452e-03  4.79157083e-02
  3.15395929e-02  3.90805118e-02 -6.83191419e-02 -1.50118796e-02
  9.74767469e-03  6.38268292e-02 -4.53993566e-02  1.32433465e-03
 -4.33973484e-02  1.30832428e-02 -3.73794697e-02 -4.10129353e-02]
Shape: (384,)

In [291]:
predicate_embedding_dict.keys()

dict_keys(['TPCDS.DATE_DIM2.D_DOM <= 31', 'TPCDS.DATE_DIM2.D_SAME_DAY_LQ >= 2414988'])

In [292]:
predicate_embedding_dict['TPCDS.DATE_DIM2.D_DOM <= 31']

array([ 5.68409041e-02,  3.00318245e-02,  2.42162403e-02,  2.12519094e-02,
       -1.58383953e-03, -2.48856619e-02, -7.23423511e-02,  4.81826700e-02,
        1.32549116e-02,  5.29146753e-02,  5.97863160e-02, -4.96302657e-02,
       -5.22931628e-02, -5.83586618e-02, -3.75243872e-02, -5.78090269e-03,
       -5.04243895e-02, -9.57685895e-03,  1.07128389e-01,  5.30022494e-02,
       -7.80352717e-03, -1.60809234e-02, -2.30016652e-02,  6.48317263e-02,
       -2.53171846e-02,  3.90802249e-02,  3.76865454e-02, -5.04741035e-02,
        2.67909542e-02,  3.89553756e-02, -4.15233262e-02,  3.67712006e-02,
       -5.25134690e-02,  4.03491072e-02,  2.97929160e-02,  3.70051451e-02,
       -6.39251843e-02,  6.46820962e-02, -1.71961784e-02, -3.37731913e-02,
        3.25575471e-02, -6.00705072e-02,  6.06203601e-02, -1.85770988e-02,
       -4.40071262e-02,  1.28346933e-02, -1.52654620e-02,  2.59828521e-03,
       -1.62462294e-02, -9.70714632e-03,  6.12187141e-05,  2.49067452e-02,
       -7.18900096e-03, -2.00947206e-02, -4.07133065e-02,  2.63743121e-02,
       -1.39704207e-02, -3.80217377e-03,  5.84956221e-02, -1.22230416e-02,
        1.40028717e-02, -2.26586740e-02,  8.54634643e-02, -1.36643210e-02,
        3.30856629e-02, -7.90606886e-02, -1.64710786e-02,  3.37780863e-02,
       -4.79986705e-02,  6.10033097e-03, -7.52748996e-02,  5.35506532e-02,
        2.04849034e-03,  2.36741304e-02,  3.51559259e-02,  1.94532219e-02,
       -3.75267826e-02, -4.03334424e-02,  9.63982344e-02, -1.30528182e-01,
       -2.56488975e-02, -2.05720440e-02, -2.68241912e-02,  2.51668785e-02,
        8.09421763e-02, -1.79411098e-02,  3.18118855e-02,  8.16868842e-02,
        6.35871245e-03, -5.13489135e-02,  6.04718328e-02,  7.20128790e-02,
       -4.59877513e-02,  8.13024938e-02, -3.24369632e-02, -4.69512157e-02,
        6.00082390e-02,  5.20755611e-02,  4.07935083e-02, -1.27968437e-03,
       -7.59759322e-02,  5.96260279e-02, -1.74361914e-01,  7.58247226e-02,
       -1.91190653e-02, -4.90077063e-02, -6.79774676e-03, -3.71340252e-02,
        5.35672717e-03, -6.02135472e-02, -9.49416368e-04,  6.24804050e-02,
        1.57913833e-03, -8.32216814e-02,  8.12501907e-02, -4.96170707e-02,
       -1.30518312e-02,  3.93320248e-02,  8.51524994e-02, -1.25014976e-01,
        5.28888404e-03,  1.54056540e-02, -3.53072397e-02, -2.72058584e-02,
       -4.44567464e-02, -6.18809015e-02,  8.66976380e-02,  5.68419615e-34,
        3.03349178e-02, -4.78938073e-02, -5.78094348e-02,  8.51470977e-02,
        2.50965618e-02,  5.55821322e-02,  1.72303673e-02, -2.48906314e-02,
       -6.05534576e-02,  6.47626221e-02, -6.25865012e-02, -1.29062623e-01,
        1.25823058e-02, -1.21721141e-01, -7.13627459e-03,  6.23313002e-02,
        4.45117839e-05,  9.00071934e-02,  6.49886653e-02, -6.16908632e-02,
        1.14414813e-02, -5.09968698e-02,  2.36147102e-02,  7.88523164e-03,
        3.33058946e-02, -5.67610711e-02, -1.10035568e-01, -1.12613272e-02,
       -7.43275415e-03, -1.64713487e-02, -1.33886216e-02, -1.66171584e-02,
       -1.41982385e-03,  3.75026241e-02,  1.24742880e-01, -1.78445727e-02,
        3.79549526e-02,  6.74060956e-02,  2.04661232e-03,  8.39425623e-03,
       -5.13386913e-02, -2.19855644e-02,  6.38543740e-02, -1.27894133e-01,
       -3.72551978e-02,  3.77782923e-03,  3.19814794e-02,  5.65572269e-03,
        1.24055473e-02,  5.97536899e-02, -3.74947712e-02,  8.63393676e-03,
        1.87043119e-02, -3.86252627e-02, -6.98758289e-02, -5.50644994e-02,
       -7.83970099e-05, -1.75449140e-02,  6.01582676e-02,  3.96312177e-02,
        6.54449388e-02,  4.58583198e-02, -1.41084558e-04, -9.73344892e-02,
       -2.88979337e-03,  1.13579407e-02,  5.00277691e-02, -2.59773619e-03,
       -6.01914106e-03,  4.50620279e-02,  2.89433710e-02,  4.52079959e-02,
        5.97639270e-02, -7.97625706e-02,  4.29719985e-02, -9.06489268e-02,
        4.79035862e-02, -6.96872622e-02,  4.80699539e-02, -4.44699861e-02,
       -9.48615279e-03, -1.02861067e-02, -1.61052831e-02, -3.83164659e-02,
        6.84959069e-02, -2.13334635e-02, -5.94248474e-02,  5.34938462e-02,
        3.42433490e-02, -2.13263258e-02, -2.01574583e-02, -9.86491293e-02,
        1.77369697e-03,  7.37317000e-03,  8.04286823e-02, -1.15796305e-33,
        1.58050526e-02,  3.93339582e-02, -4.11987454e-02, -4.90894020e-02,
       -3.04368651e-03, -3.98277678e-02, -2.33791471e-02,  5.19418046e-02,
       -7.38655159e-04, -1.01611707e-02,  1.34550169e-01, -5.79430982e-02,
       -1.10764980e-01,  3.93732525e-02,  4.17491943e-02,  4.22182344e-02,
       -3.11855897e-02, -3.09916865e-02, -4.89575565e-02, -6.60670772e-02,
       -7.84486253e-03,  7.83182587e-03, -6.14092574e-02,  8.60823318e-02,
       -3.21726175e-03,  6.35841265e-02,  7.23014995e-02,  3.36422473e-02,
       -2.88088084e-03, -3.05907447e-02, -1.75234005e-02,  1.64690474e-03,
       -5.13214357e-02,  1.23377405e-01, -1.19542042e-02, -1.00394646e-02,
        1.35860937e-02, -8.87660757e-02,  3.65553163e-02,  1.01804947e-02,
       -4.35130298e-02,  1.94786116e-02, -4.71284203e-02, -2.83737876e-03,
       -2.46817712e-02,  5.99960350e-02,  7.67839774e-02,  7.10134432e-02,
        1.17637463e-01, -1.92679337e-03, -8.28029495e-03, -4.18953523e-02,
        7.28195086e-02,  1.62236076e-02, -4.30168910e-03, -1.44355302e-03,
        3.25192208e-03,  3.03441174e-02,  4.51954193e-02, -1.03870407e-01,
       -8.12567864e-03,  3.20264287e-02,  1.37945237e-02, -2.84148660e-02,
       -3.85095477e-02,  1.32391360e-02, -9.87349916e-03,  5.05546108e-02,
       -3.84124890e-02,  1.15110248e-03, -3.84448003e-03,  9.16177407e-03,
       -8.37086067e-02, -7.69719034e-02, -5.65174557e-02, -6.96095675e-02,
        5.18254302e-02,  9.87654701e-02,  5.64637110e-02,  2.17914600e-02,
       -1.08132483e-02,  8.06826279e-02,  5.51770143e-02,  4.99826437e-03,
       -6.52435496e-02,  2.74688564e-02, -3.83674763e-02,  5.73348254e-03,
       -4.11378480e-02, -5.59998304e-02, -4.22056541e-02,  1.31603638e-02,
        3.83371785e-02,  7.14295506e-02,  3.86401415e-02, -2.07964863e-08,
       -9.24645066e-02, -2.77235475e-03, -6.56276345e-02, -3.77647430e-02,
        1.61342658e-02, -5.32017685e-02, -2.22816747e-02,  1.09755188e-01,
        8.01797137e-02,  1.73425917e-02,  1.15849927e-01, -3.42521891e-02,
        3.67005095e-02, -6.44661561e-02,  4.37026434e-02, -3.36930417e-02,
       -1.34735510e-01, -4.20340002e-02, -8.99830461e-03, -9.52581763e-02,
        3.68398875e-02, -1.18511766e-01,  9.77043882e-02, -4.05997857e-02,
       -1.23585900e-02,  2.00513029e-03, -2.77904198e-02,  5.13301082e-02,
        5.09507358e-02, -1.64275300e-02,  5.90332262e-02,  1.12587726e-02,
        3.91689129e-02,  1.67289451e-02,  4.14124876e-02,  1.54118789e-02,
       -1.55583089e-02,  1.37358299e-02, -6.39958829e-02, -2.40616966e-02,
       -3.83815840e-02,  4.53109816e-02, -5.25534302e-02,  3.53646874e-02,
        8.04238692e-02,  2.95901857e-03, -8.61954596e-03,  4.33072895e-02,
       -1.01194503e-02, -2.03252137e-02, -4.19498757e-02,  7.29974732e-02,
        3.40215527e-02,  5.74763678e-02, -6.32945299e-02, -5.80474250e-02,
       -9.84980725e-03,  7.46034160e-02, -3.57453190e-02, -1.45165296e-02,
       -5.33615053e-02, -1.02264872e-02,  7.27468962e-03, -4.15510237e-02],
      dtype=float32)

In [293]:
df_node_feat.head()

   OPERATOR_ID OPERATOR_TYPE            TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height PREDICATE_MASK
0            1        RETURN              NaN                                  NaN                                               NaN         NaN                                                          NaN       6      [0, 0, 0]
1            2        HSJOIN              NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5      [0, 0, 0]
2            3        TBSCAN  TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1      [0, 0, 0]
3            4        FETCH   TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4      [1, 1, 0]
4            5        RIDSCN              NaN                                  NaN                                               NaN         NaN                                                          NaN       3      [0, 0, 0]

In [294]:
import numpy as np

# Example embedding dictionary
embedding_dim = 384  # Replace with the actual dimension of your embeddings
embedding_dict = {
    'TPCDS.DATE_DIM2.D_DOM <= 31': np.random.rand(embedding_dim).tolist(),
    'TPCDS.DATE_DIM2.D_SAME_DAY_LQ >= 2414988': np.random.rand(embedding_dim).tolist()
}

# Function to generate new embedding columns
def add_embedding_columns(row, columns, embedding_dict, embedding_dim):
    for col in columns:
        embedding_col = f"{col}_EMBEDDING"  # Create a new column name
        if pd.notna(row[col]) and row[col] in embedding_dict:
            row[embedding_col] = embedding_dict[row[col]]  # Add embedding to the new column
        else:
            row[embedding_col] = [0.0] * embedding_dim  # Add zeros to the new column
    return row

# List of predicate columns to process
predicate_columns = ['PREDICATE1', 'PREDICATE2', 'PREDICATE3']

# Apply the transformation row by row
df_node_feat = df_node_feat.apply(
    add_embedding_columns,
    axis=1,
    columns=predicate_columns,
    embedding_dict=predicate_embedding_dict,
    embedding_dim=embedding_dim
)

# Check the updated DataFrame
print(df_node_feat.head())

   OPERATOR_ID OPERATOR_TYPE            TABLE                           PREDICATE1                                        PREDICATE2  PREDICATE3                                                     JOIN_KEY  height PREDICATE_MASK                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       PREDICATE1_EMBEDDING  \
0            1        RETURN              NaN                                  NaN                                               NaN         NaN                                                          NaN       6      [0, 0, 0]  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
1            2        HSJOIN              NaN                                  NaN                                               NaN         NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5      [0, 0, 0]  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
2            3        TBSCAN  TPCDS.DATE_DIM2                                  NaN                                               NaN         NaN                                                          NaN       1      [0, 0, 0]  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
3            4        FETCH   TPCDS.WEB_SALES  TPCDS.WEB_SALES.WS_ITEM_SK >= 16111  TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48         NaN                                                          NaN       4      [1, 1, 0]  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
4            5        RIDSCN              NaN                                  NaN                                               NaN         NaN                                                          NaN       3      [0, 0, 0]  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        PREDICATE2_EMBEDDING  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
4  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        PREDICATE3_EMBEDDING
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]
4  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]

In [295]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height', 'PREDICATE_MASK', 'PREDICATE1_EMBEDDING', 'PREDICATE2_EMBEDDING', 'PREDICATE3_EMBEDDING'], dtype='object')

In [296]:
df_node_feat[['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'JOIN_KEY', 'height']]

   OPERATOR_ID OPERATOR_TYPE                      TABLE                                                     JOIN_KEY  height
0            1        RETURN                        NaN                                                          NaN       6
1            2        HSJOIN                        NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK       5
2            3        TBSCAN            TPCDS.DATE_DIM2                                                          NaN       1
3            4        FETCH             TPCDS.WEB_SALES                                                          NaN       4
4            5        RIDSCN                        NaN                                                          NaN       3
5            6        SORT                          NaN                                                          NaN       2
6            7        IXSCAN  SYSIBM.SQL240509064049930                                                          NaN       1

In [297]:
# Initialize encoding dictionaries and counters starting at 1 for each column
op_type_encoder = {}
table_encoder = {}
join_key_encoder = {}

# Helper function for label encoding with NaN values set to 0
def label_encode_with_nan(value, encoder, counter_start=1):
    if pd.isna(value):
        return 0, counter_start  # Return 0 for NaN and do not increment the counter
    if value not in encoder:
        encoder[value] = counter_start
        counter_start += 1
    return encoder[value], counter_start

# Label encode each column
op_type_counter, table_counter, join_key_counter = 1, 1, 1
encoded_operator_type = []
encoded_table = []
encoded_join_key = []

for op, tbl, jk in zip(df_node_feat['OPERATOR_TYPE'], df_node_feat['TABLE'], df_node_feat['JOIN_KEY']):
    # Encode OPERATOR_TYPE
    encoded_op, op_type_counter = label_encode_with_nan(op, op_type_encoder, op_type_counter)
    encoded_operator_type.append(encoded_op)
    
    # Encode TABLE
    encoded_tbl, table_counter = label_encode_with_nan(tbl, table_encoder, table_counter)
    encoded_table.append(encoded_tbl)
    
    # Encode JOIN_KEY
    encoded_jk, join_key_counter = label_encode_with_nan(jk, join_key_encoder, join_key_counter)
    encoded_join_key.append(encoded_jk)

# Add encoded columns to DataFrame
df_node_feat['ENCODED_OPERATOR_TYPE'] = encoded_operator_type
df_node_feat['ENCODED_TABLE'] = encoded_table
df_node_feat['ENCODED_JOIN_KEY'] = encoded_join_key

# Display the DataFrame with encoded columns and PREDICATE_MASK
print(df_node_feat[['OPERATOR_TYPE', 'TABLE', 'JOIN_KEY', 'PREDICATE_MASK', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY']])
print("\nOPERATOR_TYPE Encoding Dictionary:", op_type_encoder)
print("TABLE Encoding Dictionary:", table_encoder)
print("JOIN_KEY Encoding Dictionary:", join_key_encoder)

  OPERATOR_TYPE                      TABLE                                                     JOIN_KEY PREDICATE_MASK  ENCODED_OPERATOR_TYPE  ENCODED_TABLE  ENCODED_JOIN_KEY
0        RETURN                        NaN                                                          NaN      [0, 0, 0]                      1              0                 0
1        HSJOIN                        NaN  TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK      [0, 0, 0]                      2              0                 1
2        TBSCAN            TPCDS.DATE_DIM2                                                          NaN      [0, 0, 0]                      3              1                 0
3        FETCH             TPCDS.WEB_SALES                                                          NaN      [1, 1, 0]                      4              2                 0
4        RIDSCN                        NaN                                                          NaN      [0, 0, 0]                      5              0                 0
5        SORT                          NaN                                                          NaN      [0, 0, 0]                      6              0                 0
6        IXSCAN  SYSIBM.SQL240509064049930                                                          NaN      [0, 0, 0]                      7              3                 0

OPERATOR_TYPE Encoding Dictionary: {'RETURN': 1, 'HSJOIN': 2, 'TBSCAN': 3, 'FETCH ': 4, 'RIDSCN': 5, 'SORT  ': 6, 'IXSCAN': 7}
TABLE Encoding Dictionary: {'TPCDS.DATE_DIM2': 1, 'TPCDS.WEB_SALES': 2, 'SYSIBM.SQL240509064049930': 3}
JOIN_KEY Encoding Dictionary: {'TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK': 1}

In [298]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height', 'PREDICATE_MASK', 'PREDICATE1_EMBEDDING', 'PREDICATE2_EMBEDDING', 'PREDICATE3_EMBEDDING', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY'], dtype='object')

In [299]:
df_node_feat

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,JOIN_KEY,height,PREDICATE_MASK,PREDICATE1_EMBEDDING,PREDICATE2_EMBEDDING,PREDICATE3_EMBEDDING,ENCODED_OPERATOR_TYPE,ENCODED_TABLE,ENCODED_JOIN_KEY
0,1,RETURN,NaN,NaN,NaN,NaN,NaN,6,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",1,0,0
1,2,HSJOIN,NaN,NaN,NaN,NaN,TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK,5,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",2,0,1
2,3,TBSCAN,TPCDS.DATE_DIM2,NaN,NaN,NaN,NaN,1,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",3,1,0
3,4,FETCH,TPCDS.WEB_SALES,TPCDS.WEB_SALES.WS_ITEM_SK >= 16111,TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48,NaN,NaN,4,"[1, 1, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",4,2,0
4,5,RIDSCN,NaN,NaN,NaN,NaN,NaN,3,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",5,0,0
5,6,SORT,NaN,NaN,NaN,NaN,NaN,2,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",6,0,0
6,7,IXSCAN,SYSIBM.SQL240509064049930,NaN,NaN,NaN,NaN,1,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",7,3,0

In [300]:
df_node_feat[['ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY', 'PREDICATE_MASK']]

   ENCODED_OPERATOR_TYPE  ENCODED_TABLE  ENCODED_JOIN_KEY PREDICATE_MASK
0                      1              0                 0      [0, 0, 0]
1                      2              0                 1      [0, 0, 0]
2                      3              1                 0      [0, 0, 0]
3                      4              2                 0      [1, 1, 0]
4                      5              0                 0      [0, 0, 0]
5                      6              0                 0      [0, 0, 0]
6                      7              3                 0      [0, 0, 0]

In [301]:
# Initialize the new columns with a list of 50 zeros
df_node_feat['PREDICATE1_HIST'] = [[0] * 50] * len(df_node_feat)
df_node_feat['PREDICATE2_HIST'] = [[0] * 50] * len(df_node_feat)
df_node_feat['PREDICATE3_HIST'] = [[0] * 50] * len(df_node_feat)

In [302]:
bin_coverage_dict.keys()

dict_keys(['TPCDS.WEB_SALES.WS_ITEM_SK >= 16111'])

In [303]:
# Update PREDICATE1_HIST, PREDICATE2_HIST, and PREDICATE3_HIST based on corresponding predicate values
for index, row in df_node_feat.iterrows():
    # Update PREDICATE1_HIST based on PREDICATE1 values
    predicate1_value = row['PREDICATE1']
    if pd.notna(predicate1_value) and predicate1_value in bin_coverage_dict:
        value = bin_coverage_dict[predicate1_value]
        if isinstance(value, list):  # Check if the value is a list
            df_node_feat.at[index, 'PREDICATE1_HIST'] = [round(v, 3) for v in value]
        else:
            df_node_feat.at[index, 'PREDICATE1_HIST'] = round(value, 3)
        
    # Update PREDICATE2_HIST based on PREDICATE2 values
    predicate2_value = row['PREDICATE2']
    if pd.notna(predicate2_value) and predicate2_value in bin_coverage_dict:
        value = bin_coverage_dict[predicate2_value]
        if isinstance(value, list):  # Check if the value is a list
            df_node_feat.at[index, 'PREDICATE2_HIST'] = [round(v, 3) for v in value]
        else:
            df_node_feat.at[index, 'PREDICATE2_HIST'] = round(value, 3)
        
    # Update PREDICATE3_HIST based on PREDICATE3 values
    predicate3_value = row['PREDICATE3']
    if pd.notna(predicate3_value) and predicate3_value in bin_coverage_dict:
        value = bin_coverage_dict[predicate3_value]
        if isinstance(value, list):  # Check if the value is a list
            df_node_feat.at[index, 'PREDICATE3_HIST'] = [round(v, 3) for v in value]
        else:
            df_node_feat.at[index, 'PREDICATE3_HIST'] = round(value, 3)

In [304]:
df_node_feat[['OPERATOR_ID', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY', 'PREDICATE_MASK', 'PREDICATE1_HIST', 'PREDICATE2_HIST', 'PREDICATE3_HIST', 'height']]

   OPERATOR_ID  ENCODED_OPERATOR_TYPE  ENCODED_TABLE  ENCODED_JOIN_KEY PREDICATE_MASK                                                                                                                                             PREDICATE1_HIST                                                                                                                                         PREDICATE2_HIST                                                                                                                                         PREDICATE3_HIST  height
0            1                      1              0                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       6
1            2                      2              0                 1      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       5
2            3                      3              1                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       1
3            4                      4              2                 0      [1, 1, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.256, 1, 1, 1, 1, 1]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       4
4            5                      5              0                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       3
5            6                      6              0                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       2
6            7                      7              3                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]       1

In [305]:
x_cols = ['ENCODED_OPERATOR_TYPE', 'ENCODED_JOIN_KEY', 'PREDICATE_MASK', 'PREDICATE1_HIST', 'PREDICATE2_HIST', 'PREDICATE3_HIST', 'ENCODED_TABLE']

In [306]:
df_node_feat[x_cols]

   ENCODED_OPERATOR_TYPE  ENCODED_JOIN_KEY PREDICATE_MASK                                                                                                                                             PREDICATE1_HIST                                                                                                                                         PREDICATE2_HIST                                                                                                                                         PREDICATE3_HIST  ENCODED_TABLE
0                      1                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              0
1                      2                 1      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              0
2                      3                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              1
3                      4                 0      [1, 1, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.256, 1, 1, 1, 1, 1]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              2
4                      5                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              0
5                      6                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              0
6                      7                 0      [0, 0, 0]      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]              3

# Making a tensor of node features

In [307]:
df.shape

(7, 9)

In [308]:
df_node_feat

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,JOIN_KEY,height,PREDICATE_MASK,PREDICATE1_EMBEDDING,PREDICATE2_EMBEDDING,PREDICATE3_EMBEDDING,ENCODED_OPERATOR_TYPE,ENCODED_TABLE,ENCODED_JOIN_KEY,PREDICATE1_HIST,PREDICATE2_HIST,PREDICATE3_HIST
0,1,RETURN,NaN,NaN,NaN,NaN,NaN,6,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",1,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,2,HSJOIN,NaN,NaN,NaN,NaN,TPCDS.DATE_DIM2.D_DATE_SK = TPCDS.WEB_SALES.WS_SHIP_DATE_SK,5,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",2,0,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,3,TBSCAN,TPCDS.DATE_DIM2,NaN,NaN,NaN,NaN,1,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",3,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,4,FETCH,TPCDS.WEB_SALES,TPCDS.WEB_SALES.WS_ITEM_SK >= 16111,TPCDS.WEB_SALES.WS_NET_PAID_INC_TAX <= +00183.48,NaN,NaN,4,"[1, 1, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",4,2,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.256, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,5,RIDSCN,NaN,NaN,NaN,NaN,NaN,3,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",5,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
5,6,SORT,NaN,NaN,NaN,NaN,NaN,2,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",6,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
6,7,IXSCAN,SYSIBM.SQL240509064049930,NaN,NaN,NaN,NaN,1,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]",7,3,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [309]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height', 'PREDICATE_MASK', 'PREDICATE1_EMBEDDING', 'PREDICATE2_EMBEDDING', 'PREDICATE3_EMBEDDING', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY', 'PREDICATE1_HIST', 'PREDICATE2_HIST', 'PREDICATE3_HIST'], dtype='object')

In [310]:
len(df_node_feat)

7

In [311]:
df_node_feat['SAMPLE'] = [[0] * 1000 for _ in range(len(df_node_feat))]

In [312]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'JOIN_KEY', 'height', 'PREDICATE_MASK', 'PREDICATE1_EMBEDDING', 'PREDICATE2_EMBEDDING', 'PREDICATE3_EMBEDDING', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY', 'PREDICATE1_HIST', 'PREDICATE2_HIST', 'PREDICATE3_HIST', 'SAMPLE'], dtype='object')

In [313]:
# Concatenate values across each row
tensor_data = []
for _, row in df_node_feat.iterrows():
    # Flatten all values into a single list
    flat_row = np.concatenate([
        [row['ENCODED_OPERATOR_TYPE']],
        [row['ENCODED_JOIN_KEY']],
        row['PREDICATE1_EMBEDDING'],
        row['PREDICATE2_EMBEDDING'],
        row['PREDICATE3_EMBEDDING'],
        row['PREDICATE_MASK'],
        row['PREDICATE1_HIST'],
        row['PREDICATE2_HIST'],
        row['PREDICATE3_HIST'],
        [row['ENCODED_TABLE']]
    ])
    tensor_data.append(flat_row)

# Convert the list of concatenated rows into a tensor
x = torch.tensor(tensor_data, dtype=torch.float32)
x = x.unsqueeze(0)

In [314]:
x.shape

torch.Size([1, 7, 1308])

In [315]:
def pad_2d_unsqueeze(x, padlen):
    # dont know why add 1, comment out first
#    x = x + 1 # pad id = 0
    _, xlen, xdim = x.size()
    if xlen < padlen:
        new_x = x.new_zeros([padlen, xdim], dtype=x.dtype) + 1
        new_x[:xlen, :] = x
        x = new_x
    return x.unsqueeze(0)

def pad_1d_unsqueeze(x, padlen):
    x = x + 1 # pad id = 0
    xlen = x.size(1)
    if xlen < padlen:
        new_x = x.new_zeros([padlen], dtype=x.dtype)
        new_x[:xlen] = x
        x = new_x
    return x.unsqueeze(0)

In [316]:
x = pad_2d_unsqueeze(x, max_node)

In [317]:
x.shape

torch.Size([1, 30, 1308])

In [318]:
heights.shape

torch.Size([1, 30])

In [319]:
attn_bias.shape

torch.Size([1, 31, 31])

In [320]:
attn_bias

tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]])

## Define Model

In [321]:
class Args:
    # bs = 1024
    # SQ: smaller batch size
    bs = 1
    #lr = 0.001
    lr = 0.001
    # epochs = 200
    epochs = 5
    clip_size = 50
    embed_size = 64
    pred_hid = 128
    ffn_dim = 128
    head_size = 12
    n_layers = 8
    dropout = 0.1
    sch_decay = 0.6
    # device = 'cuda:0'
    device = 'cpu'
    newpath = './results/full/cost/'
    to_predict = 'cost'
args = Args()

import os
if not os.path.exists(args.newpath):
    os.makedirs(args.newpath)

In [322]:
from model.model import QueryFormer

model = QueryFormer(emb_size = args.embed_size ,ffn_dim = args.ffn_dim, head_size = args.head_size, \
                 dropout = args.dropout, n_layers = args.n_layers, \
                 use_sample = False, use_hist = True, \
                 pred_hid = args.pred_hid
                )

In [323]:
from model.dataset import PlanTreeDataset

In [324]:
cost_labels

tensor([0.7736], dtype=torch.float64)

In [325]:
raw_costs

[632]

In [326]:
cost_labels

tensor([0.7736], dtype=torch.float64)

In [327]:
cost_labels

tensor([0.7736], dtype=torch.float64)

In [328]:
raw_costs

[632]

In [329]:
# Initialize the PlanTreeDataset with optional costs
dataset = PlanTreeDataset(1, x, attn_bias, rel_pos, heights, cost_labels, raw_costs)

# Print the dataset information
print(dataset)

<model.dataset.PlanTreeDataset object at 0x7f015ea9b020>

In [330]:
dataset[0]

({'x': tensor([[[1., 0., 0.,  ..., 0., 0., 0.],
           [2., 1., 0.,  ..., 0., 0., 0.],
           [3., 0., 0.,  ..., 0., 0., 1.],
           ...,
           [1., 1., 1.,  ..., 1., 1., 1.],
           [1., 1., 1.,  ..., 1., 1., 1.],
           [1., 1., 1.,  ..., 1., 1., 1.]]]),
  'attn_bias': tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]]),
  'rel_pos': tensor([[[ 1,  2,  3,  3,  4,  5,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61,  1,  2,  2,  3,  4,  5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61,  1, 61, 61, 61, 61,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61,  1,  2,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61,  1,  2,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61, 61,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61, 61, 61,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]]]),
  'heights': tensor([[7, 6, 2, 5, 4, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0]])},
 (tensor(0.7736, dtype=torch.float64), tensor(632)))

In [331]:
dataset[0]

({'x': tensor([[[1., 0., 0.,  ..., 0., 0., 0.],
           [2., 1., 0.,  ..., 0., 0., 0.],
           [3., 0., 0.,  ..., 0., 0., 1.],
           ...,
           [1., 1., 1.,  ..., 1., 1., 1.],
           [1., 1., 1.,  ..., 1., 1., 1.],
           [1., 1., 1.,  ..., 1., 1., 1.]]]),
  'attn_bias': tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
           [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
            -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]]),
  'rel_pos': tensor([[[ 1,  2,  3,  3,  4,  5,  6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61,  1,  2,  2,  3,  4,  5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61,  1, 61, 61, 61, 61,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61,  1,  2,  3,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61,  1,  2,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61, 61,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [61, 61, 61, 61, 61, 61,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
           [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
             0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]]]),
  'heights': tensor([[7, 6, 2, 5, 4, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
           0, 0, 0, 0, 0, 0]])},
 (tensor(0.7736, dtype=torch.float64), tensor(632)))

In [332]:
# Get the length of the dataset
print(f"Dataset size: {len(dataset)}")

# Access a single sample
sample, label = dataset[0]

# Print the sample contents
print("Sample contents:")
print("Feature Matrix (x):", sample['x'].shape)
print("Attention Bias (attn_bias):", sample['attn_bias'].shape)
print("Relative Positions (rel_pos):", sample['rel_pos'].shape)
print("Heights (heights):", sample['heights'].shape)
print("Label:", label)

Dataset size: 1
Sample contents:
Feature Matrix (x): torch.Size([1, 30, 1308])
Attention Bias (attn_bias): torch.Size([1, 31, 31])
Relative Positions (rel_pos): torch.Size([1, 30, 30])
Heights (heights): torch.Size([1, 30])
Label: (tensor(0.7736, dtype=torch.float64), tensor(632))

In [333]:
# Example numpy label
import numpy as np
import torch.nn as nn
import importlib

from model import trainer
importlib.reload(trainer)
from  model.trainer import train_single


crit = nn.MSELoss()

# Train the model with the numpy label
trained_model = train_single(model, dataset, dataset, crit, cost_norm, args)

idxs:  [0]
type(batch):  <class 'model.database_util.Batch'>
batch_labels:  <class 'tuple'>
batch_labels:  ((tensor(0.7736, dtype=torch.float64), tensor(632)),)
type(batch_labels):  <class 'tuple'>
type(l):  <class 'tuple'>
At QueryFormer Forward - Attention Bias: tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]])
At QueryFormer Forward: x_view tensor([[1., 0., 0.,  ..., 0., 0., 0.],
        [2., 1., 0.,  ..., 0., 0., 0.],
        [3., 0., 0.,  ..., 0., 0., 1.],
        ...,
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.]])
At QueryFormer Forward: x_view shape torch.Size([30, 1308])
typeEmb:  tensor([[-0.5052, -0.2548,  0.2700,  ..., -0.7961, -0.4098, -1.0645],
        [-0.1033, -0.4935, -0.7546,  ..., -1.4163,  1.3640,  0.3986],
        [-0.1738,  0.1942, -1.4287,  ...,  1.1417, -0.2458,  1.0591],
        ...,
        [-0.5052, -0.2548,  0.2700,  ..., -0.7961, -0.4098, -1.0645],
        [-0.5052, -0.2548,  0.2700,  ..., -0.7961, -0.4098, -1.0645],
        [-0.5052, -0.2548,  0.2700,  ..., -0.7961, -0.4098, -1.0645]],
       grad_fn=<SqueezeBackward1>)
joinEmb:  tensor([[ 0.1808,  1.4295,  1.3926,  ..., -0.1808,  0.1181,  0.4898],
        [ 1.6107, -0.5331,  0.5055,  ...,  0.0513, -1.1052, -0.8825],
        [ 0.1808,  1.4295,  1.3926,  ..., -0.1808,  0.1181,  0.4898],
        ...,
        [ 1.6107, -0.5331,  0.5055,  ...,  0.0513, -1.1052, -0.8825],
        [ 1.6107, -0.5331,  0.5055,  ...,  0.0513, -1.1052, -0.8825],
        [ 1.6107, -0.5331,  0.5055,  ...,  0.0513, -1.1052, -0.8825]],
       grad_fn=<SqueezeBackward1>)

histEmb:  tensor([[ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        ...,
        [-0.3255,  0.2079, -0.5367,  ...,  0.9899,  0.9641,  0.4577],
        [-0.3255,  0.2079, -0.5367,  ...,  0.9899,  0.9641,  0.4577],
        [-0.3255,  0.2079, -0.5367,  ...,  0.9899,  0.9641,  0.4577]],
       grad_fn=<DivBackward0>)
histEmb shape:  torch.Size([30, 64])
final shape:  torch.Size([30, 1408])
QueryFormer Forward - node_feature:  tensor([[[-2.1015e-03,  1.2098e-01,  9.6435e-02,  ..., -2.8428e-03,
           2.2812e-02,  1.6221e-01],
         [-3.1620e-04,  3.5302e-02,  3.6206e-01,  ...,  5.9183e-02,
          -1.5153e-03, -1.4192e-03],
         [-3.2544e-04, -1.7621e-03,  4.1178e-02,  ..., -5.3324e-04,
           3.1442e-01,  1.4066e-01],
         ...,
         [-9.5248e-03,  6.8215e-01,  2.9544e-01,  ..., -1.0499e-03,
           1.5353e-01,  5.8857e-01],
         [-9.5248e-03,  6.8215e-01,  2.9544e-01,  ..., -1.0499e-03,
           1.5353e-01,  5.8857e-01],
         [-9.5248e-03,  6.8215e-01,  2.9544e-01,  ..., -1.0499e-03,
           1.5353e-01,  5.8857e-01]]], grad_fn=<ViewBackward0>)
Second-to-last layer embedding: tensor([[[ 2.0606, -0.6883, -0.5606,  ..., -0.2146, -0.7842, -0.5320],
         [-1.1978,  0.2363, -0.9864,  ..., -0.7896, -2.8209, -1.3137],
         [-0.8267,  1.6547,  3.6042,  ..., -0.4049, -1.5569, -0.6731],
         ...,
         [ 1.8744,  0.7955,  0.4637,  ..., -1.4777,  0.4749,  0.7386],
         [ 0.3963, -0.2789,  0.3375,  ..., -1.7121,  0.4689,  0.5886],
         [ 0.9682,  0.5317,  0.7449,  ..., -1.6977,  0.0593,  0.3485]]],
       grad_fn=<AddBackward0>)
Second-to-last layer embedding shape: torch.Size([1, 31, 329])
cost_preds:  tensor(0.5027, grad_fn=<SqueezeBackward0>)
Epoch 1, Batch Predictions: 0.5026612877845764
Epoch 1, Batch Actuals: [0.77363986]
Epoch 1, Batch Loss: 0.07342938333749771
idxs:  [0]
type(batch):  <class 'model.database_util.Batch'>
batch_labels:  <class 'tuple'>
batch_labels:  ((tensor(0.7736, dtype=torch.float64), tensor(632)),)
type(batch_labels):  <class 'tuple'>
type(l):  <class 'tuple'>
At QueryFormer Forward - Attention Bias: tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]])
At QueryFormer Forward: x_view tensor([[1., 0., 0.,  ..., 0., 0., 0.],
        [2., 1., 0.,  ..., 0., 0., 0.],
        [3., 0., 0.,  ..., 0., 0., 1.],
        ...,
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.]])
At QueryFormer Forward: x_view shape torch.Size([30, 1308])
typeEmb:  tensor([[-0.5062, -0.2538,  0.2710,  ..., -0.7951, -0.4088, -1.0635],
        [-0.1043, -0.4945, -0.7556,  ..., -1.4173,  1.3650,  0.3996],
        [-0.1728,  0.1952, -1.4277,  ...,  1.1407, -0.2448,  1.0601],
        ...,
        [-0.5062, -0.2538,  0.2710,  ..., -0.7951, -0.4088, -1.0635],
        [-0.5062, -0.2538,  0.2710,  ..., -0.7951, -0.4088, -1.0635],
        [-0.5062, -0.2538,  0.2710,  ..., -0.7951, -0.4088, -1.0635]],
       grad_fn=<SqueezeBackward1>)
joinEmb:  tensor([[ 0.1818,  1.4285,  1.3936,  ..., -0.1798,  0.1171,  0.4888],
        [ 1.6097, -0.5341,  0.5045,  ...,  0.0523, -1.1042, -0.8835],
        [ 0.1818,  1.4285,  1.3936,  ..., -0.1798,  0.1171,  0.4888],
        ...,
        [ 1.6097, -0.5341,  0.5045,  ...,  0.0523, -1.1042, -0.8835],
        [ 1.6097, -0.5341,  0.5045,  ...,  0.0523, -1.1042, -0.8835],
        [ 1.6097, -0.5341,  0.5045,  ...,  0.0523, -1.1042, -0.8835]],
       grad_fn=<SqueezeBackward1>)
histEmb:  tensor([[ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        ...,
        [-0.3225,  0.2109, -0.5397,  ...,  0.9869,  0.9671,  0.4547],
        [-0.3225,  0.2109, -0.5397,  ...,  0.9869,  0.9671,  0.4547],
        [-0.3225,  0.2109, -0.5397,  ...,  0.9869,  0.9671,  0.4547]],
       grad_fn=<DivBackward0>)
histEmb shape:  torch.Size([30, 64])
final shape:  torch.Size([30, 1408])
QueryFormer Forward - node_feature:  tensor([[[-8.1494e-04, -3.0332e-04, -3.9333e-04,  ..., -1.7082e-03,
          -1.2481e-03,  1.2076e-01],
         [ 7.6140e-02, -8.7688e-04,  2.8392e-01,  ...,  9.5242e-02,
          -2.2431e-03, -1.4853e-03],
         [ 5.9793e-02, -2.3035e-03, -4.1657e-04,  ..., -8.4822e-05,
           2.2954e-01,  2.1049e-02],
         ...,
         [-8.8844e-03,  5.8296e-01,  2.1392e-01,  ..., -7.9159e-04,
           8.0200e-02,  5.4590e-01],
         [-8.8844e-03,  5.8296e-01,  2.1392e-01,  ..., -7.9159e-04,
           8.0200e-02,  5.4590e-01],
         [-8.8844e-03,  5.8296e-01,  2.1392e-01,  ..., -7.9159e-04,
           8.0200e-02,  5.4590e-01]]], grad_fn=<ViewBackward0>)
Second-to-last layer embedding: tensor([[[ 0.4616, -0.7014, -1.6839,  ...,  0.5463,  0.4776, -0.6023],
         [-1.1292, -0.2424, -2.2915,  ..., -0.6541, -2.0360, -0.8299],
         [-1.5388,  1.5552,  2.4118,  ..., -0.2686, -0.7109, -0.1555],
         ...,
         [-0.6135,  0.8305, -0.1916,  ..., -0.3180,  0.7665, -0.2349],
         [ 0.2739,  0.9506, -0.3111,  ..., -0.7682,  0.7499,  0.7043],
         [ 0.4687,  1.0209, -0.7081,  ..., -0.2922,  1.0768,  0.3714]]],
       grad_fn=<AddBackward0>)
Second-to-last layer embedding shape: torch.Size([1, 31, 329])
cost_preds:  tensor(0.8766, grad_fn=<SqueezeBackward0>)
Epoch 2, Batch Predictions: 0.8766458034515381
Epoch 2, Batch Actuals: [0.77363986]
Epoch 2, Batch Loss: 0.010610224679112434
idxs:  [0]
type(batch):  <class 'model.database_util.Batch'>
batch_labels:  <class 'tuple'>
batch_labels:  ((tensor(0.7736, dtype=torch.float64), tensor(632)),)
type(batch_labels):  <class 'tuple'>
type(l):  <class 'tuple'>
At QueryFormer Forward - Attention Bias: tensor([[[0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]])
At QueryFormer Forward: x_view tensor([[1., 0., 0.,  ..., 0., 0., 0.],
        [2., 1., 0.,  ..., 0., 0., 0.],
        [3., 0., 0.,  ..., 0., 0., 1.],
        ...,
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.],
        [1., 1., 1.,  ..., 1., 1., 1.]])
At QueryFormer Forward: x_view shape torch.Size([30, 1308])
typeEmb:  tensor([[-0.5070, -0.2535,  0.2717,  ..., -0.7952, -0.4083, -1.0629],
        [-0.1051, -0.4953, -0.7563,  ..., -1.4180,  1.3656,  0.4002],
        [-0.1725,  0.1958, -1.4269,  ...,  1.1399, -0.2441,  1.0607],
        ...,
        [-0.5070, -0.2535,  0.2717,  ..., -0.7952, -0.4083, -1.0629],
        [-0.5070, -0.2535,  0.2717,  ..., -0.7952, -0.4083, -1.0629],
        [-0.5070, -0.2535,  0.2717,  ..., -0.7952, -0.4083, -1.0629]],
       grad_fn=<SqueezeBackward1>)
joinEmb:  tensor([[ 0.1824,  1.4278,  1.3945,  ..., -0.1791,  0.1161,  0.4883],
        [ 1.6091, -0.5348,  0.5037,  ...,  0.0529, -1.1035, -0.8842],
        [ 0.1824,  1.4278,  1.3945,  ..., -0.1791,  0.1161,  0.4883],
        ...,
        [ 1.6091, -0.5348,  0.5037,  ...,  0.0529, -1.1035, -0.8842],
        [ 1.6091, -0.5348,  0.5037,  ...,  0.0529, -1.1035, -0.8842],
        [ 1.6091, -0.5348,  0.5037,  ...,  0.0529, -1.1035, -0.8842]],
       grad_fn=<SqueezeBackward1>)
histEmb:  tensor([[ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        ...,
        [-0.3203,  0.2127, -0.5421,  ...,  0.9844,  0.9684,  0.4528],
        [-0.3203,  0.2127, -0.5421,  ...,  0.9844,  0.9684,  0.4528],
        [-0.3203,  0.2127, -0.5421,  ...,  0.9844,  0.9684,  0.4528]],
       grad_fn=<DivBackward0>)
histEmb shape:  torch.Size([30, 64])
final shape:  torch.Size([30, 1408])
QueryFormer Forward - node_feature:  tensor([[[ 0.0221, -0.0013, -0.0013,  ..., -0.0009, -0.0022,  0.1079],
         [ 0.1814, -0.0017,  0.2294,  ...,  0.1255, -0.0027, -0.0015],
         [ 0.1659, -0.0027, -0.0010,  ...,  0.0242,  0.1811, -0.0006],
         ...,
         [-0.0081,  0.5160,  0.1582,  ..., -0.0006,  0.0362,  0.5269],

## Find the min and max values for `SORT_SHRHEAP_TOP`

In [334]:
df_query_list = pd.read_csv("query_list.csv")

In [335]:
df_query_list.describe()

        Unnamed: 0      QUERYID  SORT_SHRHEAP_TOP
count  2536.000000  2536.000000       2536.000000
mean   1267.500000  3496.109621        435.967666
std     732.224465  2039.324957        362.367795
min       0.000000     1.000000          5.000000
25%     633.750000  1694.500000         79.000000
50%    1267.500000  3549.000000        361.000000
75%    1901.250000  5287.750000        802.000000
max    2535.000000  6996.000000       2611.000000