In [1]:
import pandas as pd
import os
import torch
from model.database_util import *

In [2]:
# Parameters cell (tagged as 'parameters')
QUERYID = 1
query1_ts = '2024-12-03-20.44.01.238859'

In [3]:
# Base directory name
base_dir = 'job_queries'

In [4]:


# File paths for the query explanation components
file_paths = {
    'operator': f'{base_dir}/EXPLAIN_OPERATOR.csv',
    'stream': f'{base_dir}/EXPLAIN_STREAM.csv',
    'predicate': f'{base_dir}/EXPLAIN_PREDICATE.csv'
}

In [5]:
max_node = 30
rel_pos_max = 20

# Extract the operator ids and types

In [6]:
import pandas as pd
import os

def extract_operator_ids_and_types(explain_operator_path, timestamp):
    """
    Extract rows from a CSV file where the EXPLAIN_TIME column matches a given timestamp.

    Parameters:
        explain_operator_path (str): Path to the CSV file.
        timestamp: The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing the matching rows with EXPLAIN_TIME, OPERATOR_ID, and OPERATOR_TYPE.
    """
    # Check if the file exists
    if not os.path.exists(explain_operator_path):
        raise FileNotFoundError(f"The file '{explain_operator_path}' does not exist.")
    
    # Read the CSV file
    try:
        df = pd.read_csv(explain_operator_path)
    except Exception as e:
        raise ValueError(f"Error reading the file: {e}")

    # Check if the required columns exist
    required_columns = ['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE']
    if not all(col in df.columns for col in required_columns):
        raise KeyError(f"The file must contain the columns: {required_columns}")

    # Filter rows where the EXPLAIN_TIME column matches the timestamp value
    df_ops = df[df['EXPLAIN_TIME'] == timestamp][required_columns]

    # Warn if no rows match the timestamp
    if df_ops.empty:
        print(f"No rows found for timestamp '{timestamp}'.")

    return df_ops


# try:
#     result = extract_operator_ids_and_types(explain_operator_path, query1_ts)
#     print(result)
# except Exception as e:
#     print(f"Error: {e}")

# Extract the Operators accessing objects

In [7]:
import pandas as pd

def extract_stream_table(explain_stream_path, timestamp):
    """
    Process the EXPLAIN_STREAM CSV file to extract relevant rows, concatenate schema and name, and prepare the output.

    Parameters:
        explain_stream_path (str): Path to the EXPLAIN_STREAM CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing EXPLAIN_TIME, OPERATOR_ID, and TABLE columns.
    """
    # Read the CSV file
    df = pd.read_csv(explain_stream_path)

    # Filter for the given EXPLAIN_TIME value and non-NaN OBJECT_NAME
    filtered_df = df.loc[(df['EXPLAIN_TIME'] == timestamp) & (df['OBJECT_NAME'].notna())].copy()

    # Concatenate OBJECT_SCHEMA and OBJECT_NAME to create a new column, removing any extra spaces
    filtered_df['TABLE'] = (
        filtered_df['OBJECT_SCHEMA'].str.strip().fillna('') +
        '.' +
        filtered_df['OBJECT_NAME'].str.strip()
    )

    # Select and rename the TARGET_ID column to OPERATOR_ID
    df_table = filtered_df[['EXPLAIN_TIME', 'SOURCE_ID', 'TARGET_ID', 'TABLE']].copy()
    df_table.rename(columns={'TARGET_ID': 'OPERATOR_ID'}, inplace=True)

    return df_table


# Example usage:
# explain_stream_path = f'{base_dir}/EXPLAIN_STREAM.csv'

# query1_ts = '2024-12-03-20.44.07.528574'  # Replace with your timestamp
# result = extract_stream_table(explain_stream_path, query1_ts)
# print(result)

# Extract local predicates

In [8]:
import pandas as pd

def extract_local_predicates(explain_predicate_path, timestamp):
    """
    Extract and process local predicates (WHERE/HAVING conditions) from the EXPLAIN_PREDICATE CSV file.

    Parameters:
        explain_predicate_path (str): Path to the EXPLAIN_PREDICATE CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame with grouped local predicates (PREDICATE1, PREDICATE2, PREDICATE3) 
                      and their corresponding FILTER_FACTOR columns (FILTER_FACTOR1, FILTER_FACTOR2, FILTER_FACTOR3) 
                      for each EXPLAIN_TIME and OPERATOR_ID.
    """
    # Define the columns to read from the file
    columns_to_read = ['EXPLAIN_TIME', 'OPERATOR_ID', 'HOW_APPLIED', 'PREDICATE_TEXT', 'FILTER_FACTOR']

    # Read the CSV file, selecting only relevant columns
    df = pd.read_csv(explain_predicate_path, usecols=columns_to_read)

    # Strip whitespace from EXPLAIN_TIME and HOW_APPLIED columns
    df['EXPLAIN_TIME'] = df['EXPLAIN_TIME'].str.strip()
    df['HOW_APPLIED'] = df['HOW_APPLIED'].str.strip()

    # Filter rows where EXPLAIN_TIME matches the timestamp and HOW_APPLIED is 'SARG'
    filtered_df = df.loc[(df['EXPLAIN_TIME'] == timestamp) & (df['HOW_APPLIED'] == 'SARG')].copy()

    # Remove only outer parentheses from the PREDICATE_TEXT column
    def remove_outer_parentheses(predicate_text):
        # Check if the text starts and ends with parentheses
        if isinstance(predicate_text, str) and predicate_text.startswith('(') and predicate_text.endswith(')'):
            # Remove only the outermost parentheses
            return predicate_text[1:-1]
        return predicate_text

    filtered_df['PREDICATE_TEXT'] = filtered_df['PREDICATE_TEXT'].apply(remove_outer_parentheses)

    # Select the relevant columns for the result
    df_predicates = filtered_df[['EXPLAIN_TIME', 'OPERATOR_ID', 'PREDICATE_TEXT', 'FILTER_FACTOR']]

    # Group by EXPLAIN_TIME and OPERATOR_ID and apply transformation
    df_local_predicates = df_predicates.groupby(['EXPLAIN_TIME', 'OPERATOR_ID']).agg(
        PREDICATE1=('PREDICATE_TEXT', lambda x: x.iloc[0] if len(x) > 0 else None),
        PREDICATE2=('PREDICATE_TEXT', lambda x: x.iloc[1] if len(x) > 1 else None),
        PREDICATE3=('PREDICATE_TEXT', lambda x: x.iloc[2] if len(x) > 2 else None),
        FILTER_FACTOR1=('FILTER_FACTOR', lambda x: x.iloc[0] if len(x) > 0 else None),
        FILTER_FACTOR2=('FILTER_FACTOR', lambda x: x.iloc[1] if len(x) > 1 else None),
        FILTER_FACTOR3=('FILTER_FACTOR', lambda x: x.iloc[2] if len(x) > 2 else None),
    ).reset_index()
    
    # Replace NaN values in FILTER_FACTOR columns with 1.0
    filter_factor_columns = ['FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3']
    df_local_predicates[filter_factor_columns] = df_local_predicates[filter_factor_columns].fillna(1.0)

    return df_local_predicates


# Example usage:
# explain_predicate_path = 'SimpleQueriesSQ12c/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-11-28 12:00:00'  # Replace with your timestamp
# explain_predicate_path = f'{base_dir}/EXPLAIN_PREDICATE.csv'
# result = extract_local_predicates(explain_predicate_path, query1_ts)
# print(result)

In [9]:
# result.info()

In [10]:
# result.head(3)

In [11]:
# result[['OPERATOR_ID', 'PREDICATE1', 'PREDICATE2', 
#        'FILTER_FACTOR1', 'FILTER_FACTOR2']]

In [12]:
pd.set_option('display.max_colwidth', None)

# Parsing the PREDICATEs and adding PARSED_PREDICATE columns

In [13]:
import re

def parse_predicate(predicate):
    """
    Parse a predicate string into a tuple (col, op, val).
    Supports various predicate types including IN, LIKE, IS NULL, and comparisons.
    """
    print('Original predicate:', predicate)
    if predicate is None or pd.isna(predicate):
        return None

    predicate = predicate.strip()

    # Patterns for different predicate types
    patterns = {
        'basic': r'(?P<col>[\w\.]+)\s*(?P<op>=|<=|>=|<|>)\s*(?P<val>.+)',
        'in': r'(?P<col>[\w\.]+)\s+IN\s+\((?P<val>.+?)\)',
        'like': r'(?P<col>[\w\.]+)\s+LIKE\s+(?P<val>.+)',
        'is': r'(?P<col>[\w\.]+)\s+IS\s+(?P<val>NULL|NOT\s+NULL)'
    }

    # Match and parse based on patterns
    for key, pattern in patterns.items():
        match = re.match(pattern, predicate, flags=re.IGNORECASE)
        if match:
            print(f"Matched pattern: {key} | Groups: {match.groupdict()}")
            col = match.group('col').strip()
            
            col_parts = col.split('.')
            if len(col_parts) == 3:
                col = '.'.join(col_parts[1:])
            
            op = match.group('op')
            val = match.group('val').strip()

            # Handle special cases
            if key == 'in':
                # Split and clean IN clause values
                val = [
                    f"'{v.strip()}'" for v in val.split(',')
                ]
            elif key == 'basic' and val.startswith("'") and val.endswith("'"):
                # Clean single-quoted values for basic predicates
                val = val.strip("'")

            return (col, op, val)

    # Log failed predicates
    print(f"Failed to match predicate: {predicate}")
    return None

In [14]:
explain_predicate_path = f'{base_dir}/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-10-08-04.51.06.406285' # not working

# Use the functions to extract features
df_pred = extract_local_predicates(explain_predicate_path, query1_ts)

/tmp/ipykernel_1817497/269058215.py:54: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_local_predicates[filter_factor_columns] = df_local_predicates[filter_factor_columns].fillna(1.0)

In [15]:
df_pred

,EXPLAIN_TIME,OPERATOR_ID,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3
0,2024-12-03-20.44.01.238859,4,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0
1,2024-12-03-20.44.01.238859,9,Q9.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0
2,2024-12-03-20.44.01.238859,12,Q5.NOTE IS NULL,None,None,0.487515,1.000000,1.0
3,2024-12-03-20.44.01.238859,14,Q1.PRODUCTION_YEAR <= 2020,1950 <= Q1.PRODUCTION_YEAR,None,0.971485,0.894801,1.0
4,2024-12-03-20.44.01.238859,17,Q7.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0
5,2024-12-03-20.44.01.238859,18,Q8.KIND = 'production companies',None,None,0.250000,1.000000,1.0
6,2024-12-03-20.44.01.238859,19,Q6.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0

In [16]:
import re

def parse_predicate(predicate):
    print('Original predicate:', predicate)
    if predicate is None or pd.isna(predicate):
        return None

    # Match basic predicate (col, op, val)
    basic_pattern = r'(?P<col>[\w\.]+)\s*(?P<op><=|>=|<|>|=|!=|LIKE)\s*(?P<val>.+)'
    # Match IN predicate
    in_pattern = r'(?P<col>[\w\.]+)\s+IN\s+\((?P<val>.+?)\)'

    # Try to match basic predicate
    match = re.match(basic_pattern, predicate.strip())
    if match:
        col = match.group('col')
        op = match.group('op')
        val = match.group('val')
        return (col, op, val)

    # Try to match IN predicate
    match = re.match(in_pattern, predicate.strip(), flags=re.IGNORECASE)
    if match:
        col = match.group('col')
        op = 'IN'
        val = match.group('val')

        # Debugging: Log the raw values before processing
        print('Raw IN values:', val)

        # Split by commas and clean spaces inside quotes
        val_list = [
            f'{v.strip().strip('\'').strip()}' if v.strip().startswith("'") else v.strip()
            for v in val.split(',')
        ]

        # Debugging: Log the cleaned values after processing
        print('Cleaned IN values:', val_list)

        return (col, op, val_list)

    return None

predicate = "AHNAF.MOVIE_INFO.INFO IN (' Sweden ', 'Norway ', ' Germany', ' Denmark ')"
result = parse_predicate(predicate)
print('Parsed result:', result)

Original predicate: AHNAF.MOVIE_INFO.INFO IN (' Sweden ', 'Norway ', ' Germany', ' Denmark ')
Raw IN values: ' Sweden ', 'Norway ', ' Germany', ' Denmark '
Cleaned IN values: ['Sweden', 'Norway', 'Germany', 'Denmark']
Parsed result: ('AHNAF.MOVIE_INFO.INFO', 'IN', ['Sweden', 'Norway', 'Germany', 'Denmark'])

In [17]:
df_pred

,EXPLAIN_TIME,OPERATOR_ID,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3
0,2024-12-03-20.44.01.238859,4,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0
1,2024-12-03-20.44.01.238859,9,Q9.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0
2,2024-12-03-20.44.01.238859,12,Q5.NOTE IS NULL,None,None,0.487515,1.000000,1.0
3,2024-12-03-20.44.01.238859,14,Q1.PRODUCTION_YEAR <= 2020,1950 <= Q1.PRODUCTION_YEAR,None,0.971485,0.894801,1.0
4,2024-12-03-20.44.01.238859,17,Q7.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0
5,2024-12-03-20.44.01.238859,18,Q8.KIND = 'production companies',None,None,0.250000,1.000000,1.0
6,2024-12-03-20.44.01.238859,19,Q6.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0

In [18]:
df_pred

,EXPLAIN_TIME,OPERATOR_ID,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3
0,2024-12-03-20.44.01.238859,4,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0
1,2024-12-03-20.44.01.238859,9,Q9.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0
2,2024-12-03-20.44.01.238859,12,Q5.NOTE IS NULL,None,None,0.487515,1.000000,1.0
3,2024-12-03-20.44.01.238859,14,Q1.PRODUCTION_YEAR <= 2020,1950 <= Q1.PRODUCTION_YEAR,None,0.971485,0.894801,1.0
4,2024-12-03-20.44.01.238859,17,Q7.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0
5,2024-12-03-20.44.01.238859,18,Q8.KIND = 'production companies',None,None,0.250000,1.000000,1.0
6,2024-12-03-20.44.01.238859,19,Q6.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0

In [19]:
import re
import pandas as pd

def parse_predicate(predicate):
    """
    Parses a SQL predicate string to extract the column, operator, and value.

    Args:
        predicate (str): The predicate string to parse.

    Returns:
        tuple: A tuple containing the column, operator, and value, or None if parsing fails.
    """
    if predicate is None or pd.isna(predicate):
        return None

    # Patterns for different predicate types
    basic_pattern = r'(?P<col>[\w\.]+)\s*(?P<op><=|>=|<|>|=|!=|LIKE)\s*(?P<val>.+)'
    in_pattern = r'(?P<col>[\w\.]+)\s+IN\s*\((?P<val>.*)\)'
    is_null_pattern = r'(?P<col>[\w\.]+)\s+IS\s+(?P<val>NULL|NOT\s+NULL)'

    # Remove parentheses around the predicate if present
    predicate = predicate.strip()

    # Match IS NULL / IS NOT NULL predicates
    match = re.match(is_null_pattern, predicate, flags=re.IGNORECASE)
    if match:
        col = match.group('col')
        op = 'IS'
        val = match.group('val')
        return (col, op, val)

    # Match IN predicates (e.g., Q4.INFO IN ('Sweden', 'Norway'))
    match = re.match(in_pattern, predicate, flags=re.IGNORECASE)
    if match:
        col = match.group('col')
        op = 'IN'
        val = match.group('val')

        # Extract single-quoted strings and strip spaces inside each value
        val_list = [v.strip() for v in re.findall(r"'(.*?)'", val)]
        if val_list:
            return (col, op, val_list)

        # Fall back to splitting by commas and stripping spaces
        val_list = [v.strip() for v in val.split(',') if v.strip()]
        return (col, op, val_list)

    # Match basic predicates (e.g., Q1.PRODUCTION_YEAR <= 2020)
    match = re.match(basic_pattern, predicate)
    if match:
        col = match.group('col')
        op = match.group('op')
        val = match.group('val')
        return (col, op, val)

    # Return None if no pattern matches
    return None

In [20]:
# Function to transform predicate to (COLUMN, OPERATOR, VALUE) format
def transform_predicate(predicate):
    if isinstance(predicate, str):
        # Regex to match predicates in the form (VALUE OPERATOR COLUMN)
        match = re.match(r'(\d+|\'[^\']*\'|\"[^\"]*\")\s*(<=|>=|<|>)\s*([A-Za-z_][A-Za-z0-9_\.]*)', predicate)
        if match:
            value, operator, column = match.groups()
            # Reverse the operation and switch operator
            reversed_operator = {'<=': '>=', '>=': '<=', '<': '>', '>': '<'}[operator]
            return f'{column} {reversed_operator} {value}'
    return predicate  # Return unchanged if not a string or no match

# Function to apply transformation only if at least one of the predicates is not NaN
def apply_transformation(row):
    if pd.notna(row['PREDICATE1']) or pd.notna(row['PREDICATE2']) or pd.notna(row['PREDICATE3']):
        row['PREDICATE1'] = transform_predicate(row['PREDICATE1'])
        row['PREDICATE2'] = transform_predicate(row['PREDICATE2'])
        row['PREDICATE3'] = transform_predicate(row['PREDICATE3'])
    return row

# Extract Join Key

In [21]:
import pandas as pd

def extract_join_keys(explain_predicate_path, timestamp):
    """
    Extract join keys from the EXPLAIN_PREDICATE CSV file where HOW_APPLIED is 'JOIN'.

    Parameters:
        explain_predicate_path (str): Path to the EXPLAIN_PREDICATE CSV file.
        timestamp (str): The timestamp value to filter rows by.

    Returns:
        pd.DataFrame: A DataFrame containing EXPLAIN_TIME, OPERATOR_ID, and JOIN_KEY columns.
    """
    # Define the columns to read from the file
    columns_to_read = ['EXPLAIN_TIME', 'OPERATOR_ID', 'HOW_APPLIED', 'PREDICATE_TEXT']

    # Read the CSV file, selecting only relevant columns
    df = pd.read_csv(explain_predicate_path, usecols=columns_to_read)

    # Strip whitespace from EXPLAIN_TIME and HOW_APPLIED columns
    df['EXPLAIN_TIME'] = df['EXPLAIN_TIME'].str.strip()
    df['HOW_APPLIED'] = df['HOW_APPLIED'].str.strip()

    # Filter rows where EXPLAIN_TIME matches the timestamp and HOW_APPLIED is 'JOIN'
    filtered_df = df[(df['EXPLAIN_TIME'] == timestamp) & (df['HOW_APPLIED'] == 'JOIN')].copy()

    # Remove parentheses from the PREDICATE_TEXT column and assign to JOIN_KEY
    filtered_df.loc[:, 'JOIN_KEY'] = filtered_df['PREDICATE_TEXT'].str.replace(r'[\(\)]', '', regex=True)

    # Select the relevant columns for the result
    df_join = filtered_df[['EXPLAIN_TIME', 'OPERATOR_ID', 'JOIN_KEY']]

    # Check if there are matching rows
    if df_join.empty:
        print("No matching rows found.")
        return pd.DataFrame()  # Return an empty DataFrame

    return df_join

# Example usage:
# explain_predicate_path = 'SimpleQueriesSQ12c/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-11-28 12:00:00'  # Replace with your timestamp
# result = extract_join_keys(explain_predicate_path, query1_ts)
# print(result)

# Combining Node features

In [22]:
import pandas as pd

# Define the file paths and timestamp value
# File paths
explain_operator_path = f'{base_dir}/EXPLAIN_OPERATOR.csv'
explain_stream_path = f'{base_dir}/EXPLAIN_STREAM.csv'
explain_predicate_path = f'{base_dir}/EXPLAIN_PREDICATE.csv'
# query1_ts = '2024-10-08-04.51.06.406285' # not working

# Use the functions to extract features
df_ops = extract_operator_ids_and_types(explain_operator_path, query1_ts)
df_join = extract_join_keys(explain_predicate_path, query1_ts)
df_table = extract_stream_table(explain_stream_path, query1_ts)
df_pred = extract_local_predicates(explain_predicate_path, query1_ts)

# Apply the transformation row by row
df_pred = df_pred.apply(apply_transformation, axis=1)

/tmp/ipykernel_1817497/269058215.py:54: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_local_predicates[filter_factor_columns] = df_local_predicates[filter_factor_columns].fillna(1.0)

In [23]:
df_pred

,EXPLAIN_TIME,OPERATOR_ID,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3
0,2024-12-03-20.44.01.238859,4,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0
1,2024-12-03-20.44.01.238859,9,Q9.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0
2,2024-12-03-20.44.01.238859,12,Q5.NOTE IS NULL,None,None,0.487515,1.000000,1.0
3,2024-12-03-20.44.01.238859,14,Q1.PRODUCTION_YEAR <= 2020,Q1.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0
4,2024-12-03-20.44.01.238859,17,Q7.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0
5,2024-12-03-20.44.01.238859,18,Q8.KIND = 'production companies',None,None,0.250000,1.000000,1.0
6,2024-12-03-20.44.01.238859,19,Q6.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0

In [24]:
df_pred.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3',
       'FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3'],
      dtype='object')

In [25]:
df_pred.head()

,EXPLAIN_TIME,OPERATOR_ID,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3
0,2024-12-03-20.44.01.238859,4,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0
1,2024-12-03-20.44.01.238859,9,Q9.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0
2,2024-12-03-20.44.01.238859,12,Q5.NOTE IS NULL,None,None,0.487515,1.000000,1.0
3,2024-12-03-20.44.01.238859,14,Q1.PRODUCTION_YEAR <= 2020,Q1.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0
4,2024-12-03-20.44.01.238859,17,Q7.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0

In [26]:
df_ops.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE'], dtype='object')

In [27]:
df_ops.shape

(19, 3)

In [28]:
df_table.columns

Index(['EXPLAIN_TIME', 'SOURCE_ID', 'OPERATOR_ID', 'TABLE'], dtype='object')

In [29]:
df_join.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'JOIN_KEY'], dtype='object')

In [30]:
# Merge DataFrames step-by-step
merged_df = pd.merge(df_ops, df_pred, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='outer')  # Include all rows
merged_df = pd.merge(merged_df, df_join, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='outer')
merged_df = pd.merge(merged_df, df_table, on=['EXPLAIN_TIME', 'OPERATOR_ID'], how='outer')
# Ensure all FILTER_FACTOR columns are filled
filter_columns = ['FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3']
merged_df[filter_columns] = merged_df[filter_columns].fillna(1.0)

df = merged_df.copy()

In [31]:
import pandas as pd
import re

# Sample DataFrame provided
# df = pd.DataFrame({
#     'EXPLAIN_TIME': ['2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756', '2024-10-08-04.48.13.056756'],
#     'OPERATOR_ID': [1, 2, 3, 4],
#     'OPERATOR_TYPE': ['RETURN', 'HSJOIN', 'TBSCAN', 'TBSCAN'],
#     'TABLE': [None, None, 'TPCDS.CUSTOMER', 'TPCDS.DATE_DIM2'],
#     'PREDICATE1': [None, None, None, 'Q2.D_YEAR >= 1958'],
#     'PREDICATE2': [None, None, None, 'Q2.D_MOY = 12'],
#     'PREDICATE3': [None, None, None, None],
#     'JOIN_KEY': [None, 'Q2.D_DATE_SK = Q1.C_FIRST_SHIPTO_DATE_SK', None, None]
# })

# Function to extract the alias from the predicate (before the period)
def extract_alias(predicate):
    if isinstance(predicate, str):
        match = re.search(r'([A-Za-z0-9_]+)\.', predicate)
        if match:
            return match.group(1)  # Return the part before the period (alias)
    return None

# Filter rows where TABLE is not None and at least one PREDICATE column has a value
filtered_df = df[(df['TABLE'].notna()) & (df[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']].notna().any(axis=1))]

# Create a new DataFrame with EXPLAIN_TIME, TABLE, and ALIAS
rows = []
for _, row in filtered_df.iterrows():
    predicates = [row['PREDICATE1'], row['PREDICATE2'], row['PREDICATE3']]
    alias = None
    for predicate in predicates:
        alias = extract_alias(predicate)
        if alias:
            break  # Once an alias is found, no need to check other predicates
    rows.append({'EXPLAIN_TIME': row['EXPLAIN_TIME'], 'TABLE': row['TABLE'], 'ALIAS': alias})

# Create the new dataframe
df_table_alias = pd.DataFrame(rows)

# Display the result
print(df_table_alias)

                 EXPLAIN_TIME                  TABLE ALIAS
0  2024-12-03-20.44.01.238859       AHNAF.MOVIE_INFO    Q4
1  2024-12-03-20.44.01.238859     AHNAF.COMPANY_NAME    Q9
2  2024-12-03-20.44.01.238859  AHNAF.MOVIE_COMPANIES    Q5
3  2024-12-03-20.44.01.238859            AHNAF.TITLE    Q1
4  2024-12-03-20.44.01.238859          AHNAF.KEYWORD    Q7
5  2024-12-03-20.44.01.238859     AHNAF.COMPANY_TYPE    Q8
6  2024-12-03-20.44.01.238859        AHNAF.LINK_TYPE    Q6

# extract optimized statement

In [32]:
if not os.path.isfile('db2.ipynb'):
    os.system('wget https://raw.githubusercontent.com/IBM/db2-jupyter/master/db2.ipynb')

%run db2.ipynb

<>:1708: SyntaxWarning: invalid escape sequence '\s'
<>:2305: SyntaxWarning: invalid escape sequence '\?'
/tmp/ipykernel_1817497/2299624180.py:1708: SyntaxWarning: invalid escape sequence '\s'
  firstCommand = "(?:^\s*)([a-zA-Z]+)(?:\s+.*|$)"
/tmp/ipykernel_1817497/2299624180.py:2305: SyntaxWarning: invalid escape sequence '\?'
  pattern = "\?\*[0-9]+"

Warning: Grid display is unavailable for displaying results in scrollable windows.
         Install itables if you want to enable scrolling of result sets.
Db2 Extensions Loaded. Version: 2024-09-16

In [33]:
from dotenv import dotenv_values

In [34]:
db2creds = dotenv_values('db2con.env')
%sql CONNECT CREDENTIALS db2creds

Connection successful. TESTDB @ localhost

In [35]:
%sql SET CURRENT SCHEMA AHNAF

Command completed.

In [36]:
explain_stmt = %sql select STATEMENT_TEXT from EXPLAIN_STATEMENT where EXPLAIN_TIME = '{query1_ts}' AND EXPLAIN_LEVEL = 'S'

In [37]:
explain_stmt['STATEMENT_TEXT'][0]

'SELECT Q9.NAME AS "COMPANY_NAME", Q6.LINK AS "LINK_TYPE", Q1.TITLE AS "WESTERN_FOLLOW_UP" FROM AHNAF.TITLE AS Q1, AHNAF.MOVIE_LINK AS Q2, AHNAF.MOVIE_KEYWORD AS Q3, AHNAF.MOVIE_INFO AS Q4, AHNAF.MOVIE_COMPANIES AS Q5, AHNAF.LINK_TYPE AS Q6, AHNAF.KEYWORD AS Q7, AHNAF.COMPANY_TYPE AS Q8, AHNAF.COMPANY_NAME AS Q9 WHERE (Q5.MOVIE_ID = Q4.MOVIE_ID) AND (Q3.MOVIE_ID = Q4.MOVIE_ID) AND (Q2.MOVIE_ID = Q4.MOVIE_ID) AND (Q4.MOVIE_ID = Q1.ID) AND (Q5.COMPANY_ID = Q9.ID) AND (Q5.COMPANY_TYPE_ID = Q8.ID) AND (Q3.KEYWORD_ID = Q7.ID) AND (Q6.ID = Q2.LINK_TYPE_ID) AND (Q1.PRODUCTION_YEAR <= 2020) AND (1950 <= Q1.PRODUCTION_YEAR) AND Q5.NOTE IS NULL AND (Q6.LINK LIKE \'%follows%\') AND (Q7.KEYWORD = \'superhero\') AND (Q8.KIND = \'production companies\') AND (Q9.COUNTRY_CODE = \'[jp]\') AND Q4.INFO IN (\'Sweden               \', \'Norway               \', \'Germany              \', \'Denmark              \', \'Swedish              \', \'Denish               \', \'Norwegian            \', \'German               \', \'USA                  \', \'CANADA               \', \'Netherlands          \', \'Brazil               \', \'UK                   \', \'Belgium              \', \'Finland              \', \'Hungary              \', \'Estonia              \', \'worldwide            \', \'Australia            \', \'Spain                \', \'France               \', \'Japan                \', \'Columbia             \', \'Slovenia             \', \'Israel               \', \'Venezuela            \', \'Nigeria              \', \'Philippines          \', \'New Zealand          \', \'Ireland              \', \'Romania              \', \'Non-USA              \', \'Bulgaria             \', \'Argentina            \', \'Malaysia             \', \'Singapore            \', \'Turkey               \', \'Sri Lanka            \', \'Italy                \', \'Indonesia            \', \'South Korea          \', \'Vietnam              \', \'Slovakia             \', \'Czech Republic       \', \'China                \', \'Portugal             \', \'Greece               \', \'Republic of Macedonia\', \'Serbia               \', \'Jamaica              \', \'Switzerland          \', \'Yugoslavia           \', \'Mexico               \', \'Austria              \', \'Russia               \')'

In [38]:
import re

# Sample SQL text (multiline)
sql_text = explain_stmt['STATEMENT_TEXT'][0]

# Function to extract the FROM clause, handling multiline SQL
def extract_from_clause(sql_text):
    # Extract the FROM clause (up to WHERE, GROUP BY, etc.), handling newlines and extra spaces
    from_clause_match = re.search(r'\bFROM\b\s+(.+?)\s*(\bWHERE\b|\bGROUP BY\b|\bORDER BY\b|$)', sql_text, re.IGNORECASE | re.DOTALL)
    if from_clause_match:
        from_clause = from_clause_match.group(1).strip()
        return from_clause
    return None

# Function to extract table names and their aliases from the FROM clause
def extract_table_aliases(sql_text):
    # Extract the FROM clause
    from_clause = extract_from_clause(sql_text)
    
    if from_clause:
        print(f"Captured FROM clause: {from_clause}")  # Debugging step to print captured FROM clause

        # Find all table names and aliases in the form "table AS alias" or "table alias"
        table_alias_pairs = re.findall(r'([A-Za-z0-9_\.]+)\s+(?:AS\s+)?([A-Za-z0-9_]+)', from_clause, re.IGNORECASE)

        # Flip the dictionary: aliases as keys, table names as values
        alias_table_dict = {pair[1]: pair[0] for pair in table_alias_pairs}
        return alias_table_dict
    return {}

# Extract table aliases (flipped)
alias_table_dict = extract_table_aliases(sql_text)

# Display the extracted alias-table dictionary
print("Extracted alias-table dictionary:", alias_table_dict)

Captured FROM clause: AHNAF.TITLE AS Q1, AHNAF.MOVIE_LINK AS Q2, AHNAF.MOVIE_KEYWORD AS Q3, AHNAF.MOVIE_INFO AS Q4, AHNAF.MOVIE_COMPANIES AS Q5, AHNAF.LINK_TYPE AS Q6, AHNAF.KEYWORD AS Q7, AHNAF.COMPANY_TYPE AS Q8, AHNAF.COMPANY_NAME AS Q9
Extracted alias-table dictionary: {'Q1': 'AHNAF.TITLE', 'Q2': 'AHNAF.MOVIE_LINK', 'Q3': 'AHNAF.MOVIE_KEYWORD', 'Q4': 'AHNAF.MOVIE_INFO', 'Q5': 'AHNAF.MOVIE_COMPANIES', 'Q6': 'AHNAF.LINK_TYPE', 'Q7': 'AHNAF.KEYWORD', 'Q8': 'AHNAF.COMPANY_TYPE', 'Q9': 'AHNAF.COMPANY_NAME'}

In [39]:
df.head()

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.0,1.0,NaN,NaN,NaN
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.0,1.0,NaN,NaN,NaN
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.0,1.0,Q2.MOVIE_ID = Q4.MOVIE_ID,NaN,NaN
3,2024-12-03-20.44.01.238859,4,TBSCAN,"Q4.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.0,1.0,NaN,-1.0,AHNAF.MOVIE_INFO
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.0,1.0,Q6.ID = Q2.LINK_TYPE_ID,NaN,NaN

In [40]:
pd.set_option('display.max_colwidth', None)

In [41]:
import pandas as pd
import re

# # Sample alias-table dictionary extracted from SQL
# alias_table_dict = {
#     'Q1': 'TPCDS.CUSTOMER',
#     'Q2': 'TPCDS.DATE_DIM2'
# }

# Function to replace all aliases in the predicate with the corresponding table names using alias_table_dict
def replace_alias_with_table(predicate, alias_table_dict):
    if isinstance(predicate, str):
        # Replace all aliases in the string with the corresponding table names
        for alias, table_name in alias_table_dict.items():
            predicate = re.sub(fr'\b{alias}\b\.', f'{table_name}.', predicate)
    return predicate

# Apply the replacement to each predicate column
for index, row in df.iterrows():
    df.at[index, 'PREDICATE1'] = replace_alias_with_table(row['PREDICATE1'], alias_table_dict)
    df.at[index, 'PREDICATE2'] = replace_alias_with_table(row['PREDICATE2'], alias_table_dict)
    df.at[index, 'PREDICATE3'] = replace_alias_with_table(row['PREDICATE3'], alias_table_dict)
    df.at[index, 'JOIN_KEY'] = replace_alias_with_table(row['JOIN_KEY'], alias_table_dict)

# Display the updated DataFrame
print(df)

                  EXPLAIN_TIME  OPERATOR_ID OPERATOR_TYPE  \
0   2024-12-03-20.44.01.238859            1        RETURN
1   2024-12-03-20.44.01.238859            2        TQ
2   2024-12-03-20.44.01.238859            3        HSJOIN
3   2024-12-03-20.44.01.238859            4        TBSCAN
4   2024-12-03-20.44.01.238859            5        HSJOIN
5   2024-12-03-20.44.01.238859            6        HSJOIN
6   2024-12-03-20.44.01.238859            7        TBSCAN
7   2024-12-03-20.44.01.238859            8        HSJOIN
8   2024-12-03-20.44.01.238859            9        TBSCAN
9   2024-12-03-20.44.01.238859           10        HSJOIN
10  2024-12-03-20.44.01.238859           11        HSJOIN
11  2024-12-03-20.44.01.238859           12        TBSCAN
12  2024-12-03-20.44.01.238859           13        HSJOIN
13  2024-12-03-20.44.01.238859           14        TBSCAN
14  2024-12-03-20.44.01.238859           15        HSJOIN
15  2024-12-03-20.44.01.238859           16        TBSCAN
16  2024-12-03-20.44.01.238859           17        TBSCAN
17  2024-12-03-20.44.01.238859           18        TBSCAN
18  2024-12-03-20.44.01.238859           19        TBSCAN

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  PREDICATE1  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
3   AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]'
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       NaN
11                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       AHNAF.MOVIE_COMPANIES.NOTE IS NULL

In [42]:
df.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE', 'PREDICATE1',
       'PREDICATE2', 'PREDICATE3', 'FILTER_FACTOR1', 'FILTER_FACTOR2',
       'FILTER_FACTOR3', 'JOIN_KEY', 'SOURCE_ID', 'TABLE'],
      dtype='object')

In [43]:
# Creating new columns for parsed predicates
for i in range(1, 4):
    print(i)
    pred_col = f'PREDICATE{i}'
    parsed_col = f'PARSED_PRED{i}'
    df[parsed_col] = df[pred_col].apply(parse_predicate)

# Display the updated dataframe
df

1
2
3

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,NaN,NaN,None,None,None
3,2024-12-03-20.44.01.238859,4,TBSCAN,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_INFO,"(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])",None,None
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,NaN,NaN,None,None,None
5,2024-12-03-20.44.01.238859,6,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
6,2024-12-03-20.44.01.238859,7,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_LINK,None,None,None
7,2024-12-03-20.44.01.238859,8,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,NaN,NaN,None,None,None
8,2024-12-03-20.44.01.238859,9,TBSCAN,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_NAME,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None
9,2024-12-03-20.44.01.238859,10,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,NaN,NaN,None,None,None
10,2024-12-03-20.44.01.238859,11,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
11,2024-12-03-20.44.01.238859,12,TBSCAN,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_COMPANIES,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)",None,None
12,2024-12-03-20.44.01.238859,13,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,NaN,NaN,None,None,None
13,2024-12-03-20.44.01.238859,14,TBSCAN,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0,NaN,-1.0,AHNAF.TITLE,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)",None
14,2024-12-03-20.44.01.238859,15,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,NaN,NaN,None,None,None
15,2024-12-03-20.44.01.238859,16,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_KEYWORD,None,None,None
16,2024-12-03-20.44.01.238859,17,TBSCAN,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0,NaN,-1.0,AHNAF.KEYWORD,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None
17,2024-12-03-20.44.01.238859,18,TBSCAN,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,0.250000,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_TYPE,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None
18,2024-12-03-20.44.01.238859,19,TBSCAN,AHNAF.LINK_TYPE.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0,NaN,-1.0,AHNAF.LINK_TYPE,"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",None,None

# Calculating Tree Node heights

In [44]:
# Read the CSV file
file_path = f'{base_dir}/EXPLAIN_STREAM.csv'
df_stream = pd.read_csv(file_path)

# Filter for the given EXPLAIN_TIME value and non-NaN OBJECT_NAME
df_stream = df_stream.loc[(df_stream['EXPLAIN_TIME'] == query1_ts)].copy()

In [45]:
df_stream.columns

Index(['EXPLAIN_REQUESTER', 'EXPLAIN_TIME', 'SOURCE_NAME', 'SOURCE_SCHEMA',
       'SOURCE_VERSION', 'EXPLAIN_LEVEL', 'STMTNO', 'SECTNO', 'STREAM_ID',
       'SOURCE_TYPE', 'SOURCE_ID', 'TARGET_TYPE', 'TARGET_ID', 'OBJECT_SCHEMA',
       'OBJECT_NAME', 'STREAM_COUNT', 'COLUMN_COUNT', 'PREDICATE_ID',
       'COLUMN_NAMES', 'PMID', 'SINGLE_NODE', 'PARTITION_COLUMNS',
       'SEQUENCE_SIZES', 'OBJECT_TENANTID'],
      dtype='object')

In [46]:
df_stream = df_stream[['SOURCE_ID', 'TARGET_ID']]

In [47]:
df_stream.head()

      SOURCE_ID  TARGET_ID
3942         -1          4
3943          4          3
3944         -1          7
3945          7          6
3946         -1          9

In [48]:
df_stream

      SOURCE_ID  TARGET_ID
3942         -1          4
3943          4          3
3944         -1          7
3945          7          6
3946         -1          9
3947          9          8
3948         -1         12
3949         12         11
3950         -1         14
3951         14         13
3952         -1         16
3953         16         15
3954         -1         17
3955         17         15
3956         15         13
3957         13         11
3958         11         10
3959         -1         18
3960         18         10
3961         10          8
3962          8          6
3963          6          5
3964         -1         19
3965         19          5
3966          5          3
3967          3          2
3968          2          1

In [49]:

import pandas as pd
import numpy as np

# Step 1: Generate the adjacency matrix (from previous code)
# data = {
#     'SOURCE_ID': [-1, 3, -1, 4, 2],
#     'TARGET_ID': [3, 2, 4, 2, 1]
# }
# df = pd.DataFrame(data)

# Extract all unique nodes from SOURCE_ID and TARGET_ID
node_ids = set(df_stream['SOURCE_ID']).union(set(df_stream['TARGET_ID'])) - {-1}
node_ids = sorted(node_ids)

# Map node ids to indices for the adjacency matrix
node_to_index = {node: idx for idx, node in enumerate(node_ids)}

# Initialize the adjacency matrix with zeros
n = len(node_ids)
adj_matrix = np.zeros((n, n), dtype=int)

# Fill the adjacency matrix based on the parent-child relationships
for _, row in df_stream.iterrows():
    source = row['SOURCE_ID']
    target = row['TARGET_ID']
    
    if source != -1:
        parent_idx = node_to_index[target]
        child_idx = node_to_index[source]
        adj_matrix[parent_idx][child_idx] = 1

# Convert to DataFrame for better display
adj_matrix_df = pd.DataFrame(adj_matrix, index=node_ids, columns=node_ids)
print("Adjacency Matrix:")
print(adj_matrix_df)

Adjacency Matrix:
    1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19
1    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3    0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   1
6    0   0   0   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   1   1   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0
11   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0   0   0
12   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
13   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
15   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0
16   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
19   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

In [50]:
# Reset the index of the adjacency matrix to be 0-based
adj_matrix_df.index = adj_matrix_df.index - 1  # Convert row indices to 0-based
adj_matrix_df.columns = adj_matrix_df.columns - 1  # Convert column indices to 0-based

print("Adjacency Matrix with 0-Based Index:")
print(adj_matrix_df)

Adjacency Matrix with 0-Based Index:
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1    0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   1
5    0   0   0   0   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   1   1   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0
10   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0   0   0
13   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   1   0   0
15   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
16   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
17   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
18   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

# Find the BFS sequence

In [51]:
import numpy as np
from collections import deque

def bfs_from_adj_matrix(adj_matrix, start_node):
    """
    Perform BFS on a graph represented by an adjacency matrix.

    Args:
        adj_matrix (np.ndarray): Adjacency matrix of the graph.
        start_node (int): Starting node for BFS.

    Returns:
        list: List of nodes in the order they are visited.
    """
    num_nodes = adj_matrix.shape[0]  # Number of nodes
    visited = [False] * num_nodes    # Track visited nodes
    queue = deque([start_node])      # Initialize queue with the start node
    visited[start_node] = True       # Mark the start node as visited

    bfs_order = []  # List to store BFS traversal order

    while queue:
        node = queue.popleft()       # Dequeue the next node
        bfs_order.append(node)       # Record the visited node

        # Check all neighbors (columns in the row of this node)
        for neighbor, is_connected in enumerate(adj_matrix[node]):
            if is_connected and not visited[neighbor]:  # If connected and not visited
                queue.append(neighbor)                  # Enqueue the neighbor
                visited[neighbor] = True                # Mark as visited

    return bfs_order

# Convert adj_matrix_df to NumPy array
adj_matrix_np = adj_matrix_df.values

# Perform BFS starting from node 0
bfs_order = bfs_from_adj_matrix(adj_matrix_np, start_node=0)
print("BFS Row Index Order:", bfs_order)

BFS Row Index Order: [0, 1, 2, 3, 4, 5, 18, 6, 7, 8, 9, 10, 17, 11, 12, 13, 14, 15, 16]

In [52]:
# Convert 0-based indexed adjacency matrix to adj_list
adj_list = []

# Iterate over the adjacency matrix
for parent_idx, row in enumerate(adj_matrix):  # parent_idx is the row index
    for child_idx, is_child in enumerate(row):  # child_idx is the column index
        if is_child:  # If there's a connection (value is 1)
            adj_list.append((parent_idx, child_idx))  # Use 0-based indices directly

adj_list_tensor = torch.LongTensor(np.array(adj_list))

print("Adjacency List:")
print(adj_list_tensor)

Adjacency List:
tensor([[ 0,  1],
        [ 1,  2],
        [ 2,  3],
        [ 2,  4],
        [ 4,  5],
        [ 4, 18],
        [ 5,  6],
        [ 5,  7],
        [ 7,  8],
        [ 7,  9],
        [ 9, 10],
        [ 9, 17],
        [10, 11],
        [10, 12],
        [12, 13],
        [12, 14],
        [14, 15],
        [14, 16]])

In [53]:
# Step 1: Perform BFS to get the order of nodes
bfs_order = bfs_from_adj_matrix(adj_matrix, start_node=0)  # Adjust start_node as needed

# Step 2: Create a mapping from BFS order to indices for sorting
bfs_index_map = {node: i for i, node in enumerate(bfs_order)}

# Step 3: Reorder adj_list based on BFS order
adj_list = [
    (parent, child)
    for parent in bfs_order
    for child, is_child in enumerate(adj_matrix[parent])
    if is_child  # Keep only valid edges
]

# Step 4: Convert to tensor if needed
adj_list_tensor = torch.LongTensor(np.array(adj_list))

print("Reordered Adjacency List:")
print(adj_list_tensor)

Reordered Adjacency List:
tensor([[ 0,  1],
        [ 1,  2],
        [ 2,  3],
        [ 2,  4],
        [ 4,  5],
        [ 4, 18],
        [ 5,  6],
        [ 5,  7],
        [ 7,  8],
        [ 7,  9],
        [ 9, 10],
        [ 9, 17],
        [10, 11],
        [10, 12],
        [12, 13],
        [12, 14],
        [14, 15],
        [14, 16]])

In [54]:
edge_index = adj_list_tensor.t()

In [55]:
edge_index

tensor([[ 0,  1,  2,  2,  4,  4,  5,  5,  7,  7,  9,  9, 10, 10, 12, 12, 14, 14],
        [ 1,  2,  3,  4,  5, 18,  6,  7,  8,  9, 10, 17, 11, 12, 13, 14, 15, 16]])

In [56]:
from model.database_util import floyd_warshall_rewrite

In [57]:
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,NaN,NaN,None,None,None
3,2024-12-03-20.44.01.238859,4,TBSCAN,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_INFO,"(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])",None,None
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,NaN,NaN,None,None,None
5,2024-12-03-20.44.01.238859,6,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
6,2024-12-03-20.44.01.238859,7,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_LINK,None,None,None
7,2024-12-03-20.44.01.238859,8,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,NaN,NaN,None,None,None
8,2024-12-03-20.44.01.238859,9,TBSCAN,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_NAME,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None
9,2024-12-03-20.44.01.238859,10,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,NaN,NaN,None,None,None
10,2024-12-03-20.44.01.238859,11,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
11,2024-12-03-20.44.01.238859,12,TBSCAN,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_COMPANIES,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)",None,None
12,2024-12-03-20.44.01.238859,13,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,NaN,NaN,None,None,None
13,2024-12-03-20.44.01.238859,14,TBSCAN,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0,NaN,-1.0,AHNAF.TITLE,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)",None
14,2024-12-03-20.44.01.238859,15,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,NaN,NaN,None,None,None
15,2024-12-03-20.44.01.238859,16,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_KEYWORD,None,None,None
16,2024-12-03-20.44.01.238859,17,TBSCAN,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0,NaN,-1.0,AHNAF.KEYWORD,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None
17,2024-12-03-20.44.01.238859,18,TBSCAN,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,0.250000,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_TYPE,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None
18,2024-12-03-20.44.01.238859,19,TBSCAN,AHNAF.LINK_TYPE.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0,NaN,-1.0,AHNAF.LINK_TYPE,"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",None,None

In [58]:
bfs_order

[0, 1, 2, 3, 4, 5, 18, 6, 7, 8, 9, 10, 17, 11, 12, 13, 14, 15, 16]

In [59]:
# Reorder the DataFrame rows based on BFS order
df = df.iloc[bfs_order].reset_index(drop=True)

df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,NaN,NaN,None,None,None
3,2024-12-03-20.44.01.238859,4,TBSCAN,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_INFO,"(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])",None,None
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,NaN,NaN,None,None,None
5,2024-12-03-20.44.01.238859,6,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
6,2024-12-03-20.44.01.238859,19,TBSCAN,AHNAF.LINK_TYPE.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0,NaN,-1.0,AHNAF.LINK_TYPE,"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",None,None
7,2024-12-03-20.44.01.238859,7,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_LINK,None,None,None
8,2024-12-03-20.44.01.238859,8,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,NaN,NaN,None,None,None
9,2024-12-03-20.44.01.238859,9,TBSCAN,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_NAME,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None
10,2024-12-03-20.44.01.238859,10,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,NaN,NaN,None,None,None
11,2024-12-03-20.44.01.238859,11,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None
12,2024-12-03-20.44.01.238859,18,TBSCAN,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,0.250000,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_TYPE,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None
13,2024-12-03-20.44.01.238859,12,TBSCAN,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_COMPANIES,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)",None,None
14,2024-12-03-20.44.01.238859,13,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,NaN,NaN,None,None,None
15,2024-12-03-20.44.01.238859,14,TBSCAN,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0,NaN,-1.0,AHNAF.TITLE,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)",None
16,2024-12-03-20.44.01.238859,15,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,NaN,NaN,None,None,None
17,2024-12-03-20.44.01.238859,16,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_KEYWORD,None,None,None
18,2024-12-03-20.44.01.238859,17,TBSCAN,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0,NaN,-1.0,AHNAF.KEYWORD,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None

In [60]:
df.shape
N = df.shape[0]

In [61]:
if len(edge_index) == 0:
            shortest_path_result = np.array([[0]])
            path = np.array([[0]])
            adj = torch.tensor([[0]]).bool()
else:
            adj = torch.zeros([N,N], dtype=torch.bool)
            adj[edge_index[0,:], edge_index[1,:]] = True
            
            shortest_path_result = floyd_warshall_rewrite(adj.numpy())
        
rel_pos = torch.from_numpy((shortest_path_result)).long()

In [62]:
rel_pos

tensor([[ 0,  1,  2,  3,  3,  4,  5,  5,  6,  6,  7,  8,  8,  9,  9, 10, 10,  7,
          4],
        [60,  0,  1,  2,  2,  3,  4,  4,  5,  5,  6,  7,  7,  8,  8,  9,  9,  6,
          3],
        [60, 60,  0,  1,  1,  2,  3,  3,  4,  4,  5,  6,  6,  7,  7,  8,  8,  5,
          2],
        [60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60,  0,  1,  2,  2,  3,  3,  4,  5,  5,  6,  6,  7,  7,  4,
          1],
        [60, 60, 60, 60, 60,  0,  1,  1,  2,  2,  3,  4,  4,  5,  5,  6,  6,  3,
         60],
        [60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  3,  3,  4,  4,  5,  5,  2,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  2,  2,  3,  3,  4,  4,  1,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  2,  3,  3, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  2, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
          0]])

In [63]:
def pad_attn_bias_unsqueeze(x, padlen):
    xlen = x.size(0)
    if xlen < padlen:
        new_x = x.new_zeros([padlen, padlen], dtype=x.dtype).fill_(float('-inf'))
        new_x[:xlen, :xlen] = x
        new_x[xlen:, :xlen] = 0
        x = new_x
    return x.unsqueeze(0)

In [64]:
attn_bias = torch.zeros([N+1,N+1], dtype=torch.float)
attn_bias[1:, 1:][rel_pos >= rel_pos_max] = float('-inf')

In [65]:
attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)

In [66]:
def pad_rel_pos_unsqueeze(x, padlen):
    x = x + 1
    xlen = x.size(0)
    if xlen < padlen:
        new_x = x.new_zeros([padlen, padlen], dtype=x.dtype)
        new_x[:xlen, :xlen] = x
        x = new_x
    return x.unsqueeze(0)

In [67]:
rel_pos.shape

torch.Size([19, 19])

In [68]:
rel_pos

tensor([[ 0,  1,  2,  3,  3,  4,  5,  5,  6,  6,  7,  8,  8,  9,  9, 10, 10,  7,
          4],
        [60,  0,  1,  2,  2,  3,  4,  4,  5,  5,  6,  7,  7,  8,  8,  9,  9,  6,
          3],
        [60, 60,  0,  1,  1,  2,  3,  3,  4,  4,  5,  6,  6,  7,  7,  8,  8,  5,
          2],
        [60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60,  0,  1,  2,  2,  3,  3,  4,  5,  5,  6,  6,  7,  7,  4,
          1],
        [60, 60, 60, 60, 60,  0,  1,  1,  2,  2,  3,  4,  4,  5,  5,  6,  6,  3,
         60],
        [60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  3,  3,  4,  4,  5,  5,  2,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  2,  2,  3,  3,  4,  4,  1,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  2,  3,  3, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1,  2,  2, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,  1,  1, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0, 60,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,  0,
         60],
        [60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60,
          0]])

# creating attn_bias tensor

In [69]:
attn_bias = torch.zeros([N+1,N+1], dtype=torch.float)
attn_bias[1:, 1:][rel_pos >= rel_pos_max] = float('-inf')
#attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)

In [70]:
attn_bias = pad_attn_bias_unsqueeze(attn_bias, max_node + 1)
rel_pos = pad_rel_pos_unsqueeze(rel_pos, max_node)

In [71]:
attn_bias.shape

torch.Size([1, 31, 31])

In [72]:
rel_pos.shape

torch.Size([1, 30, 30])

# Computing longest path for each node

In [73]:
# Step 6: Define a function to compute the longest path from a node to a leaf
def longest_path_from_node(node_idx, adj_matrix, memo):
    # If this node's longest path is already computed, return the cached result
    if node_idx in memo:
        return memo[node_idx]
    
    # If the node is a leaf node (no outgoing edges)
    if np.sum(adj_matrix[node_idx]) == 0:
        memo[node_idx] = 0  # Longest path from a leaf is 0
        return 0
    
    # Otherwise, recursively calculate the longest path from this node to a leaf
    max_length = 0
    for child_idx in range(len(adj_matrix)):
        if adj_matrix[node_idx][child_idx] == 1:  # There's a connection to this child
            max_length = max(max_length, 1 + longest_path_from_node(child_idx, adj_matrix, memo))
    
    memo[node_idx] = max_length  # Memoize the result
    return memo[node_idx]

memo = {}
longest_paths = {}

for node in node_ids:
    node_idx = node_to_index[node]
    longest_paths[node] = longest_path_from_node(node_idx, adj_matrix, memo) + 1

# Step 8: Display the longest path for each node
print("\nLongest Path from Each Node to a Leaf:")
for node, length in longest_paths.items():
    print(f"Node {node}: Longest path = {length}")

Longest Path from Each Node to a Leaf:
Node 1: Longest path = 11
Node 2: Longest path = 10
Node 3: Longest path = 9
Node 4: Longest path = 1
Node 5: Longest path = 8
Node 6: Longest path = 7
Node 7: Longest path = 1
Node 8: Longest path = 6
Node 9: Longest path = 1
Node 10: Longest path = 5
Node 11: Longest path = 4
Node 12: Longest path = 1
Node 13: Longest path = 3
Node 14: Longest path = 1
Node 15: Longest path = 2
Node 16: Longest path = 1
Node 17: Longest path = 1
Node 18: Longest path = 1
Node 19: Longest path = 1

In [74]:
type(longest_paths)

dict

In [75]:
longest_paths.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [76]:
# Add a new column 'height' based on the matching OPERATOR_ID
df['HEIGHT'] = df['OPERATOR_ID'].map(longest_paths)

In [77]:
df.shape

(19, 16)

In [78]:
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,HEIGHT
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None,11
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None,10
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,NaN,NaN,None,None,None,9
3,2024-12-03-20.44.01.238859,4,TBSCAN,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_INFO,"(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])",None,None,1
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,NaN,NaN,None,None,None,8
5,2024-12-03-20.44.01.238859,6,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None,7
6,2024-12-03-20.44.01.238859,19,TBSCAN,AHNAF.LINK_TYPE.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0,NaN,-1.0,AHNAF.LINK_TYPE,"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",None,None,1
7,2024-12-03-20.44.01.238859,7,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_LINK,None,None,None,1
8,2024-12-03-20.44.01.238859,8,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,NaN,NaN,None,None,None,6
9,2024-12-03-20.44.01.238859,9,TBSCAN,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_NAME,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None,1
10,2024-12-03-20.44.01.238859,10,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,NaN,NaN,None,None,None,5
11,2024-12-03-20.44.01.238859,11,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None,4
12,2024-12-03-20.44.01.238859,18,TBSCAN,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,0.250000,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_TYPE,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None,1
13,2024-12-03-20.44.01.238859,12,TBSCAN,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_COMPANIES,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)",None,None,1
14,2024-12-03-20.44.01.238859,13,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,NaN,NaN,None,None,None,3
15,2024-12-03-20.44.01.238859,14,TBSCAN,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0,NaN,-1.0,AHNAF.TITLE,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)",None,1
16,2024-12-03-20.44.01.238859,15,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,NaN,NaN,None,None,None,2
17,2024-12-03-20.44.01.238859,16,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_KEYWORD,None,None,None,1
18,2024-12-03-20.44.01.238859,17,TBSCAN,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0,NaN,-1.0,AHNAF.KEYWORD,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None,1

# Creating a tensor of heights

In [79]:
heights = df['HEIGHT'].values

In [80]:
heights

array([11, 10,  9,  1,  8,  7,  1,  1,  6,  1,  5,  4,  1,  1,  3,  1,  2,
        1,  1])

In [81]:
torch.LongTensor(heights).size()

torch.Size([19])

In [82]:
heights = pad_1d_unsqueeze(torch.LongTensor(heights), max_node)

In [83]:
heights

tensor([[12, 11, 10,  2,  9,  8,  2,  2,  7,  2,  6,  5,  2,  2,  4,  2,  3,  2,
          2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]])

In [84]:
heights.shape

torch.Size([1, 30])

In [85]:
N

19

In [86]:
heights

tensor([[12, 11, 10,  2,  9,  8,  2,  2,  7,  2,  6,  5,  2,  2,  4,  2,  3,  2,
          2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]])

# Look up the `SORT_SHRHEAP_TOP`

In [87]:
### Step 1: look up the `APPL_ID`, 'ACTIVITY_ID', 'UOW_ID'
# Define the file path and the timestamp value
file_path = f'{base_dir}/success.csv'  # Replace with your CSV file path

# Read the CSV file, selecting only relevant columns
# column_headers = ['QUERYID', 'APPL_ID', 'UOW_ID', 'ACTIVITY_ID', 'EXPLAIN_TIME', 'SORT_SHRHEAP_TOP', 'QUERY']
# df_success = pd.read_csv(file_path, header=None)
df_success = pd.read_csv(file_path, dtype={
    "QUERYID": int,
    "EXPLAIN_TIME": str,
    "SORT_SHRHEAP_TOP": float,
    "QUERY": str
})

#df_success.columns = column_headers

In [88]:
df_success.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   QUERYID           2332 non-null   int64
 1   APPL_ID           2332 non-null   object
 2   UOW_ID            2332 non-null   int64
 3   ACTIVITY_ID       2332 non-null   int64
 4   EXPLAIN_TIME      2332 non-null   object
 5   SORT_SHRHEAP_TOP  2332 non-null   float64
 6   QUERY             2332 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 127.7+ KB

In [89]:
df_success.shape

(2332, 7)

In [90]:
query1_ts

'2024-12-03-20.44.01.238859'

In [91]:
df_success.head(1)

,QUERYID,APPL_ID,UOW_ID,ACTIVITY_ID,EXPLAIN_TIME,SORT_SHRHEAP_TOP,QUERY
0,1,*LOCAL.db2inst1.241204044349,4,1,2024-12-03-20.43.44.200877,66844.0,"SELECT cn.name AS company_name, lt.link AS link_type,t.title AS western_follow_up FROM company_name AS cn, company_type AS ct, keyword AS k, link_type AS lt, movie_companies AS mc, movie_info AS mi, movie_keyword AS mk, movie_link AS ml, title AS t WHERE cn.country_code ='[us]' AND ct.kind ='distributors' AND k.keyword ='number-in-title' AND lt.link LIKE '%referenced in%' AND mc.note IS NULL AND mi.info IN ('Sweden', 'Norway', 'Germany', 'Denmark', 'Swedish', 'Denish', 'Norwegian', 'German', 'USA', 'CANADA', 'Netherlands', 'Brazil', 'UK', 'Belgium', 'Finland', 'Hungary', 'Estonia', 'worldwide', 'Australia', 'Spain', 'France', 'Germany', 'Japan', 'Hungary', 'Sweden', 'Columbia', 'Slovenia', 'Israel', 'Venezuela', 'Finland', 'Nigeria', 'Philippines', 'New Zealand', 'Ireland', 'Romania', 'Non-USA', 'Bulgaria', 'Argentina', 'Malaysia', 'Singapore', 'Turkey', 'Sri Lanka', 'Italy', 'Indonesia', 'South Korea', 'Vietnam', 'Slovakia', 'Czech Republic', 'China', 'Portugal', 'Greece', 'Republic of Macedonia', 'Serbia', 'Jamaica', 'Switzerland', 'Yugoslavia', 'Mexico', 'Austria', 'Russia') AND t.production_year BETWEEN 1950 AND 2020 AND lt.id = ml.link_type_id AND ml.movie_id = t.id AND t.id = mk.movie_id AND mk.keyword_id = k.id AND t.id = mc.movie_id AND mc.company_type_id = ct.id AND mc.company_id = cn.id AND mi.movie_id = t.id AND ml.movie_id = mk.movie_id AND ml.movie_id = mc.movie_id AND mk.movie_id = mc.movie_id AND ml.movie_id = mi.movie_id AND mk.movie_id = mi.movie_id AND mc.movie_id = mi.movie_id;"

In [92]:
df_query1 = df_success[df_success['EXPLAIN_TIME'] == query1_ts]

In [93]:
df_query1

,QUERYID,APPL_ID,UOW_ID,ACTIVITY_ID,EXPLAIN_TIME,SORT_SHRHEAP_TOP,QUERY
9,10,*LOCAL.db2inst1.241204044349,76,1,2024-12-03-20.44.01.238859,58513.0,"SELECT cn.name AS company_name, lt.link AS link_type,t.title AS western_follow_up FROM company_name AS cn, company_type AS ct, keyword AS k, link_type AS lt, movie_companies AS mc, movie_info AS mi, movie_keyword AS mk, movie_link AS ml, title AS t WHERE cn.country_code ='[jp]' AND ct.kind ='production companies' AND k.keyword ='superhero' AND lt.link LIKE '%follows%' AND mc.note IS NULL AND mi.info IN ('Sweden', 'Norway', 'Germany', 'Denmark', 'Swedish', 'Denish', 'Norwegian', 'German', 'USA', 'CANADA', 'Netherlands', 'Brazil', 'UK', 'Belgium', 'Finland', 'Hungary', 'Estonia', 'worldwide', 'Australia', 'Spain', 'France', 'Germany', 'Japan', 'Hungary', 'Sweden', 'Columbia', 'Slovenia', 'Israel', 'Venezuela', 'Finland', 'Nigeria', 'Philippines', 'New Zealand', 'Ireland', 'Romania', 'Non-USA', 'Bulgaria', 'Argentina', 'Malaysia', 'Singapore', 'Turkey', 'Sri Lanka', 'Italy', 'Indonesia', 'South Korea', 'Vietnam', 'Slovakia', 'Czech Republic', 'China', 'Portugal', 'Greece', 'Republic of Macedonia', 'Serbia', 'Jamaica', 'Switzerland', 'Yugoslavia', 'Mexico', 'Austria', 'Russia') AND t.production_year BETWEEN 1950 AND 2020 AND lt.id = ml.link_type_id AND ml.movie_id = t.id AND t.id = mk.movie_id AND mk.keyword_id = k.id AND t.id = mc.movie_id AND mc.company_type_id = ct.id AND mc.company_id = cn.id AND mi.movie_id = t.id AND ml.movie_id = mk.movie_id AND ml.movie_id = mc.movie_id AND mk.movie_id = mc.movie_id AND ml.movie_id = mi.movie_id AND mk.movie_id = mi.movie_id AND mc.movie_id = mi.movie_id;"

In [94]:
df_query1.shape

(1, 7)

## List the final set of dataframes, which I will convert to tensors

In [95]:
df_query1.head()

,QUERYID,APPL_ID,UOW_ID,ACTIVITY_ID,EXPLAIN_TIME,SORT_SHRHEAP_TOP,QUERY
9,10,*LOCAL.db2inst1.241204044349,76,1,2024-12-03-20.44.01.238859,58513.0,"SELECT cn.name AS company_name, lt.link AS link_type,t.title AS western_follow_up FROM company_name AS cn, company_type AS ct, keyword AS k, link_type AS lt, movie_companies AS mc, movie_info AS mi, movie_keyword AS mk, movie_link AS ml, title AS t WHERE cn.country_code ='[jp]' AND ct.kind ='production companies' AND k.keyword ='superhero' AND lt.link LIKE '%follows%' AND mc.note IS NULL AND mi.info IN ('Sweden', 'Norway', 'Germany', 'Denmark', 'Swedish', 'Denish', 'Norwegian', 'German', 'USA', 'CANADA', 'Netherlands', 'Brazil', 'UK', 'Belgium', 'Finland', 'Hungary', 'Estonia', 'worldwide', 'Australia', 'Spain', 'France', 'Germany', 'Japan', 'Hungary', 'Sweden', 'Columbia', 'Slovenia', 'Israel', 'Venezuela', 'Finland', 'Nigeria', 'Philippines', 'New Zealand', 'Ireland', 'Romania', 'Non-USA', 'Bulgaria', 'Argentina', 'Malaysia', 'Singapore', 'Turkey', 'Sri Lanka', 'Italy', 'Indonesia', 'South Korea', 'Vietnam', 'Slovakia', 'Czech Republic', 'China', 'Portugal', 'Greece', 'Republic of Macedonia', 'Serbia', 'Jamaica', 'Switzerland', 'Yugoslavia', 'Mexico', 'Austria', 'Russia') AND t.production_year BETWEEN 1950 AND 2020 AND lt.id = ml.link_type_id AND ml.movie_id = t.id AND t.id = mk.movie_id AND mk.keyword_id = k.id AND t.id = mc.movie_id AND mc.company_type_id = ct.id AND mc.company_id = cn.id AND mi.movie_id = t.id AND ml.movie_id = mk.movie_id AND ml.movie_id = mc.movie_id AND mk.movie_id = mc.movie_id AND ml.movie_id = mi.movie_id AND mk.movie_id = mi.movie_id AND mc.movie_id = mi.movie_id;"

In [96]:
# get the SORT_SHRHEAP_TOP
raw_costs = df_query1['SORT_SHRHEAP_TOP'].values.tolist()
QUERYID = df_query1['QUERYID'].values[0]

print(raw_costs)

[58513.0]

In [97]:
type(raw_costs)

list

In [98]:
type(raw_costs[0])

float

In [99]:
import torch
from model.util import Normalizer

# cost_norm = Normalizer(1, 100)
# cost_norm = Normalizer(-3.61192, 12.290855)
#cost_norm = Normalizer(5, 2611)
cost_norm = Normalizer(8.26, 11.12)
cost_labels = torch.from_numpy(cost_norm.normalize_labels(raw_costs))

In [100]:
cost_labels

tensor([0.9500], dtype=torch.float64)

In [101]:
QUERYID

10

In [102]:
# get the node features
df

,EXPLAIN_TIME,OPERATOR_ID,OPERATOR_TYPE,PREDICATE1,PREDICATE2,PREDICATE3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,SOURCE_ID,TABLE,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,HEIGHT
0,2024-12-03-20.44.01.238859,1,RETURN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None,11
1,2024-12-03-20.44.01.238859,2,TQ,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,NaN,NaN,None,None,None,10
2,2024-12-03-20.44.01.238859,3,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID,NaN,NaN,None,None,None,9
3,2024-12-03-20.44.01.238859,4,TBSCAN,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')",None,None,0.029517,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_INFO,"(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])",None,None,1
4,2024-12-03-20.44.01.238859,5,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,NaN,NaN,None,None,None,8
5,2024-12-03-20.44.01.238859,6,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None,7
6,2024-12-03-20.44.01.238859,19,TBSCAN,AHNAF.LINK_TYPE.LINK LIKE '%follows%',None,None,0.083333,1.000000,1.0,NaN,-1.0,AHNAF.LINK_TYPE,"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",None,None,1
7,2024-12-03-20.44.01.238859,7,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_LINK,None,None,None,1
8,2024-12-03-20.44.01.238859,8,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID,NaN,NaN,None,None,None,6
9,2024-12-03-20.44.01.238859,9,TBSCAN,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,0.024702,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_NAME,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None,1
10,2024-12-03-20.44.01.238859,10,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,NaN,NaN,None,None,None,5
11,2024-12-03-20.44.01.238859,11,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,NaN,NaN,None,None,None,4
12,2024-12-03-20.44.01.238859,18,TBSCAN,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,0.250000,1.000000,1.0,NaN,-1.0,AHNAF.COMPANY_TYPE,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None,1
13,2024-12-03-20.44.01.238859,12,TBSCAN,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,None,None,0.487515,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_COMPANIES,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)",None,None,1
14,2024-12-03-20.44.01.238859,13,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,NaN,NaN,None,None,None,3
15,2024-12-03-20.44.01.238859,14,TBSCAN,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,None,0.971485,0.894801,1.0,NaN,-1.0,AHNAF.TITLE,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)","(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)",None,1
16,2024-12-03-20.44.01.238859,15,HSJOIN,NaN,NaN,NaN,1.000000,1.000000,1.0,AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID,NaN,NaN,None,None,None,2
17,2024-12-03-20.44.01.238859,16,TBSCAN,NaN,NaN,NaN,1.000000,1.000000,1.0,NaN,-1.0,AHNAF.MOVIE_KEYWORD,None,None,None,1
18,2024-12-03-20.44.01.238859,17,TBSCAN,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,0.000007,1.000000,1.0,NaN,-1.0,AHNAF.KEYWORD,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None,1

In [103]:
df.shape

(19, 16)

In [104]:
df.columns

Index(['EXPLAIN_TIME', 'OPERATOR_ID', 'OPERATOR_TYPE', 'PREDICATE1',
       'PREDICATE2', 'PREDICATE3', 'FILTER_FACTOR1', 'FILTER_FACTOR2',
       'FILTER_FACTOR3', 'JOIN_KEY', 'SOURCE_ID', 'TABLE', 'PARSED_PRED1',
       'PARSED_PRED2', 'PARSED_PRED3', 'HEIGHT'],
      dtype='object')

In [105]:
df_node_feat = df[['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2', 'PREDICATE3', 'PARSED_PRED1', 'PARSED_PRED2', 'PARSED_PRED3', 'FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3', 'JOIN_KEY', 'HEIGHT']]

In [106]:
df_node_feat.sample(3)

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,HEIGHT
5,6,HSJOIN,NaN,NaN,NaN,NaN,None,None,None,1.000000,1.0,1.0,AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID,7
10,10,HSJOIN,NaN,NaN,NaN,NaN,None,None,None,1.000000,1.0,1.0,AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID,5
9,9,TBSCAN,AHNAF.COMPANY_NAME,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None,0.024702,1.0,1.0,NaN,1

In [107]:
# Generate the bitmap indicating NaN (0) or non-NaN (1) in PREDICATE1, PREDICATE2, and PREDICATE3
bitmap = df_node_feat[['PREDICATE1', 'PREDICATE2', 'PREDICATE3']].notna().astype(int).values.tolist()

# Display the bitmap
print(bitmap)

df_node_feat['PREDICATE_MASK'] = bitmap

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [1, 0, 0], [0, 0, 0], [0, 0, 0], [1, 0, 0], [0, 0, 0], [0, 0, 0], [1, 0, 0], [0, 0, 0], [0, 0, 0], [1, 0, 0], [1, 0, 0], [0, 0, 0], [1, 1, 0], [0, 0, 0], [0, 0, 0], [1, 0, 0]]

In [108]:
df_node_feat.sample(5)

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,HEIGHT,PREDICATE_MASK
0,1,RETURN,NaN,NaN,NaN,NaN,None,None,None,1.000000,1.0,1.0,NaN,11,"[0, 0, 0]"
12,18,TBSCAN,AHNAF.COMPANY_TYPE,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None,0.250000,1.0,1.0,NaN,1,"[1, 0, 0]"
9,9,TBSCAN,AHNAF.COMPANY_NAME,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None,0.024702,1.0,1.0,NaN,1,"[1, 0, 0]"
18,17,TBSCAN,AHNAF.KEYWORD,AHNAF.KEYWORD.KEYWORD = 'superhero',None,None,"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",None,None,0.000007,1.0,1.0,NaN,1,"[1, 0, 0]"
4,5,HSJOIN,NaN,NaN,NaN,NaN,None,None,None,1.000000,1.0,1.0,AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID,8,"[0, 0, 0]"

In [109]:
df_node_feat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OPERATOR_ID     19 non-null     int64
 1   OPERATOR_TYPE   19 non-null     object
 2   TABLE           9 non-null      object
 3   PREDICATE1      7 non-null      object
 4   PREDICATE2      1 non-null      object
 5   PREDICATE3      0 non-null      object
 6   PARSED_PRED1    7 non-null      object
 7   PARSED_PRED2    1 non-null      object
 8   PARSED_PRED3    0 non-null      object
 9   FILTER_FACTOR1  19 non-null     float64
 10  FILTER_FACTOR2  19 non-null     float64
 11  FILTER_FACTOR3  19 non-null     float64
 12  JOIN_KEY        8 non-null      object
 13  HEIGHT          19 non-null     int64
 14  PREDICATE_MASK  19 non-null     object
dtypes: float64(3), int64(2), object(10)
memory usage: 2.4+ KB

In [110]:
df_node_feat.sample(3)

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,HEIGHT,PREDICATE_MASK
14,13,HSJOIN,NaN,NaN,NaN,NaN,None,None,None,1.000000,1.0,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,3,"[0, 0, 0]"
9,9,TBSCAN,AHNAF.COMPANY_NAME,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',None,None,"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",None,None,0.024702,1.0,1.0,NaN,1,"[1, 0, 0]"
12,18,TBSCAN,AHNAF.COMPANY_TYPE,AHNAF.COMPANY_TYPE.KIND = 'production companies',None,None,"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')",None,None,0.250000,1.0,1.0,NaN,1,"[1, 0, 0]"

In [111]:
# Function to collect predicate and parsed predicate pairs
def gather_predicate_info(row):
    gathered_data = []
    for i in range(1, 4):  # Loop through PREDICATE1, PREDICATE2, PREDICATE3
        predicate_col = f"PREDICATE{i}"
        parsed_col = f"PARSED_PRED{i}"
        if pd.notna(row[predicate_col]):  # Only include non-None values
            gathered_data.append({'PREDICATE': row[predicate_col], 'PARSED_PRED': row[parsed_col]})
    return gathered_data

# Apply the function to collect all predicates and parsed predicates
all_predicates = []
df_node_feat.apply(lambda row: all_predicates.extend(gather_predicate_info(row)), axis=1)

# Create a new DataFrame from the collected data
df_predicate_pairs = pd.DataFrame(all_predicates)

# Display the new DataFrame
#print(df_predicate_pairs)

In [112]:
df_predicate_pairs

,PREDICATE,PARSED_PRED
0,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')","(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])"
1,AHNAF.LINK_TYPE.LINK LIKE '%follows%',"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')"
2,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')"
3,AHNAF.COMPANY_TYPE.KIND = 'production companies',"(AHNAF.COMPANY_TYPE.KIND, =, 'production companies')"
4,AHNAF.MOVIE_COMPANIES.NOTE IS NULL,"(AHNAF.MOVIE_COMPANIES.NOTE, IS, NULL)"
5,AHNAF.TITLE.PRODUCTION_YEAR <= 2020,"(AHNAF.TITLE.PRODUCTION_YEAR, <=, 2020)"
6,AHNAF.TITLE.PRODUCTION_YEAR >= 1950,"(AHNAF.TITLE.PRODUCTION_YEAR, >=, 1950)"
7,AHNAF.KEYWORD.KEYWORD = 'superhero',"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')"

In [113]:
# Function to transform PARSED_PRED into a sentence
def construct_sentence(parsed_pred):
    if not isinstance(parsed_pred, tuple) or len(parsed_pred) != 3:
        return None  # Skip invalid entries

    col, op, val = parsed_pred
    # Convert list values in 'val' to a string representation
    if isinstance(val, list):
        val = ", ".join(map(str, val))

    # Construct the sentence
    return f"'col: {col} [SEP] op: {op} [SEP] val: {val}'"

# Apply the transformation to the DataFrame
df_predicate_pairs['SENTENCE'] = df_predicate_pairs['PARSED_PRED'].apply(construct_sentence)

In [114]:
df_predicate_pairs.sample(3)

,PREDICATE,PARSED_PRED,SENTENCE
2,AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]',"(AHNAF.COMPANY_NAME.COUNTRY_CODE, =, '[jp]')",'col: AHNAF.COMPANY_NAME.COUNTRY_CODE [SEP] op: = [SEP] val: '[jp]''
1,AHNAF.LINK_TYPE.LINK LIKE '%follows%',"(AHNAF.LINK_TYPE.LINK, LIKE, '%follows%')",'col: AHNAF.LINK_TYPE.LINK [SEP] op: LIKE [SEP] val: '%follows%''
7,AHNAF.KEYWORD.KEYWORD = 'superhero',"(AHNAF.KEYWORD.KEYWORD, =, 'superhero')",'col: AHNAF.KEYWORD.KEYWORD [SEP] op: = [SEP] val: 'superhero''

In [115]:
from sentence_transformers import SentenceTransformer

# Load the pre-trained embedding model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Generate embeddings for each sentence
df_predicate_pairs['EMBEDDING'] = df_predicate_pairs['SENTENCE'].apply(lambda sentence: model.encode(sentence))

2025-01-07 18:29:37.103485: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [116]:
df_predicate_pairs.head(1)

,PREDICATE,PARSED_PRED,SENTENCE,EMBEDDING
0,"AHNAF.MOVIE_INFO.INFO IN ('Sweden ', 'Norway ', 'Germany ', 'Denmark ', 'Swedish ', 'Denish ', 'Norwegian ', 'German ', 'USA ', 'CANADA ', 'Netherlands ', 'Brazil ', 'UK ', 'Belgium ', 'Finland ', 'Hungary ', 'Estonia ', 'worldwide ', 'Australia ', 'Spain ', 'France ', 'Japan ', 'Columbia ', 'Slovenia ', 'Israel ', 'Venezuela ', 'Nigeria ', 'Philippines ', 'New Zealand ', 'Ireland ', 'Romania ', 'Non-USA ', 'Bulgaria ', 'Argentina ', 'Malaysia ', 'Singapore ', 'Turkey ', 'Sri Lanka ', 'Italy ', 'Indonesia ', 'South Korea ', 'Vietnam ', 'Slovakia ', 'Czech Republic ', 'China ', 'Portugal ', 'Greece ', 'Republic of Macedonia', 'Serbia ', 'Jamaica ', 'Switzerland ', 'Yugoslavia ', 'Mexico ', 'Austria ', 'Russia ')","(AHNAF.MOVIE_INFO.INFO, IN, [Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia])","'col: AHNAF.MOVIE_INFO.INFO [SEP] op: IN [SEP] val: Sweden, Norway, Germany, Denmark, Swedish, Denish, Norwegian, German, USA, CANADA, Netherlands, Brazil, UK, Belgium, Finland, Hungary, Estonia, worldwide, Australia, Spain, France, Japan, Columbia, Slovenia, Israel, Venezuela, Nigeria, Philippines, New Zealand, Ireland, Romania, Non-USA, Bulgaria, Argentina, Malaysia, Singapore, Turkey, Sri Lanka, Italy, Indonesia, South Korea, Vietnam, Slovakia, Czech Republic, China, Portugal, Greece, Republic of Macedonia, Serbia, Jamaica, Switzerland, Yugoslavia, Mexico, Austria, Russia'","[0.0013051259, 0.01390308, -0.15022178, -0.04022137, 0.014927813, 0.019273622, -0.004296431, -0.029138565, 0.024275826, -0.027220987, 0.052932236, -0.035772923, 0.017127478, 0.06413056, -0.10257447, -0.054812163, -0.01584304, 0.02342822, -0.00075711793, -0.038751286, -0.034652725, 0.018303558, 0.081806526, 0.036038738, 0.054716084, -0.030117575, 0.0632168, 0.019856347, -0.04327227, -0.077914156, 0.0034970422, 0.03455585, -0.039521392, -0.002988534, 0.029415105, 0.008228485, -0.07196365, -0.05202048, -0.14010213, 0.019418249, 0.0051503642, -0.041509032, 0.04295384, 0.026789637, 0.08137868, -0.023035113, -0.033882502, -0.06630058, 0.05297076, 0.017825892, -0.08627354, 0.010711092, -0.03906606, -0.011549604, 0.0041380622, -0.03863845, 0.0749612, -0.04092702, 0.009877817, -0.022378935, -0.02488432, -0.0075904382, 0.035363127, 0.0038767548, 0.004661521, 0.0042444225, -0.0013261894, -0.028766463, -0.12508853, -0.04720793, -0.027496427, -0.023173368, -0.024765609, -0.03452944, 0.013580754, -0.021035306, 0.018876484, -0.003618749, 0.07107111, -0.0042440416, 0.098549195, -0.09517976, -0.065362476, -0.028853985, 0.041683476, -0.019839354, 0.04743606, -0.04983741, 0.04683033, 0.035424177, -0.09295083, 0.012213284, 0.041074853, 0.04425942, -0.015838023, -0.014565695, 0.051665775, 0.13402733, -0.03248349, 0.03985524, ...]"

In [117]:
# Create the dictionary
predicate_embedding_dict = dict(zip(df_predicate_pairs['PREDICATE'], df_predicate_pairs['EMBEDDING']))

# Display the dictionary
for predicate, embedding in predicate_embedding_dict.items():
    print(f"Predicate: {predicate}")
    print(f"Embedding: {embedding}")
    print()

Predicate: AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
Embedding: [ 1.30512589e-03  1.39030796e-02 -1.50221780e-01 -4.02213708e-02
  1.49278129e-02  1.92736220e-02 -4.29643085e-03 -2.91385651e-02
  2.42758263e-02 -2.72209868e-02  5.29322363e-02 -3.57729234e-02
  1.71274785e-02  6.41305596e-02 -1.02574468e-01 -5.48121631e-02
 -1.58430394e-02  2.34282203e-02 -7.57117930e-04 -3.87512855e-02
 -3.46527249e-02  1.83035582e-02  8.18065256e-02  3.60387377e-02
  5.47160842e-02 -3.01175751e-02  6.32167980e-02  1.98563468e-02
 -4.32722718e-02 -7.79141560e-02  3.49704223e-03  3.45558487e-02
 -3.95213924e-02 -2.98853405e-03  2.94151045e-02  8.22848454e-03
 -7.19636530e-02 -5.20204790e-02 -1.40102133e-01  1.94182489e-02
  5.15036425e-03 -4.15090322e-02  4.29538414e-02  2.67896373e-02
  8.13786834e-02 -2.30351128e-02 -3.38825025e-02 -6.63005784e-02
  5.29707596e-02  1.78258922e-02 -8.62735435e-02  1.07110916e-02
 -3.90660614e-02 -1.15496041e-02  4.13806224e-03 -3.86384502e-02
  7.49612004e-02 -4.09270190e-02  9.87781677e-03 -2.23789345e-02
 -2.48843208e-02 -7.59043824e-03  3.53631265e-02  3.87675478e-03
  4.66152094e-03  4.24442254e-03 -1.32618938e-03 -2.87664626e-02
 -1.25088528e-01 -4.72079292e-02 -2.74964273e-02 -2.31733676e-02
 -2.47656088e-02 -3.45294401e-02  1.35807544e-02 -2.10353062e-02
  1.88764837e-02 -3.61874909e-03  7.10711107e-02 -4.24404163e-03
  9.85491946e-02 -9.51797590e-02 -6.53624758e-02 -2.88539845e-02
  4.16834764e-02 -1.98393539e-02  4.74360585e-02 -4.98374104e-02
  4.68303300e-02  3.54241766e-02 -9.29508284e-02  1.22132841e-02
  4.10748534e-02  4.42594215e-02 -1.58380233e-02 -1.45656951e-02
  5.16657755e-02  1.34027332e-01 -3.24834883e-02  3.98552418e-02
  3.71589772e-02 -4.13427241e-02 -2.28134859e-02  1.07969875e-02
 -2.92257946e-02  7.20457407e-03  1.03629909e-01 -7.34881265e-04
  3.45322466e-03 -2.54339129e-02 -2.53830422e-02  6.27545826e-03
  1.61611587e-02 -7.38095045e-02  2.26087030e-02 -3.49124409e-02
  7.02195987e-02 -2.43504830e-02  1.15793915e-02 -2.69355699e-02
 -5.29226335e-03 -1.71892578e-03 -1.65608693e-02 -8.13312456e-03
  2.64269207e-02 -6.93509215e-03 -1.26023432e-02 -5.48197595e-33
 -9.45990346e-03 -6.59719929e-02  3.99785340e-02  1.63629465e-02
  3.87343607e-04 -6.10264465e-02 -4.27784026e-02 -5.86753897e-02
 -8.66193175e-02 -4.12482321e-02 -6.09464124e-02 -2.38995142e-02
 -7.39794374e-02 -1.62854884e-02 -3.32641788e-02  4.85914759e-02
  3.76165807e-02 -1.61071157e-03 -6.35568947e-02  7.54637346e-02
  1.12023810e-02  3.76311243e-02 -3.94114554e-02 -8.23038537e-03
 -6.73290342e-02  3.27231735e-02 -5.39593138e-02 -2.11879406e-02
  9.08627585e-02  3.26480754e-02 -8.19848999e-02  6.22646324e-03
 -3.58842239e-02  3.96867190e-03  7.22826505e-03 -1.39247542e-02
 -7.46605769e-02  2.06396598e-02 -1.30445976e-02  4.26259190e-02
  9.10941919e-04  1.18858879e-02 -8.16004723e-02  2.79739145e-02
 -4.67417352e-02 -6.02176785e-03 -1.09466501e-02  4.10789251e-02
 -3.73035707e-02  7.24739134e-02 -4.86521684e-02  1.07914126e-02
 -2.37741601e-02 -3.51111516e-02  1.29840635e-02  4.72583398e-02
  7.11757317e-03  3.29474956e-02  5.92357367e-02 -4.14699689e-03
 -3.58459316e-02 -1.10218162e-03 -2.83813360e-03  6.26659319e-02
  4.59443731e-03 -4.01565768e-02  1.30637847e-02  1.09845437e-02
  1.84800215e-02  2.59313472e-02  9.87290777e-03  3.48565765e-02
  5.71041517e-02 -7.44748255e-03 -8.03598575e-03 -3.78447678e-03
  5.13876453e-02  3.14906463e-02 -5.50884269e-02 -4.09876555e-02
 -9.89653766e-02 -2.45997291e-02  3.94429974e-02  5.02143800e-02
 -2.20732950e-02 -6.40075235e-03  7.88109284e-03 -1.00663692e-01
 -2.12522130e-02 -3.75730335e-03 -1.24098435e-01  2.54737213e-02
  3.11536007e-02 -6.75856322e-02  1.28999231e-02  7.60669649e-34
  1.48983493e-01 -1.60532072e-02 -6.23548776e-03 -5.82554713e-02
  8.91773999e-02 -2.74066031e-02  5.12876641e-03  1.14542983e-01
  2.18672138e-02 -5.32409351e-04  3.19847316e-02 -8.46287012e-02
  5.98180145e-02 -4.91884723e-02  1.66073684e-02 -1.76831167e-02
  7.71768168e-02  2.90445574e-02 -1.14654796e-02  3.43369953e-02
  2.28970665e-02 -6.19320013e-02  1.18938601e-03  6.71231896e-02
 -2.31074002e-02 -3.86626385e-02  4.96047549e-02 -1.42252753e-02
 -1.70969978e-01 -8.31181183e-02 -3.24274898e-02 -4.81394045e-02
  3.55430762e-03  7.43862316e-02 -8.26473162e-02  9.74191055e-02
  9.33554098e-02 -2.76488774e-02 -9.59961265e-02  1.72209609e-02
 -3.97881269e-02 -5.03549837e-02 -1.68079317e-01  1.51395679e-01
 -6.28535375e-02  3.39866355e-02  3.81200109e-03  6.89720735e-02
  2.26921123e-02 -1.05080932e-01  2.09992304e-02 -5.34857577e-03
 -5.04253469e-02  4.82073566e-03 -4.91679907e-02 -1.89593118e-02
  1.53535940e-02 -5.90364411e-02  4.58844937e-02  2.50978470e-02
  1.72264334e-02 -2.38657743e-02 -1.08319618e-01 -7.25046694e-02
  9.37982113e-04  2.99474355e-02 -2.40525194e-02 -2.64953952e-02
 -1.77082829e-02  1.60123338e-03  7.06348941e-02 -6.66295215e-02
 -4.96192314e-02  2.64203958e-02  7.74679380e-03  1.47943879e-02
  2.66485047e-02  3.61407064e-02  1.10809430e-01 -5.35237193e-02
 -1.31704127e-02 -1.15765817e-01 -3.09269987e-02  1.09657034e-01
  2.63505485e-02  2.80186441e-02  1.04824007e-02 -1.55879697e-03
  2.15688478e-02  7.31582567e-02 -3.67299654e-02  9.01681036e-02
  2.43510194e-02 -5.81468865e-02 -1.51110049e-02 -5.32322417e-08
 -5.73848002e-03  5.67117110e-02 -9.23765004e-02 -2.50860825e-02
 -8.17123204e-02 -2.97238454e-02  1.80566795e-02  2.67630722e-02
  2.49640718e-02  1.42719880e-01 -8.12120438e-02  2.68557086e-03
  8.61716177e-03 -6.00547418e-02  2.65328139e-02  5.78337945e-02
  5.36839068e-02  2.04911277e-01 -1.04598934e-02  6.55978024e-02
 -1.29613243e-02  4.96035293e-02  6.80918992e-02 -5.74868247e-02
 -4.69256900e-02 -9.05708969e-03 -4.36919928e-02 -4.04421687e-02
  7.46266693e-02 -2.40013245e-02  1.72768626e-02 -1.82432421e-02
 -1.42888131e-03 -5.81913814e-02 -2.90284306e-02  2.00949181e-02
  9.53261480e-02 -4.60625701e-02 -8.36882554e-03 -2.86855195e-02
 -1.58584386e-03  4.05740254e-02 -3.10477689e-02 -1.56282578e-02
 -2.98801679e-02  7.20473900e-02  2.87164957e-03 -1.89365819e-02
  4.61912993e-03  2.67891865e-02  3.50572430e-02  4.07555401e-02
 -4.91535738e-02  2.67182235e-02  1.80737954e-02  1.32606206e-02
  8.64765942e-02 -1.05980504e-02  1.73615068e-02 -5.36291441e-03
  1.02904238e-01  8.13207123e-03  1.45868640e-02  4.79786545e-02]

Predicate: AHNAF.LINK_TYPE.LINK LIKE '%follows%'
Embedding: [-5.87339234e-03  1.21884309e-02 -3.29663977e-02  8.31698477e-02
  1.58729292e-02  4.39831503e-02  5.56083322e-02 -2.24809460e-02
 -7.24640936e-02 -3.82723585e-02  4.25073244e-02 -6.70147873e-03
  2.79219355e-02  4.41204058e-03 -3.00822482e-02  9.60784629e-02
 -1.29191559e-02  3.38540673e-02 -1.74814258e-02 -4.43470776e-02
 -5.07490225e-02  6.56649694e-02  5.82870170e-02  5.59492260e-02
 -5.09028416e-03 -3.16939689e-02 -7.00775953e-03  4.27050553e-02
  3.12724151e-02 -4.88313176e-02  2.05396917e-02  3.65886018e-02
 -9.97212604e-02 -2.73390785e-02  3.60307321e-02 -3.73637257e-03
 -8.27293620e-02 -4.58470844e-02  5.43688945e-02  5.93812093e-02
  5.94513603e-02 -8.82547125e-02 -3.78669216e-03  2.78545823e-02
 -1.34018296e-02 -3.72094475e-02 -2.96366983e-03 -5.13481610e-02
  2.90792882e-02  3.33346389e-02 -9.33438018e-02 -9.84874927e-03
 -2.36418396e-02 -5.08640371e-02  1.99648496e-02 -1.06943501e-02
 -5.08727841e-02  8.62844661e-03  3.72740062e-04  6.94945361e-03
 -2.78616324e-03 -3.84298973e-02  1.55439544e-02 -9.14196968e-02
 -3.24767120e-02 -6.46216795e-03 -5.07067218e-02  1.60998777e-02
 -3.74800563e-02 -9.34865046e-03  4.37974557e-02 -5.23256212e-02
 -3.31254527e-02  3.35573852e-02 -5.41908713e-03  4.01357003e-02
  5.67567907e-02 -3.44137363e-02  2.27562934e-02  5.02445884e-02
 -6.23400509e-02 -7.19006807e-02 -3.61720473e-02 -1.26030296e-02
  7.00684041e-02 -2.47460492e-02  1.34278939e-03 -1.12762354e-01
  2.05836520e-02 -2.02445090e-02 -9.66250617e-03  9.45499353e-03
  1.19312238e-02 -1.10461839e-01  4.44669686e-02  8.53046030e-02
  2.06171181e-02  3.46866399e-02  1.67900566e-02  4.27379226e-03
 -1.95061080e-02  4.80981693e-02  3.63427363e-02  2.07363721e-02
 -1.15871998e-02 -2.59841414e-04  9.29929540e-02  4.74053808e-02
  1.66856386e-02 -3.65796722e-02 -5.65149337e-02 -5.25073968e-02
 -4.09411825e-02 -8.95395726e-02 -2.52651866e-03 -5.80127612e-02
  7.58170858e-02 -2.70028375e-02  5.49907126e-02 -9.72130615e-03
  6.48727939e-02  1.05549302e-02  1.51904505e-02  3.03631257e-02
 -5.87886050e-02 -2.58498490e-02  9.48807504e-03 -2.23211647e-33
  6.53508157e-02  5.24352603e-02 -3.21051776e-02 -6.63063005e-02
 -1.12662802e-03 -1.05921244e-02 -5.85749373e-02 -1.92978363e-02
 -2.88948957e-02 -4.42314930e-02 -8.09116736e-02 -2.92482320e-02
 -5.55463769e-02 -1.01105589e-02 -8.30873325e-02 -6.06661104e-02
  7.29831085e-02 -6.10217303e-02 -1.46140054e-01 -3.47103700e-02
  3.27300951e-02  7.12762028e-02 -1.82047728e-02  3.74006256e-02
 -5.34102041e-03 -4.93781082e-02  1.29164131e-02 -4.02214751e-02
  2.10291855e-02  2.24323850e-02 -2.54569445e-02 -4.57741544e-02
 -1.84851568e-02  4.86446396e-02  8.16263538e-03  8.19769278e-02
 -2.49499008e-02  6.02501333e-02  5.19621698e-03 -6.86545391e-03
  5.72735164e-03  1.93979368e-02  5.44214770e-02  9.14936478e-04
 -3.35497297e-02 -2.69339159e-02  5.48408665e-02  1.16651446e-01
 -9.02842730e-02 -1.80841032e-02  1.19995624e-02 -2.62723453e-02
  1.94144491e-02  8.56782496e-02  2.80103181e-02 -3.01436596e-02
 -7.01444373e-02  9.83070135e-02  6.73780814e-02  2.41775289e-02
  1.47356391e-02 -8.28032009e-03  5.76857664e-03 -2.89791147e-03
 -9.89331678e-02 -1.81136169e-02  3.15151550e-02 -3.19308543e-04
  7.47307315e-02  2.71720812e-02  5.72035313e-02  7.52713829e-02
 -3.83976176e-02  1.77273564e-02 -5.93969412e-02 -6.64501786e-02
 -1.08716421e-01 -6.23380281e-02 -6.91740599e-04 -3.36147845e-03
 -7.08686262e-02 -7.52794445e-02 -2.46270206e-02  8.85691792e-02
  3.96686569e-02 -5.33349030e-02  5.62357865e-02 -6.06430992e-02
 -5.75834662e-02 -1.57011911e-01  1.77485943e-02  2.71938853e-02
  2.20177863e-02 -6.30316064e-02  6.21817186e-02  9.49486276e-34
  1.81432441e-01  3.39251123e-02  5.92574105e-02 -1.17014423e-02
 -1.08293965e-02 -2.03552842e-02  9.94478315e-02 -5.77200055e-02
  1.52873229e-02  4.82623242e-02  3.23161557e-02 -1.12641780e-02
 -1.80253275e-02 -1.22370444e-01  8.54541287e-02 -3.09880935e-02
 -2.83910567e-03  5.82342744e-02 -2.34835427e-02  7.27602094e-03
 -3.82847898e-02 -4.46126657e-03 -1.21270381e-02  6.32100329e-02
  6.79133758e-02 -6.61746785e-02  1.25599265e-01 -1.83965415e-02
 -6.97090179e-02 -2.79092025e-02 -9.60099418e-03  5.88805266e-02
 -2.78746746e-02  5.94276749e-02 -4.70510544e-03  9.98308286e-02
  2.62808669e-02 -1.46675240e-02 -1.07818656e-02  4.29786276e-03
  7.10778460e-02 -1.69738457e-02 -3.17118242e-02  9.01612341e-02
  8.61751754e-03  7.33215883e-02  1.21325450e-02  5.66266030e-02
  3.15330103e-02 -5.37314899e-02  8.19767788e-02 -5.02736084e-02
 -2.25386396e-02  1.93633307e-02 -3.94263975e-02 -4.50949930e-02
  5.69970673e-03  3.75274345e-02 -1.43022239e-01 -1.99380945e-02
  3.36364992e-02  3.19296122e-02 -2.02084538e-02 -1.40683092e-02
  2.33360957e-02 -1.13634117e-01 -3.16390917e-02 -3.95393223e-02
 -2.32335441e-02 -8.23053122e-02  4.97875214e-02 -4.01093364e-02
  4.23846915e-02  1.58823077e-02  3.90875386e-03 -4.00610939e-02
  2.76988763e-02  7.40385950e-02  7.81239793e-02 -2.51148436e-02
 -2.10634409e-03 -3.54646295e-02  3.17262411e-02 -3.03808250e-03
 -4.12750840e-02 -1.65073425e-02 -1.16670923e-02  9.30233374e-02
 -9.69472453e-02 -1.80992465e-02  5.97194396e-02 -1.87235028e-02
 -4.71746502e-03  8.36857930e-02 -3.83278131e-02 -2.14142588e-08
 -4.97542620e-02  1.20621864e-02 -3.81194837e-02  2.59149391e-02
  1.83833633e-02  1.03538096e-01 -1.04839709e-02  1.22528682e-02
  2.89356690e-02  8.13845992e-02 -2.19339672e-02  5.79954460e-02
 -4.80394885e-02 -5.49162067e-02  3.39909783e-03 -2.17602123e-02
 -2.50626784e-02  8.87591168e-02  1.02839237e-02  7.36527815e-02
 -4.59879898e-02  1.71360876e-02 -6.19414002e-02 -8.61135125e-03
  1.42294439e-02 -1.58767980e-02 -1.12026818e-01  4.19711657e-02
  4.60678078e-02  5.64875901e-02  1.39907271e-01 -4.19629775e-02
 -2.91213635e-02 -5.69348335e-02 -7.95122832e-02  5.66890053e-02
  1.28838375e-01 -2.54880618e-02 -6.57680724e-03  5.32410555e-02
  4.20641005e-02 -3.68396938e-03 -1.78430453e-02 -4.78601195e-02
 -7.21532330e-02 -3.79786594e-03  1.94680095e-02 -3.39383408e-02
  2.89670825e-02  1.50676733e-02  3.82042415e-02 -1.43158827e-02
  1.98860168e-02 -5.62228896e-02 -2.83795949e-02 -1.27555048e-02
  9.62697566e-02  3.33916210e-02 -3.02759577e-02 -3.90979089e-02
  9.21662822e-02  4.50912155e-02  3.52992341e-02  6.13899715e-02]

Predicate: AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]'
Embedding: [ 2.09860913e-02  7.50713274e-02 -8.89583901e-02  3.50936912e-02
  4.70369402e-03  3.02449963e-03  8.30196440e-02  2.20659655e-03
 -4.05618139e-02 -1.00946568e-01  6.08931109e-02 -6.03396632e-02
 -5.61157130e-02 -6.15450740e-02 -1.21514900e-02  3.15613262e-02
 -8.45968500e-02  3.20020691e-02  1.29048210e-02 -1.21139966e-01
  6.47688983e-04  3.00276019e-02  1.10111991e-02  3.07840351e-02
  4.30445261e-02  1.75228603e-02  2.84346677e-02  8.42326283e-02
 -3.00252009e-02 -9.91059002e-03 -3.68827581e-02  4.23915237e-02
  6.50702417e-02  1.40370307e-02  1.11678533e-01  6.07248023e-03
 -7.89649561e-02 -3.94893773e-02  5.60186729e-02  4.00074273e-02
  3.29280272e-02 -1.06240064e-01  5.79091273e-02 -2.58872174e-02
  2.32062880e-02 -4.92900610e-02  5.76658882e-02  2.18916330e-02
  7.16798082e-02 -1.52666047e-02 -3.65471244e-02  3.57441441e-03
 -2.48922985e-02 -3.71536985e-02 -8.03535897e-03 -2.27272213e-02
 -2.46214122e-02  2.46417020e-02 -4.90946025e-02 -2.93520354e-02
 -5.50632291e-02 -4.19482701e-02  5.16655259e-02  1.18734827e-02
 -5.04744127e-02 -6.24953099e-02 -7.23525360e-02  2.20773797e-02
 -8.42842683e-02 -4.46331464e-02  5.73736541e-02 -3.80940288e-02
 -9.76407230e-02 -1.10513447e-02 -3.02870087e-02 -3.51860933e-03
  1.42494915e-02 -1.44792898e-02  1.32434502e-01  7.94463083e-02
 -3.70855927e-02 -5.33027090e-02 -3.31448056e-02  2.70760562e-02
  1.39869619e-02 -3.32714133e-02  2.02053320e-02 -3.30545269e-02
  7.46168643e-02 -1.47425467e-02  1.02095294e-03 -1.50903938e-02
  4.90465425e-02  5.61866118e-03 -3.79325114e-02  4.04227898e-02
  7.73650184e-02 -5.88769652e-03 -3.81953977e-02  4.24672551e-02
 -9.29073151e-03 -7.46904081e-03 -2.85533555e-02  1.31490501e-02
 -8.29173774e-02  3.43094915e-02  8.09356719e-02 -2.11949758e-02
  4.56076711e-02  4.17953096e-02 -5.80820441e-02  6.07113726e-02
 -6.41498268e-02 -8.29465017e-02 -2.23697275e-02 -5.74677587e-02
  4.62385193e-02  2.77441647e-03  4.61923257e-02 -3.91680747e-03
  5.04316725e-02 -1.39480550e-02 -9.13746729e-02 -5.47793545e-02
 -6.70664087e-02 -2.23372299e-02  1.17942085e-02 -2.39146391e-33
  2.81507913e-02  3.98485884e-02  5.19959554e-02  9.62739810e-03
 -6.93168938e-02 -1.07094711e-02 -1.23773543e-02 -2.14143749e-02
 -4.79522981e-02  3.64441350e-02 -7.50597492e-02  2.35553868e-02
  2.87778443e-03 -8.28429088e-02 -1.03466496e-01  4.14395668e-02
  5.77775948e-02 -6.59036413e-02 -7.21035711e-03  8.44007656e-02
  4.18389924e-02  3.04769748e-03 -2.93008555e-02  6.24984466e-02
  1.23865847e-02 -2.97063161e-02 -3.13519314e-02 -4.38041911e-02
  3.21143307e-02  6.67405501e-02 -3.15912068e-02 -6.87702298e-02
 -2.66410559e-02  1.45605141e-02  1.52172837e-02  3.61887924e-02
 -1.32270437e-02  3.38631980e-02 -4.94545959e-02  2.27253437e-02
  2.08608294e-03  1.38297975e-02  2.99557447e-02  5.24022356e-02
  6.28218129e-02 -5.07034510e-02  1.62085425e-02  7.58562163e-02
  1.56758446e-02  9.15148109e-02 -5.65731451e-02 -3.49177085e-02
 -1.33335935e-02  3.18246409e-02  2.15629879e-02 -2.37348229e-02
  5.86300343e-03  8.27967674e-02  4.34330441e-02 -4.85913493e-02
 -3.47407945e-02  9.36351367e-04 -1.46476794e-02  3.70980948e-02
  2.03471375e-03 -3.27784605e-02  3.93482596e-02  9.25315358e-03
  1.76170301e-02 -8.64289328e-03  4.82694693e-02  7.47600384e-03
  3.50758396e-02  6.93540946e-02 -5.37716150e-02 -2.97478288e-02
  6.01091422e-03 -1.24003952e-02 -3.03240325e-02 -2.26815213e-02
 -4.15087268e-02 -3.17616127e-02 -1.06321618e-01  8.51173699e-02
  8.15598201e-03  8.24856609e-02  5.81719279e-02 -3.83357108e-02
 -3.81593406e-02 -2.45018955e-03 -1.12381570e-01  9.28054471e-03
 -1.27257714e-02 -6.76375851e-02  2.53789555e-02  1.14039097e-33
  1.49041772e-01 -6.36225119e-02  1.05662094e-02 -1.17515638e-01
 -2.54356749e-02 -6.77024126e-02  1.41212583e-01  1.78582836e-02
 -2.69884020e-02  2.49108784e-02  2.45262701e-02 -1.02065206e-01
  3.14717703e-02 -6.51005059e-02  8.80371109e-02  3.21277194e-02
  9.28281154e-03  5.65061532e-02 -2.36993190e-02  3.02903038e-02
 -7.01150224e-02  3.33061330e-02 -1.54251587e-02  7.29039460e-02
  7.83858995e-04 -3.49970683e-02  4.42747883e-02 -2.39054728e-02
 -6.68275729e-02 -4.32903431e-02 -3.69757637e-02 -1.94247924e-02
 -7.26320893e-02  1.84162855e-01 -4.56973128e-02  4.62423936e-02
  3.53845656e-02 -2.40906812e-02  2.85149366e-02 -1.00737484e-03
 -3.44215967e-02  3.06113958e-02 -5.44130430e-02  1.47057086e-01
 -3.53608355e-02  7.95878936e-04  3.58300954e-02  6.81514591e-02
  7.24356100e-02 -1.03207707e-01  4.40544337e-02 -8.33667591e-02
 -9.44993272e-02  2.86514908e-02 -3.36481258e-02 -1.59321520e-02
  3.21806483e-02  2.58856732e-03 -3.57566848e-02 -1.57354083e-02
 -2.19061021e-02  2.68587749e-02  1.02031762e-02  4.09942083e-02
  1.77316424e-02 -3.87407988e-02 -2.30193697e-02  2.25452874e-02
  4.16501984e-02 -1.33742005e-01  4.23688330e-02 -7.80285373e-02
  4.34085466e-02  5.58287464e-02  1.32287638e-02  4.82536145e-02
  4.43531573e-03  5.31475507e-02  1.14138061e-02  1.27753215e-02
  3.58476490e-02 -3.00888568e-02 -1.59678478e-02  2.59606843e-03
 -3.77226174e-02 -4.70678136e-03  4.40059677e-02  1.63170528e-02
 -4.54089791e-02 -5.96039928e-02  1.06773861e-02  7.73485005e-02
 -9.99872200e-03  1.49169948e-03 -3.62105705e-02 -2.14236149e-08
 -3.71888615e-02 -2.62788236e-02 -2.71244589e-02 -3.25108059e-02
 -2.60182191e-02  4.01810296e-02  2.19905954e-02 -1.95684470e-02
  2.18038913e-02  7.99237937e-02  1.08821662e-02  2.79415082e-02
 -5.01388013e-02 -4.50753570e-02 -3.47469114e-02  4.44355309e-02
 -1.63838733e-02  1.77761689e-01  3.15614641e-02  6.46510869e-02
  2.80870800e-03  5.79356449e-03 -1.66266914e-02 -1.31453261e-01
  2.24581175e-02 -1.69801712e-02 -4.55610044e-02 -6.92046387e-03
  5.73463738e-02  3.04222107e-02  1.36324182e-01 -2.91117672e-02
  2.23485529e-02 -5.26294522e-02 -4.06933837e-02 -4.14080322e-02
  1.21400759e-01 -5.12419939e-02 -4.08339640e-03  3.13868076e-02
  3.01041994e-02  4.42165025e-02 -7.98453316e-02 -3.93295586e-02

In [118]:
# Get the embedding dimension from the pretrained model
sample_embedding = model.encode(["test"])[0]  # Generate an example embedding
embedding_dim = sample_embedding.shape[0]     # Determine the dimension

# Define a zero embedding vector
zero_embedding = np.zeros(embedding_dim)

# Updated function to fetch embeddings
def get_embedding(predicate, embedding_dict):
    if predicate is not None and predicate in embedding_dict:
        return embedding_dict[predicate]
    return zero_embedding  # Return a zero vector if predicate is None or not in the dictionary

# Add EMBEDDING1, EMBEDDING2, and EMBEDDING3 columns to df_node_feat
df_node_feat['EMBEDDING1'] = df_node_feat['PREDICATE1'].apply(lambda pred: get_embedding(pred, predicate_embedding_dict))
df_node_feat['EMBEDDING2'] = df_node_feat['PREDICATE2'].apply(lambda pred: get_embedding(pred, predicate_embedding_dict))
df_node_feat['EMBEDDING3'] = df_node_feat['PREDICATE3'].apply(lambda pred: get_embedding(pred, predicate_embedding_dict))

# Display the updated DataFrame
print(df_node_feat[['PREDICATE1', 'EMBEDDING1', 'PREDICATE2', 'EMBEDDING2', 'PREDICATE3', 'EMBEDDING3']])

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  PREDICATE1  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
3   AHNAF.MOVIE_INFO.INFO IN ('Sweden               ', 'Norway               ', 'Germany              ', 'Denmark              ', 'Swedish              ', 'Denish               ', 'Norwegian            ', 'German               ', 'USA                  ', 'CANADA               ', 'Netherlands          ', 'Brazil               ', 'UK                   ', 'Belgium              ', 'Finland              ', 'Hungary              ', 'Estonia              ', 'worldwide            ', 'Australia            ', 'Spain                ', 'France               ', 'Japan                ', 'Columbia             ', 'Slovenia             ', 'Israel               ', 'Venezuela            ', 'Nigeria              ', 'Philippines          ', 'New Zealand          ', 'Ireland              ', 'Romania              ', 'Non-USA              ', 'Bulgaria             ', 'Argentina            ', 'Malaysia             ', 'Singapore            ', 'Turkey               ', 'Sri Lanka            ', 'Italy                ', 'Indonesia            ', 'South Korea          ', 'Vietnam              ', 'Slovakia             ', 'Czech Republic       ', 'China                ', 'Portugal             ', 'Greece               ', 'Republic of Macedonia', 'Serbia               ', 'Jamaica              ', 'Switzerland          ', 'Yugoslavia           ', 'Mexico               ', 'Austria              ', 'Russia               ')
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      AHNAF.LINK_TYPE.LINK LIKE '%follows%'
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        NaN
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   AHNAF.COMPANY_NAME.COUNTRY_CODE = '[jp]'
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       NaN
11                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       NaN
12                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          AHNAF.COMPANY_TYPE.KIND = 'production companies'

In [119]:
df_node_feat.sample(1)

,OPERATOR_ID,OPERATOR_TYPE,TABLE,PREDICATE1,PREDICATE2,PREDICATE3,PARSED_PRED1,PARSED_PRED2,PARSED_PRED3,FILTER_FACTOR1,FILTER_FACTOR2,FILTER_FACTOR3,JOIN_KEY,HEIGHT,PREDICATE_MASK,EMBEDDING1,EMBEDDING2,EMBEDDING3
14,13,HSJOIN,NaN,NaN,NaN,NaN,None,None,None,1.0,1.0,1.0,AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID,3,"[0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...]"

In [120]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2',
       'PREDICATE3', 'PARSED_PRED1', 'PARSED_PRED2', 'PARSED_PRED3',
       'FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3', 'JOIN_KEY',
       'HEIGHT', 'PREDICATE_MASK', 'EMBEDDING1', 'EMBEDDING2', 'EMBEDDING3'],
      dtype='object')

In [121]:
# Helper function for label encoding with NaN values set to 0
def label_encode_with_nan(value, encoder, counter_start=1):
    if pd.isna(value):
        return 0, counter_start  # Return 0 for NaN and do not increment the counter
    if value not in encoder:
        encoder[value] = counter_start
        counter_start += 1
    return encoder[value], counter_start

### Load or Initialize Encoding Dictionaries

In [122]:
import pickle
import os

# Paths for dictionary storage
dictionary_dir = "./dictionaries"
os.makedirs(dictionary_dir, exist_ok=True)
op_type_file = os.path.join(dictionary_dir, "op_type_encoder.pkl")
table_file = os.path.join(dictionary_dir, "table_encoder.pkl")
join_key_file = os.path.join(dictionary_dir, "join_key_encoder.pkl")

# Load or initialize dictionaries
def load_or_initialize(file_path):
    if os.path.exists(file_path):
        with open(file_path, 'rb') as f:
            return pickle.load(f)
    return {}

op_type_encoder = load_or_initialize(op_type_file)
table_encoder = load_or_initialize(table_file)
join_key_encoder = load_or_initialize(join_key_file)

### Perform Encoding

In [123]:
# Counters for label encoding
op_type_counter, table_counter, join_key_counter = len(op_type_encoder) + 1, len(table_encoder) + 1, len(join_key_encoder) + 1
encoded_operator_type = []
encoded_table = []
encoded_join_key = []

for op, tbl, jk in zip(df_node_feat['OPERATOR_TYPE'], df_node_feat['TABLE'], df_node_feat['JOIN_KEY']):
    encoded_op, op_type_counter = label_encode_with_nan(op, op_type_encoder, op_type_counter)
    encoded_operator_type.append(encoded_op)
    
    encoded_tbl, table_counter = label_encode_with_nan(tbl, table_encoder, table_counter)
    encoded_table.append(encoded_tbl)
    
    encoded_jk, join_key_counter = label_encode_with_nan(jk, join_key_encoder, join_key_counter)
    encoded_join_key.append(encoded_jk)

df_node_feat['ENCODED_OPERATOR_TYPE'] = encoded_operator_type
df_node_feat['ENCODED_TABLE'] = encoded_table
df_node_feat['ENCODED_JOIN_KEY'] = encoded_join_key

### Save Dictionaries

In [124]:
# Save updated dictionaries back to files
with open(op_type_file, 'wb') as f:
    pickle.dump(op_type_encoder, f)
with open(table_file, 'wb') as f:
    pickle.dump(table_encoder, f)
with open(join_key_file, 'wb') as f:
    pickle.dump(join_key_encoder, f)

### Display Encoding Results and Dictionaries

In [125]:
# Inspect encoded columns and dictionaries
print(df_node_feat[['OPERATOR_TYPE', 'TABLE', 'JOIN_KEY', 'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY']])
print("\nOPERATOR_TYPE Encoding Dictionary:", op_type_encoder)
print("TABLE Encoding Dictionary:", table_encoder)
print("JOIN_KEY Encoding Dictionary:", join_key_encoder)

   OPERATOR_TYPE                  TABLE  \
0         RETURN                    NaN
1         TQ                        NaN
2         HSJOIN                    NaN
3         TBSCAN       AHNAF.MOVIE_INFO
4         HSJOIN                    NaN
5         HSJOIN                    NaN
6         TBSCAN        AHNAF.LINK_TYPE
7         TBSCAN       AHNAF.MOVIE_LINK
8         HSJOIN                    NaN
9         TBSCAN     AHNAF.COMPANY_NAME
10        HSJOIN                    NaN
11        HSJOIN                    NaN
12        TBSCAN     AHNAF.COMPANY_TYPE
13        TBSCAN  AHNAF.MOVIE_COMPANIES
14        HSJOIN                    NaN
15        TBSCAN            AHNAF.TITLE
16        HSJOIN                    NaN
17        TBSCAN    AHNAF.MOVIE_KEYWORD
18        TBSCAN          AHNAF.KEYWORD

                                                         JOIN_KEY  \
0                                                             NaN
1                                                             NaN
2           AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID
3                                                             NaN
4              AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID
5      AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID
6                                                             NaN
7                                                             NaN
8        AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID
9                                                             NaN
10  AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID
11                AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID
12                                                            NaN
13                                                            NaN
14                  AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID
15                                                            NaN
16              AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID
17                                                            NaN
18                                                            NaN

    ENCODED_OPERATOR_TYPE  ENCODED_TABLE  ENCODED_JOIN_KEY
0                       1              0                 0
1                       2              0                 0
2                       3              0                11
3                       4              2                 0
4                       3              0                 6
5                       3              0                 5
6                       4              6                 0
7                       4              7                 0
8                       3              0                 3
9                       4              3                 0
10                      3              0                 4
11                      3              0                12
12                      4              4                 0
13                      4              5                 0
14                      3              0                13
15                      4              1                 0
16                      3              0                 8
17                      4              8                 0
18                      4              9                 0

OPERATOR_TYPE Encoding Dictionary: {'RETURN': 1, 'TQ    ': 2, 'HSJOIN': 3, 'TBSCAN': 4}
TABLE Encoding Dictionary: {'AHNAF.TITLE': 1, 'AHNAF.MOVIE_INFO': 2, 'AHNAF.COMPANY_NAME': 3, 'AHNAF.COMPANY_TYPE': 4, 'AHNAF.MOVIE_COMPANIES': 5, 'AHNAF.LINK_TYPE': 6, 'AHNAF.MOVIE_LINK': 7, 'AHNAF.MOVIE_KEYWORD': 8, 'AHNAF.KEYWORD': 9}
JOIN_KEY Encoding Dictionary: {'AHNAF.MOVIE_INFO.MOVIE_ID = AHNAF.TITLE.ID': 1, 'AHNAF.MOVIE_COMPANIES.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID': 2, 'AHNAF.MOVIE_COMPANIES.COMPANY_ID = AHNAF.COMPANY_NAME.ID': 3, 'AHNAF.MOVIE_COMPANIES.COMPANY_TYPE_ID = AHNAF.COMPANY_TYPE.ID': 4, 'AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID': 5, 'AHNAF.LINK_TYPE.ID = AHNAF.MOVIE_LINK.LINK_TYPE_ID': 6, 'AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID': 7, 'AHNAF.MOVIE_KEYWORD.KEYWORD_ID = AHNAF.KEYWORD.ID': 8, 'AHNAF.TITLE.ID = AHNAF.MOVIE_LINK.MOVIE_ID': 9, 'AHNAF.MOVIE_KEYWORD.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID': 10, 'AHNAF.MOVIE_LINK.MOVIE_ID = AHNAF.MOVIE_INFO.MOVIE_ID': 11, 'AHNAF.TITLE.ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID': 12, 'AHNAF.TITLE.ID = AHNAF.MOVIE_KEYWORD.MOVIE_ID': 13, 'AHNAF.MOVIE_KEYWORD.MOVIE_ID = AHNAF.MOVIE_COMPANIES.MOVIE_ID': 14}

In [126]:
df_node_feat[['ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY', 'PREDICATE_MASK']]

    ENCODED_OPERATOR_TYPE  ENCODED_TABLE  ENCODED_JOIN_KEY PREDICATE_MASK
0                       1              0                 0      [0, 0, 0]
1                       2              0                 0      [0, 0, 0]
2                       3              0                11      [0, 0, 0]
3                       4              2                 0      [1, 0, 0]
4                       3              0                 6      [0, 0, 0]
5                       3              0                 5      [0, 0, 0]
6                       4              6                 0      [1, 0, 0]
7                       4              7                 0      [0, 0, 0]
8                       3              0                 3      [0, 0, 0]
9                       4              3                 0      [1, 0, 0]
10                      3              0                 4      [0, 0, 0]
11                      3              0                12      [0, 0, 0]
12                      4              4                 0      [1, 0, 0]
13                      4              5                 0      [1, 0, 0]
14                      3              0                13      [0, 0, 0]
15                      4              1                 0      [1, 1, 0]
16                      3              0                 8      [0, 0, 0]
17                      4              8                 0      [0, 0, 0]
18                      4              9                 0      [1, 0, 0]

# Making a tensor of node features

In [127]:
df_node_feat.columns

Index(['OPERATOR_ID', 'OPERATOR_TYPE', 'TABLE', 'PREDICATE1', 'PREDICATE2',
       'PREDICATE3', 'PARSED_PRED1', 'PARSED_PRED2', 'PARSED_PRED3',
       'FILTER_FACTOR1', 'FILTER_FACTOR2', 'FILTER_FACTOR3', 'JOIN_KEY',
       'HEIGHT', 'PREDICATE_MASK', 'EMBEDDING1', 'EMBEDDING2', 'EMBEDDING3',
       'ENCODED_OPERATOR_TYPE', 'ENCODED_TABLE', 'ENCODED_JOIN_KEY'],
      dtype='object')

In [128]:
len(df_node_feat)

19

In [129]:
tensor_data = []
for _, row in df_node_feat.iterrows():
    # Flatten all values into a single list
    flat_row = np.concatenate([
        [row['ENCODED_OPERATOR_TYPE']],
        [row['ENCODED_JOIN_KEY']],
        [row['ENCODED_TABLE']],
        row['PREDICATE_MASK'],
        row['EMBEDDING1'],  # Directly use the embedding column
        row['EMBEDDING2'],  # Directly use the embedding column
        row['EMBEDDING3'],  # Directly use the embedding column
        [row['FILTER_FACTOR1']],
        [row['FILTER_FACTOR2']],
        [row['FILTER_FACTOR3']]
    ])
    tensor_data.append(flat_row)

# Convert the list of concatenated rows into a tensor
x = torch.tensor(tensor_data, dtype=torch.float32)
x = x.unsqueeze(0)

In [130]:
x.shape

torch.Size([1, 19, 1161])

In [131]:
def pad_2d_unsqueeze(x, padlen):
    # dont know why add 1, comment out first
#    x = x + 1 # pad id = 0
    _, xlen, xdim = x.size()
    if xlen < padlen:
        new_x = x.new_zeros([padlen, xdim], dtype=x.dtype) + 1
        new_x[:xlen, :] = x
        x = new_x
    return x.unsqueeze(0)

def pad_1d_unsqueeze(x, padlen):
    x = x + 1 # pad id = 0
    xlen = x.size(0)
    if xlen < padlen:
        new_x = x.new_zeros([padlen], dtype=x.dtype)
        new_x[:xlen] = x
        x = new_x
    return x.unsqueeze(0)

In [132]:
x = pad_2d_unsqueeze(x, max_node)

In [133]:
x.shape

torch.Size([1, 30, 1161])

In [134]:
heights.shape

torch.Size([1, 30])

In [135]:
attn_bias.shape

torch.Size([1, 31, 31])

In [136]:
attn_bias

tensor([[[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., 0., 0., 0., 0., -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., 0., 0., -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf, 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf],
         [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., -inf, -inf, -inf,
          -inf, -inf, -inf, -inf, -inf, -inf, -inf, -inf]]])

## Define Model

In [137]:
class Args:
    # bs = 1024
    # SQ: smaller batch size
    bs = 1
    #lr = 0.001
    lr = 0.001
    # epochs = 200
    epochs = 50
    clip_size = 50
    embed_size = 64
    pred_hid = 128
    ffn_dim = 128
    head_size = 12
    n_layers = 8
    dropout = 0.1
    sch_decay = 0.6
    # device = 'cuda:0'
    device = 'cpu'
    newpath = 'job_queries_training'
    to_predict = 'cost'
args = Args()

import os
if not os.path.exists(args.newpath):
    os.makedirs(args.newpath)

In [138]:
from model.model import QueryFormer

model = QueryFormer(emb_size = args.embed_size ,ffn_dim = args.ffn_dim, head_size = args.head_size, \
                 dropout = args.dropout, n_layers = args.n_layers, \
                 use_sample = False, use_hist = False, \
                 pred_hid = args.pred_hid
                )

In [139]:
from model.dataset import PlanTreeDataset

In [140]:
cost_labels

tensor([0.9500], dtype=torch.float64)

In [141]:
raw_costs

[58513.0]

In [142]:
type(x)

torch.Tensor

In [143]:
type(rel_pos)

torch.Tensor

In [144]:
type(attn_bias)

torch.Tensor

In [145]:
type(heights)

torch.Tensor

In [146]:
type(cost_labels)

torch.Tensor

In [147]:
type(raw_costs)

list

In [148]:
x.shape

torch.Size([1, 30, 1161])

In [149]:
attn_bias.shape

torch.Size([1, 31, 31])

In [150]:
type(x)

torch.Tensor

In [151]:
rel_pos.shape

torch.Size([1, 30, 30])

In [152]:
heights.shape

torch.Size([1, 30])

In [153]:
cost_labels.shape

torch.Size([1])

In [154]:
type(raw_costs)

list

In [155]:
raw_costs = torch.from_numpy(np.array(raw_costs))

In [156]:
type(raw_costs)

torch.Tensor

In [157]:
raw_costs

tensor([58513.], dtype=torch.float64)

# Storing a collection of tensors for the given plan

In [158]:
# Directory where the file will be saved
save_dir = "./job_queries/tensors"
# Ensure the directory exists
os.makedirs(save_dir, exist_ok=True)

# Dynamically construct the filename
filename = os.path.join(save_dir, f"query_{QUERYID}_{query1_ts}.pt")

In [159]:
print(f'x.shape: {x.shape}')
print(f'rel_pos.shape: {rel_pos.shape}')
print(f'attn_bias.shape: {attn_bias.shape}')
print(f'heights.shape: {heights.shape}')
print(f'cost_labels.shape: {cost_labels.shape}')
print(f'raw_costs.shape: {raw_costs.shape}')

x.shape: torch.Size([1, 30, 1161])
rel_pos.shape: torch.Size([1, 30, 30])
attn_bias.shape: torch.Size([1, 31, 31])
heights.shape: torch.Size([1, 30])
cost_labels.shape: torch.Size([1])
raw_costs.shape: torch.Size([1])

In [160]:
# Save tensors as a dictionary
tensor_collection = {
    "x": x,
    "rel_pos": rel_pos,
    "attn_bias": attn_bias,
    "heights": heights,
    "cost_labels": cost_labels,
    "raw_costs": raw_costs,
}

torch.save(tensor_collection, filename)
print(f"Tensors saved successfully as {filename}!")

Tensors saved successfully as ./job_queries/tensors/query_10_2024-12-03-20.44.01.238859.pt!

In [161]:
# Load the saved tensor collection
loaded_tensors = torch.load("tensor_collection.pt")

# Access each tensor
x_loaded = loaded_tensors["x"]
rel_pos_loaded = loaded_tensors["rel_pos"]
attn_bias_loaded = loaded_tensors["attn_bias"]
heights_loaded = loaded_tensors["heights"]
cost_labels_loaded = loaded_tensors["cost_labels"]
raw_costs_loaded = loaded_tensors["raw_costs"]

# Print the shapes to verify
print(f"x shape: {x_loaded.shape}")
print(f"rel_pos shape: {rel_pos_loaded.shape}")
print(f"attn_bias shape: {attn_bias_loaded.shape}")
print(f"heights shape: {heights_loaded.shape}")
print(f"cost_labels shape: {cost_labels_loaded.shape}")
print(f"raw_costs shape: {raw_costs_loaded.shape}")

x shape: torch.Size([1, 30, 1161])
rel_pos shape: torch.Size([1, 30, 30])
attn_bias shape: torch.Size([1, 31, 31])
heights shape: torch.Size([1, 30])
cost_labels shape: torch.Size([1])
raw_costs shape: torch.Size([1])

In [162]:
QUERYID

10